<div class="container right-content">
    <div class="col-md-12" style="padding: 10px 10px 10px 0px; border: 0px solid #000">
        <h2 class="staticLabel">View Polls Results</h2>
    </div> 
  
    <div class="example-container mat-elevation-z8">
        <!-- <div class="form-header col-md-12" style="background-color:lightgrey;">
            <label class="staticLabel font-size-s boldText">View Polls Results</label>
        </div> -->
      
        <!-- <div class="col-md-12 paddingTop-25 example-header">
            <mat-form-field class="font-size-s" >
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div> -->

        <mat-table #table [dataSource]="dataSource" style="max-height: 550px;">     

            <!-- num Column -->
            <ng-container matColumnDef="num">
                <mat-header-cell class="text-align-left" style="flex: 0 0 4%;" *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell class="text-align-left" style="flex: 0 0 4%;" *matCellDef="let element">
                    {{element.pollRefNo}} 
                </mat-cell>
            </ng-container>

            <!-- Question 1 Column -->
            <ng-container matColumnDef="question">
                <mat-header-cell class="text-align-Left" style="flex: 0 0 21%;" *matHeaderCellDef> Question </mat-header-cell>
                <mat-cell class="text-align-Left padding5" style="flex: 0 0 21%;" *matCellDef="let element">
                    {{element.en[0].pollquestion}} 
                </mat-cell>
            </ng-container>
        
            <!-- Option 1 Column -->
            <ng-container matColumnDef="opt1">
                <mat-header-cell class="text-align-Center" style="flex: 0 0 15%;" *matHeaderCellDef> Option 1 </mat-header-cell>
                <mat-cell class="text-align-Left" style="flex: 0 0 15%;" *matCellDef="let element">
                    <div *ngIf="element.en[0].options[0].option != null" class="col-md-12">
                        {{element.en[0].options[0].option}} <br>
                        {{element.results[0].result}}/{{element.results[0].totalResult}}
                    </div>
                    <div *ngIf="element.en[0].options[0].option == null" class="col-md-12"> - </div>
                </mat-cell>
            </ng-container>

            <!-- Option 2 Column -->
            <ng-container matColumnDef="opt2">
                <mat-header-cell class="text-align-Center" style="flex: 0 0 15%;" *matHeaderCellDef> Option 2 </mat-header-cell>
                <mat-cell class="text-align-Left" style="flex: 0 0 15%;" *matCellDef="let element">
                    <div *ngIf="element.en[0].options[1].option != null" class="col-md-12">
                        {{element.en[0].options[1].option}} <br>
                        {{element.results[1].result}}/{{element.results[1].totalResult}}
                    </div>
                    <div *ngIf="element.en[0].options[1].option == null" class="col-md-12"> - </div>
                </mat-cell>
            </ng-container>
        
            <!-- Option 3 Column -->
            <ng-container matColumnDef="opt3">
                <mat-header-cell class="text-align-Center" style="flex: 0 0 15%;" *matHeaderCellDef> Option 3 </mat-header-cell>
                <mat-cell class="text-align-Left" style="flex: 0 0 15%;" *matCellDef="let element">
                    <div *ngIf="element.en[0].options[2].option != null" class="col-md-12">
                        {{element.en[0].options[2].option}} <br>
                        {{element.results[2].result}}/{{element.results[2].totalResult}}
                    </div>
                    <div *ngIf="element.en[0].options[2].option == null" class="col-md-12"> - </div>
                </mat-cell>
            </ng-container>

            <!-- Option 4 Column -->
            <ng-container matColumnDef="opt4">
                <mat-header-cell class="text-align-Center" style="flex: 0 0 15%;" *matHeaderCellDef> Option 4 </mat-header-cell>
                <mat-cell class="text-align-Left" style="flex: 0 0 15%;" *matCellDef="let element">
                    <div *ngIf="element.en[0].options[3].option != null" class="col-md-12">
                        {{element.en[0].options[3].option}} <br>
                        {{element.results[3].result}}/{{element.results[3].totalResult}}
                    </div>
                    <div *ngIf="element.en[0].options[3].option == null" class="col-md-12"> - </div>
                </mat-cell>
            </ng-container>

            <!-- Option 5 Column -->
            <ng-container matColumnDef="opt5">
                <mat-header-cell class="text-align-Center" style="flex: 0 0 15%;" *matHeaderCellDef> Option 5 </mat-header-cell>
                <mat-cell class="text-align-Left" style="flex: 0 0 15%;" *matCellDef="let element">
                    <div *ngIf="element.en[0].options[4].option != null" class="col-md-12">
                        {{element.en[0].options[4].option}} <br>
                        {{element.results[4].result}}/{{element.results[4].totalResult}}
                    </div>
                    <div *ngIf="element.en[0].options[4].option == null" class="col-md-12"> - </div>
                </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        
    </div>
    
    <div class="float-right paddingTop-15">
        <mat-form-field style="width:50px; margin-top: -10px">
            <mat-select class="font-size-s" value="10" style="text-align: center;" (change)="pageChange($event, commonservice.recordTable?.totalPages)">
            <mat-option value="5">5</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="25">25</mat-option>
            <mat-option value="50">50</mat-option>
            </mat-select>
        </mat-form-field>
        <span class="float-right">
            <span style="color:#000; padding-left:20px; padding-right:20px;">Pages
                <strong>{{commonservice.recordTable?.pageNumber}}</strong> of
                <strong>{{commonservice.recordTable?.totalPages}}</strong> in
                <strong>{{commonservice.recordTable?.totalElements}}</strong> polls questions
            </span>
            <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(commonservice.recordTable?.pageNumber)">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            </button>
            <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(commonservice.recordTable?.pageNumber, commonservice.recordTable?.totalPages)">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
        </span>
    </div>
</div>
   
<!-- <app-confirm-dialog  #resetModal 
[title]="'common.icon.warn'" 
[content]="'common.msg.reset'"
[state]="'common.state.warn'" 
[isReset]="'true'"
(resetMethod)="resetMethod($event)">
</app-confirm-dialog>

<app-confirm-dialog  #infoModal 
[title]="'common.icon.success'" 
[content]="'register.popupmsg.success_content1'"
[email] = "getEmail"
[content2] = "'register.popupmsg.success_content2'" 
[state]="'common.state.success'" 
[isRegister]="'index'">
</app-confirm-dialog> -->