<!-- VIEW: ADD/EDIT STATE  -->
<div class="container right-content">
  
  <div class="curdHeader">
      <div class="col-md-10 curdHeadingLeft">
          <h3>{{ pageMode | translate }} {{ 'state.header' | translate }} </h3>
      </div>
      
      <div class="col-md-2 curdHeadingRight">
          <span class="pull-right">
              <button type="button" mat-fab color="accent" (click)="back()" >
                  <i [ngClass]="commonservice.icon.arrLeft" class="font-size-l"></i></button>
          </span>
      </div> 
  </div>
  
  <div *ngIf="!commonservice.isWrite && !commonservice.isUpdate && !commonservice.isRead" class="alert alert-danger">
    {{'common.msg.unauthorized' | translate}}
  </div>
  
  <form [formGroup]="updateForm" *ngIf="commonservice.isRead || commonservice.isWrite ||  commonservice.isUpdate" autocomplete="off" role="form" novalidate>
  
      <div class="example-container mat-elevation-z8 col-md-12">

        <div class="row">
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput tabindex="1" placeholder="{{ 'state.tableHeader.name' | translate }}" formControlName="stateName" (keyup)="checkReqValues()" required>
              <mat-error *ngIf="updateForm.controls.stateName.hasError('required')">
                {{ 'state.err.name' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="isEdit" class="col-md-6">
            <label class="font-size-s" style="color: rgba(0,0,0, 0.37); margin-bottom: -1%">Id</label>
            <p class="font-size-s">{{ stateId }}</p>
          </div>
          <div class="col-md-12">&nbsp;</div>
        </div>

      <!-- <div class="row">
        <div class="col-md-12">
          <mat-checkbox tabindex="8" formControlName="active"></mat-checkbox><span class="">&nbsp;{{ 'common.buttons.active' | translate }}</span>
        </div>
        <div class="col-md-12">&nbsp;</div>
      </div> -->
      </div>
        
      <!-- <div class="container"> -->
      <div class="col-md-12">&nbsp;</div>
        <div class="form-group" *ngIf="commonservice.isUpdate || commonservice.isWrite">
          <button mat-raised-button type="button" color="primary" id="btnsubmit" class="btn btn-md btn-success  pull-right"
            (click)="updateAction(updateForm.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;" [disabled]="!complete">
            <i *ngIf="complete" [ngClass]="commonservice.icon.check"></i>
            <i *ngIf="!complete" [ngClass]="commonservice.icon.times"></i>{{ pageMode | translate}}</button>
          <button mat-raised-button color="warn" type="button" id="btnreset" class="btn btn-md btn-warning  pull-right"
            style="width: 100px; font-family: Roboto" (click)="myFunction()">
            <i [ngClass]="commonservice.icon.refresh"></i>&nbsp;Reset</button>
        </div>
      <div class="col-md-12">&nbsp;</div>
    <!-- </div> -->
  </form>
</div>
