<div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
    <div class="curdHeader">
        <div class="col-md-10 curdHeadingLeft">
            <h3>{{ 'accstatuslist.header' | translate }}</h3>
        </div>
        
        <div class="col-md-2 curdHeadingRight">
            <!-- <span class="pull-right">
                <button type="button" *ngIf="commonservice.isWrite" mat-fab color="warn" (click)="add()" >
                <i [ngClass]="commonservice.icon.plus" class="font-size-m"></i></button>
            </span> -->
        </div> 
    </div>

    <div *ngIf="!commonservice.isRead" class="alert alert-danger">
        {{'common.msg.unauthorized' | translate}}
    </div>

    <div *ngIf="commonservice.isRead">
        <div class="example-container mat-elevation-z8">
        
            <!-- <div class="col-md-12 paddingTop-10">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div> -->

            <mat-table #table [dataSource]="dataSource">           
            
                <!-- num Column -->
                <ng-container matColumnDef="num">
                    <mat-header-cell class="text-align-left" style="flex: 0 0 4%;" *matHeaderCellDef> {{ 'accstatuslist.tableHeader.num' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-left" style="flex: 0 0 4%;" *matCellDef="let element; let i = index;">
                        {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
                    </mat-cell>
                </ng-container>
            
                <!-- Account Status en Column -->
                <ng-container matColumnDef="accEng">
                    <mat-header-cell class="text-align-Left" *matHeaderCellDef> {{ 'accstatuslist.tableHeader.accStatus' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Left" *matCellDef="let element">
                        {{element.accountStatusDescription}} 
                    </mat-cell>
                </ng-container>

                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell class="text-align-Center" class="statusColumn" *matHeaderCellDef> {{ 'accstatuslist.tableHeader.activeStatus' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Center" class="statusColumn" *matCellDef="let element">
                        <i *ngIf="element.enabled == true" [ngClass]="commonservice.icon.check" class="color_green"></i>
                        <i *ngIf="element.enabled == false" [ngClass]="commonservice.icon.times" class="color_red"></i>
                    </mat-cell>
                </ng-container>

                <!-- action Column -->
                <!-- <ng-container matColumnDef="action">
                    <mat-header-cell class="text-align-Center" class="actionColumn" *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell class="text-align-Center" class="actionColumn" *matCellDef="let element">
                        <button mat-mini-fab style="background: orange" *ngIf="commonservice.isUpdate" (click)="updateRow(element.refCode)">
                        <i class="fa fa-eye" title="View {{ element.refCode }}"></i></button>
                        &nbsp;
                        <button mat-mini-fab style="background: red" *ngIf="commonservice.isDelete" (click)="deleteModal.show()">
                        <i class="fa fa-trash" title="Delete {{ element.refCode}}"></i></button>
                        <app-confirm-dialog  #deleteModal 
                        [title]="'common.icon.warn'" 
                        [content]="'common.msg.delete'"
                        [state]="'bg_header bg_warn_header'"
                        [isReset]="'true'"
                        (resetMethod)="deleteRow(element.refCode)">
                        </app-confirm-dialog>
                    </mat-cell>
                </ng-container> -->
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            
        </div>

        <div class="float-right paddingTop-15">
            <mat-form-field class="table_footer_pagecount">
                <mat-select class="font-size-s" [(ngModel)]="commonservice.defaultPageSize" class="text-align-Center" (change)="pageChange($event, commonservice.recordTable?.totalPages)">
                <mat-option *ngFor="let pgcount of commonservice.pageSize" [value]="pgcount.size">{{pgcount.size}}</mat-option>
                <!-- <mat-option value="10">10</mat-option>
                <mat-option value="25">25</mat-option>
                <mat-option value="50">50</mat-option> -->
                </mat-select>
            </mat-form-field>
            <span class="float-right">
                <span class="table_footer_pagination">{{ 'accstatuslist.tablebottom.page' | translate }}
                    <strong>{{commonservice.recordTable?.pageNumber}}</strong> {{ 'accstatuslist.tablebottom.of' | translate }}
                    <strong>{{commonservice.recordTable?.totalPages}}</strong> {{ 'accstatuslist.tablebottom.in' | translate }}
                    <strong>{{commonservice.recordTable?.totalElements}}</strong> {{ 'accstatuslist.tablebottom.accStatus' | translate }}
                </span>
                <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(commonservice.recordTable?.pageNumber)">
                <i [ngClass]="commonservice.icon.arrLeft" aria-hidden="true"></i>
                </button>
                <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(commonservice.recordTable?.pageNumber, commonservice.recordTable?.totalPages)">
                <i [ngClass]="commonservice.icon.arrRight" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
</div>

<!-- <app-confirm-dialog  #resetModal 
[title]="'common.icon.warn'" 
[content]="'common.msg.reset'"
[state]="'common.state.warn'" 
[isReset]="'true'"
(resetMethod)="resetMethod($event)">
</app-confirm-dialog>

<app-confirm-dialog  #infoModal 
[title]="'common.icon.success'" 
[content]="'register.popupmsg.success_content1'"
[email] = "getEmail"
[content2] = "'register.popupmsg.success_content2'" 
[state]="'common.state.success'" 
[isRegister]="'index'">
</app-confirm-dialog> -->