<!-- VIEW: ADD/EDIT ERROR -->
<div class="container right-content">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
    <div class="curdHeader">
      <div class="col-md-10 curdHeadingLeft">
        <h3>{{ pageMode }} Agency</h3>
      </div>
  
      <div class="col-md-2 curdHeadingRight">
        <span class="pull-right">
          <button type="button" mat-fab color="accent" (click)="back()">
            <i [ngClass]="commonservice.icon.arrLeft" class="font-size-l"></i>
          </button>
        </span>
      </div>
    </div>
  
    <div *ngIf="!commonservice.isWrite && !commonservice.isUpdate && !commonservice.isRead" class="alert alert-danger">
        {{'common.msg.unauthorized' | translate}}
    </div>
  
    <form [formGroup]="updateForm" *ngIf="commonservice.isRead || commonservice.isWrite || commonservice.isUpdate" autocomplete="off" role="form" novalidate>
  
      <div class="example-container mat-elevation-z8 padding-10">
  
        <div class="row">
          <div class="col-md-6">
            <label>English</label>
            <mat-form-field class="example-full-width">
              <input matInput tabindex="1" placeholder="Agency Name" formControlName="agencyNameEn" (change)="checkReqValues()" required>
              <mat-error *ngIf="updateForm.controls.agencyNameEn.hasError('required')">
                Agency Name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput tabindex="3" placeholder="Description" formControlName="descEn" #descEn maxLength="10000" (change)="checkReqValues()"
                required></textarea>
              <mat-error *ngIf="updateForm.controls.descEn.hasError('required')">
                Description is required
              </mat-error>
              <mat-hint align="end">{{descEn.value?.length || 0}}/10000</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <label>Bahasa Malaysia</label>
            <mat-form-field class="example-full-width">
              <input matInput tabindex="2" placeholder="Agency Name" formControlName="agencyNameBm" (change)="checkReqValues()" required>
              <mat-error *ngIf="updateForm.controls.agencyNameBm.hasError('required')">
                Agency Name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput tabindex="4" placeholder="Description" formControlName="descBm" #descBm maxLength="10000" (change)="checkReqValues()"
                required></textarea>
              <mat-error *ngIf="updateForm.controls.descBm.hasError('required')">
                Description is required
              </mat-error>
              <mat-hint align="end">{{descBm.value?.length || 0}}/10000</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="5" placeholder="Ministry" formControlName="ministryEn" #ministryEn (keyup)="getSearchData(ministryEn.value, 1)" (change)="checkReqValues()" required>
                <mat-error *ngIf="updateForm.controls.ministryEn.hasError('required')">
                  Ministry is required
                </mat-error>
              </mat-form-field>

              <div *ngIf="isActiveListEn" style="position:absolute; left: 3%; top:70%; z-index: 9999;">
                <ul class="list-group pmd-z-depth pmd-list pmd-card-list pmd-list">
                  <li class="list-group-item" *ngFor="let data of searchMinistryResultEn">
                    <a class="list-link" (click)="getValue(data?.ministryId, data?.ministryName, data?.ministryCode, 1)"><span class="list-group-item-text">{{data?.ministryName}}</span></a>
                  </li>
                </ul>
              </div>
          </div>
          <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="6" placeholder="Ministry" formControlName="ministryBm" #ministryBm (keyup)="getSearchData(ministryBm.value, 2)" (change)="checkReqValues()" required>
                <mat-error *ngIf="updateForm.controls.ministryBm.hasError('required')">
                  Ministry is required
                </mat-error>
              </mat-form-field>

              <div *ngIf="isActiveListBm" style="position:absolute; left: 3%; top:70%; z-index: 9999;">
                <ul class="list-group pmd-z-depth pmd-list pmd-card-list pmd-list">
                  <li class="list-group-item" *ngFor="let data of searchMinistryResultBm">
                    <a class="list-link" (click)="getValue(data?.ministryId,data?.ministryName, data?.ministryCode, 2)"><span class="list-group-item-text">{{data?.ministryName}}</span></a>
                  </li>
                </ul>
              </div>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width font-size-s">
              <input matInput placeholder="Agency Unique Code" formControlName="uniqueCode" #UniqueCode (change)="checkReqValues()"
                required>
              <mat-error *ngIf="updateForm.controls.uniqueCode.hasError('required')">
                Agency Unique Code required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <!-- LOCATION -->
        <div class="row paddingTop-20">
          <div class="col-md-12">
            <label>Location Details</label>
          </div>
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <textarea matInput tabindex="6" placeholder="Address" formControlName="address" #address maxLength="10000" required></textarea>
              <mat-error *ngIf="updateForm.controls.address.hasError('required')">
                Address is required
              </mat-error>
              <mat-hint align="end">{{address.value?.length || 0}}/10000</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput tabindex="7" placeholder="Latitude" formControlName="agclat">
              <mat-error *ngIf="updateForm.controls.agclat.hasError('required')">
                Latitude is required
              </mat-error>
              <mat-error *ngIf="!validateCtrlChk(agclat) &&  updateForm.controls.agclat.errors.pattern">
                Latitude Pattern not valid
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput tabindex="8" placeholder="Longitude" formControlName="agclong">
              <mat-error *ngIf="updateForm.controls.agclong.hasError('required')">
                Longitude is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <!-- CONTACT -->
        <div class="row paddingTop-20">
            <div class="col-md-12">
              <label class="">Contact Details</label>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="9" placeholder="Contact Person" formControlName="contactperson" (change)="checkReqValues()" required>
                <mat-error *ngIf="updateForm.controls.contactperson.hasError('required')">
                  Contact Person is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="10" placeholder="Email" formControlName="email" (change)="checkReqValues()" required>
                <mat-error *ngIf="updateForm.controls.email.hasError('required')">
                  Email is required
                </mat-error>
                <mat-error *ngIf="!validateCtrlChk(email) &&  updateForm.controls.email.errors.pattern">
                  Email Pattern not valid
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="11" placeholder="Phone Number" formControlName="phoneno" #phoneno [textMask]="{mask: maskPhoneNo}" (change)="checkReqValues()" required>
                <mat-error *ngIf="updateForm.controls.phoneno.hasError('required')">
                  Phone Number is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="12" placeholder="Fax Number" formControlName="faxno" #faxno [textMask]="{mask: maskFaxNo}" (change)="checkReqValues()">
                <mat-error *ngIf="updateForm.controls.faxno.hasError('required')">
                  Fax Number is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
        <!-- PUBLISHING -->
        <div class="row paddingTop-20">
            <div class="col-md-12">
              <label class="">Publishing</label>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="13" placeholder="Website URL" formControlName="websiteUrl" (change)="checkReqValues()" >
                <mat-error *ngIf="updateForm.controls.websiteUrl.hasError('required')">
                  Website URL is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="14" placeholder="RSS URL" formControlName="rssUrl" (change)="checkReqValues()">
                <mat-error *ngIf="updateForm.controls.rssUrl.hasError('required')">
                  Rss URL is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="15" placeholder="Blog URL" formControlName="blogUrl" (change)="checkReqValues()">
                <mat-error *ngIf="updateForm.controls.blogUrl.hasError('required')">
                  Blog URL is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              &nbsp;  
            </div>
          </div>
  
        <!-- SOCIAL MEDIA -->
        <div class="row paddingTop-20">
            <div class="col-md-12">
              <label>Social Media</label>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="16" placeholder="Facebook URL" formControlName="fbUrl" (change)="checkReqValues()">
                <mat-error *ngIf="updateForm.controls.fbUrl.hasError('required')">
                  Facebook URL is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="17" placeholder="Twitter URL" formControlName="twitterUrl" (change)="checkReqValues()">
                <mat-error *ngIf="updateForm.controls.twitterUrl.hasError('required')">
                  Twitter URL is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="18" placeholder="Youtube URL" formControlName="youtubeUrl" (change)="checkReqValues()">
                <mat-error *ngIf="updateForm.controls.youtubeUrl.hasError('required')">
                  Youtube URL is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="19" placeholder="Instagram URL" formControlName="instagramUrl" (change)="checkReqValues()">
                <mat-error *ngIf="updateForm.controls.instagramUrl.hasError('required')">
                  Instagram URL is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="20" placeholder="Flickr URL" formControlName="flickrUrl" (change)="checkReqValues()">
                <mat-error *ngIf="updateForm.controls.flickrUrl.hasError('required')">
                  Flickr URL is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
        <div class="row paddingTop-20">
          <div class="col-md-6">
            <mat-checkbox tabindex="21" formControlName="active" [checked]="true"></mat-checkbox>
            <span>&nbsp;Active</span>
          </div>
          <div class="col-md-6">
            <mat-checkbox tabindex="22" formControlName="mdecStatus"></mat-checkbox>
            <span>&nbsp;MDEC Status</span>
          </div>
        </div>
  
      </div>
  
      <div class="form-group paddingTop-20" *ngIf="commonservice.isUpdate || commonservice.isWrite">
        <button mat-raised-button type="button" tabindex="24" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success pull-right width_100px mgn_L_5px"
          (click)="updateAction(updateForm.value)" [disabled]="!complete">
          <i *ngIf="complete" [ngClass]="commonservice.icon.check"></i>
          <i *ngIf="!complete" [ngClass]="commonservice.icon.times"></i>&nbsp;{{ pageMode }}</button>
        <button mat-raised-button color="warn" type="button" tabindex="23" id="btnreset" class="form-control btn btn-md btn-warning width_100px pull-right"
         (click)="resetModal.show()">
          <i [ngClass]="commonservice.icon.refresh"></i>&nbsp;Reset</button>
      </div>
      <div class="col-md-12">&nbsp;</div>
    </form>
  </div>
  <app-confirm-dialog  #resetModal 
  [title]="'common.icon.warn'" 
  [content]="'common.msg.reset'"
  [state]="'bg_header bg_warn_header'"
  [isReset]="'true'"
  (resetMethod)="myFunction()">
  </app-confirm-dialog>