.right-content {
    width: 100%;
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
  
.mat-table {
  overflow: auto;
  max-height: 800px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.padding5 {
    padding:5px;
}

.editBtn{
  position: absolute;
  right: 10px;
  top: 65%;
}

.editBtn:hover {
  position: absolute;
  background-color: rgb(109, 185, 38);
  color: #FFF;
  right: 10px;
  top: 65%;
}

.editBtn-active {
  position: absolute;
  background-color: rgb(109, 185, 38);
  color: #FFF;
  right: 10px;
  top: 65%;
}
  