.submenu_link{
    display: block;
    padding: 10px 5px;
    font-size: 14px;
    color: #000;
}

.submenu_link:hover{
    text-decoration: none;
    background: #dddddd;
    color: #000;
    text-decoration: none;
}





.submenu_link_active {
    text-decoration: none;
    color: #000;
    background: #dddddd;
    text-decoration: none;
}

.submenu_link_active:focus{
    text-decoration: none;
    color: #000;
}