<form class="example-form">
	<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
            
	<div class="searchMod">
		<mat-form-field class="example-full-width">
			<input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="value" [ngModelOptions]="{standalone: true}" placeholder="Keywords">
			<button mat-button *ngIf="value" matSuffix mat-icon-button (click)="value='';resetSearch()">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>
	</div>
    
	<div *ngIf='menulst'>
		<div style="padding-bottom:0px; border-bottom: 1px solid #e6e6e6;">
			<a class="submenu_link" routerLinkActive="submenu_link_active" [routerLink]="['admin']">{{ 'home.content.adminManagement' | translate }}</a>
		</div>
		<div style="padding-bottom:0px; border-bottom: 1px solid #e6e6e6;">
			<a class="submenu_link" routerLinkActive="submenu_link_active" [routerLink]="['groupmodule']">{{ 'home.content.groupingManagement' | translate }}</a>
		</div>
		<mat-accordion>
			<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" >
				<mat-expansion-panel-header>
					<mat-panel-title style="font-weight: bold;">
						{{ 'home.content.allmodules' | translate }} <span class="module_counts" *ngIf="menulst">{{menulst?.moduleList?.length }}</span>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div style="padding-bottom: 0px;" *ngFor="let menu of menulst.moduleList">
						<a class="submenu_link" routerLinkActive="submenu_link_active" (click)="scrollTop()" [routerLink]=[menu.moduleUrl] >{{menu.moduleName}}</a>
				</div>
			</mat-expansion-panel>
		</mat-accordion>
		<!-- <div *ngFor="let menu of menulst.moduleList" style="padding-bottom: 0px; border-bottom: 1px solid #e6e6e6;">
			<a class="submenu_link" routerLinkActive="submenu_link_active" (click)="scrollTop()" [routerLink]=[menu.moduleUrl] >{{menu.moduleName}}</a>
		</div> -->
	</div>

	



	<mat-accordion *ngIf='menulist_non_admin'>
		<mat-expansion-panel *ngFor="let menu of menulist_non_admin.items">
			<mat-expansion-panel-header>
			<mat-panel-title style="font-weight: bold;">
				{{menu.moduleGroupName}}
			</mat-panel-title>
			</mat-expansion-panel-header>
			<div *ngFor="let sub of menu.modules" style="padding-bottom: 0px;">
			<a class="submenu_link" routerLinkActive="submenu_link_active" (click)="scrollTop()" [routerLink]=[sub.moduleUrl] >{{sub.moduleName}}</a>
			</div>

		</mat-expansion-panel>
	</mat-accordion>

</form>
