.submenu_link{
    display: block;
    padding: 10px 5px;
    font-size: 14px;
    color: #000;
}

.submenu_link:hover{
    text-decoration: none;
    color: #fff;
    background: #1ebebc;
    text-decoration: none;
}

.module_title{
    width:80% !important;
}

.module_counts{
    width: 25px;
    height: 25px;
    background: rgb(62, 81, 181);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 12px;
    padding: 5px;
    margin-left: 10%;
}


.submenu_link_active {
    text-decoration: none;
    color: #fff;
    background: #1ebebc;
    text-decoration: none;
}

.submenu_link_active:focus{
    text-decoration: none;
    color: #fff;
}

.searchMod{
    display: block;
    padding: 10px 5px;
    font-size: 14px;
    color: #000;
}

.grouping_title{
    height: 25px;
    font-weight: bold;
    padding-left: 5px;
}