
<div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
    <div class="curdHeader">
        <div class="col-md-10 curdHeadingLeft">
            <h3>{{statusTitle}} Role and Permission Management</h3>
        </div>
        
        <div class="col-md-2 curdHeadingRight">
            <span class="pull-right">
                <button type="button" mat-fab color="accent" (click)="back()" >
                <i class="fa fa-arrow-left font-size-l"></i></button>
            </span>
        </div> 
    </div>

    <div *ngIf="!commonservice.isWrite && !commonservice.isUpdate && !commonservice.isRead" class="alert alert-danger">
        {{'common.msg.unauthorized' | translate}}
    </div>

    <form *ngIf="commonservice.isRead || commonservice.isWrite || commonservice.isUpdate"  [formGroup]="groupModule" autocomplete="off" (ngSubmit)="updateGroup(groupModule.value)" role="form" novalidate>
        <div class="row">
            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                <h3>{{username}}</h3>
            </div>

            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                <h4>{{icno}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-checkbox formControlName="superAdmin" (change)="isSuperAdmin($event)"></mat-checkbox><span class="font-size-s">&nbsp;{{ 'admin.component.superadmin' | translate }}</span>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div *ngIf="!isAdminSuper">
        <ul  class="dragdrop_container">
            <li><b>{{ 'admin.component.groupmodule' | translate }}</b></li>
            <li *ngFor='let group of moduleList?.items' (click)="moveItem(group)">
                 {{group.moduleGroupName}}
            </li>
        </ul>
        
        <div class="middle_icon"><img src="assets/images/switch.png" alt=""></div>
        <ul class="drop_container" style="width:500px;">
            <li><div class="grouping_container">{{ 'admin.component.modpermision' | translate }}</div><div class="permission_container"><span>R</span><span>W</span><span>U</span><span>D</span></div></li>
            <li *ngFor='let group of selectedItems?.items' >
                
                <ul (click)="moveItemR(group, $event)">
                    <b>{{group.moduleGroupName }}</b>
                    <li *ngFor='let modules of group?.modules'>{{modules.moduleName}}</li>
                </ul>
                <ul>
                    <li *ngFor='let modules of group?.modules'>
                        <mat-checkbox #isRead name="isRead" (change)="isChecked($event, group, modules);" [checked]= "modules.permission.isRead" class = "example-margin"></mat-checkbox>
                        <mat-checkbox #isWrite name="isWrite" (change)="isChecked($event, group, modules);" [checked]= "modules.permission.isWrite" class = "example-margin"></mat-checkbox>
                        <mat-checkbox #isUpdate name="isUpdate" (change)="isChecked($event, group, modules);" [checked]= "modules.permission.isUpdate" class = "example-margin"></mat-checkbox>
                        <mat-checkbox #isDelete name="isDelete" (change)="isChecked($event, group, modules);" [checked]= "modules.permission.isDelete" class = "example-margin"></mat-checkbox>
                    </li>
                </ul>
                
            </li>
            
            
        </ul>
        </div>

        <!-- <div class="row">
        <div class="col-md-12">
            <mat-checkbox formControlName="active"></mat-checkbox><span class="font-size-s">&nbsp;{{ 'admin.component.active' | translate }}</span>
        </div> 
        </div>
         -->
        <div class="row"></div>
        <div class="form-group" style="float: right;">
            
            <button *ngIf="!isAdminSuper" mat-raised-button type="button" [disabled]="((selectedItems?.items.length < 1))" color="primary" #updateBtn id="btnsubmit" class="form-control btn btn-md btn-success font-size-s"
            (click)="submit();false" style="width: 100px; font-family: Roboto; margin-left: 5px;">
            <i class="fa fa-check"></i> {{ 'admin.component.update' | translate }}</button>

            <button *ngIf="isAdminSuper" mat-raised-button type="button" color="primary" #updateBtn id="btnsubmit" class="form-control btn btn-md btn-success font-size-s"
            (click)="updateAsSuperAdmin();false" style="width: 100px; font-family: Roboto; margin-left: 5px;">
            <i class="fa fa-check"></i> {{ 'admin.component.update' | translate }}</button>
        </div>
       
       
    </form>

</div>
  
