<!-- VIEW: ADD/EDIT Media file Upload -->
<div class="container right-content">
        <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
  <div class="curdHeader">
    <div class="col-md-10 curdHeadingLeft">
      <h3>{{ pageMode }} Media File Upload</h3>
    </div>

    <div class="col-md-2 curdHeadingRight">
      <span class="pull-right">
        <button type="button" mat-fab color="accent" (click)="back()">
          <i class="fa fa-arrow-left font-size-l"></i>
        </button>
      </span>
    </div>
  </div>
  <div *ngIf="!commonservice.isWrite && !commonservice.isUpdate" class="alert alert-danger">
        {{'common.msg.unauthorized' | translate}}
    </div>

  <form [formGroup]="mediaFileUpForm" autocomplete="off" role="form" novalidate *ngIf="commonservice.isWrite || commonservice.isUpdate">
    <div class="example-container mat-elevation-z8 paddingBottom-10" style="padding-left: 20px;">
      <div class="col-md-12">&nbsp;</div>
      <div class="row">
        <div class="col-md-6" [hidden]="isEdit">
          <mat-form-field class="example-full-width font-size-s paddingTop-10">
              <mat-select placeholder="Media Type" formControlName="mediatype" (change)="selMediaType($event)" required >
                <mat-option *ngFor="let obj of objMediaType" [value]="obj.mediaTypeId">{{obj.mediaTypeName}}</mat-option>
              </mat-select>
              <mat-error *ngIf="mediaFileUpForm.get('mediatype').hasError('required')">
                Media Type is required
              </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6" [hidden]="!isEdit" style="padding: 20px 0px 0px 10px;">
            <label class="font-size-m" for="mediatype" > Media Type: {{showMediaTypeName}} </label> 
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width font-size-s paddingTop-10">
            <mat-select placeholder="Category" formControlName="catType" (change)="selCateType($event)" required>
              <mat-option *ngFor="let obj of objCategory" [value]="obj.category.categoryId">{{obj.category.categoryName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="mediaFileUpForm.get('catType').hasError('required')">
              Category is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
          <div class="bg-form-header col-md-12">
              <div class="row">
                  <label class="col-md-6">English</label>
                  <label class="col-md-6">Bahasa Malaysia</label>
              </div>
          </div>
      </div>
      <div class="row paddingTop-10">
          <div class="example-header">
              <div class="col-md-6">
                  <mat-form-field class="example-full-width font-size-s" >
                      <input matInput placeholder="Media Title" formControlName="mediaTitleEn" maxlength="100" 
                      (change)="checkReqValues()" required>
                      <mat-error *ngIf="mediaFileUpForm.controls.mediaTitleEn.hasError('required')">
                          Media Title is required
                      </mat-error>
                  </mat-form-field>
              </div>
              <div class="col-md-6">
                  <mat-form-field class="example-full-width font-size-s" >
                      <input matInput placeholder="Media Tajuk" formControlName="mediaTitleMy" maxlength="100" 
                      (change)="checkReqValues()" required>
                      <mat-error *ngIf="mediaFileUpForm.controls.mediaTitleMy.hasError('required')">
                          Tajuk Media diperlukan
                      </mat-error>
                  </mat-form-field>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="example-header">
              <div class="col-md-6">
                  <mat-form-field class="example-full-width font-size-s" >
                      <input matInput placeholder="Media File" formControlName="mediaFileEn" maxlength="100" 
                      (change)="checkReqValues()" required readonly>
                      <mat-error *ngIf="mediaFileUpForm.controls.mediaFileEn.hasError('required')">
                          Media Title is required
                      </mat-error>
                  </mat-form-field>
              </div>
              <div class="col-md-6">
                  <mat-form-field class="example-full-width font-size-s" >
                      <input matInput placeholder="Tajuk Media" formControlName="mediaFileMy" maxlength="100" 
                      (change)="checkReqValues()" required readonly>
                      <mat-error *ngIf="mediaFileUpForm.controls.mediaFileMy.hasError('required')">
                          Tajuk Media diperlukan
                      </mat-error>
                  </mat-form-field>
              </div>
          </div>
      </div>
      <!-- Common controls -->
      <div class="row">
        <div class="col-md-3 paddingTop-10">
          <label class="font-size-m" for="mediatype"> Media Upload </label>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-6">
          <ng4-files-click (filesSelect)="filesSelectEn($event)">
            <!-- <span>Upload a File here</span> -->
            <span role="button" class="btn btn-success btn-md"><i class="fa fa-search"></i> File Upload</span>
          </ng4-files-click>
          <div *ngIf="selectedFilesEn">
            <img *ngIf="showImgEn" [src]="appConfig.externalMediaURL +'/'+ mediaPath +'/'+ selectedFilesEn" style="width:200px">
        </div>
          
        </div>
        <div class="col-md-6">
            <ng4-files-click (filesSelect)="filesSelectMy($event)">
              <!-- <span>Upload a File here</span> -->
              <span role="button" class="btn btn-success btn-md"><i class="fa fa-search"></i> File Upload</span>
            </ng4-files-click>
            <div *ngIf="selectedFilesMy">
                <img *ngIf="showImgMy" [src]="appConfig.externalMediaURL+'/'+mediaPath+'/'+selectedFilesMy" style="width:200px">
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <label class="font-size-m" for="mediatype"> {{selectedFilesEn}} </label>
            </div>
         
        <div class="col-md-6">
            <label class="font-size-m" for="mediatype"> {{selectedFilesMy}} </label>
        </div>
      </div>

      <div class="col-md-12">&nbsp;</div>
    </div>

    <div class="col-md-12 form-group paddingTop-10 paddingBottom-10" style="padding-right: 0px;">
      <button mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success font-size-s pull-right"
        (click)="updateMediaFileUpload(mediaFileUpForm.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;" [disabled]="!complete">
        <i *ngIf="complete" class="fa fa-check"></i>
        <i *ngIf="!complete" class="fa fa-times"></i> {{ pageMode }}</button>
      <!-- <button mat-raised-button color="warn" type="button" id="btnreset" class="form-control btn btn-md btn-warning font-size-s pull-right"
          style="width: 100px; font-family: Roboto" (click)="myFunction()">
          <i class="fa fa-refresh"> </i> Reset</button> -->
    </div>
  </form>
</div>
