<div class="container right-content">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>


  <div class="curdHeader">
    <div class="col-md-10 curdHeadingLeft">
        <h3>{{ 'gallerytbl.header' | translate }}</h3>
    </div>
    
    <div class="col-md-2 curdHeadingRight">
        <span class="pull-right">
            <button type="button" mat-fab color="warn" (click)="addBtn()" *ngIf="commonservice.isWrite" [ngClass]="{ 'addBtn-active': isActive, 'addBtn': !isActive  }">
              <i [ngClass]="commonservice.icon.plus" class="font-size-m"></i></button>
        </span>
    </div> 
</div>

<div *ngIf="!commonservice.isRead" class="alert alert-danger">
  {{'common.msg.unauthorized' | translate}}
</div>

<div *ngIf="commonservice.isRead">
  <div class="example-container mat-elevation-z8">
    <!-- <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div> -->

    <mat-table #table [dataSource]="dataSource">

      <!-- No Column -->
      <ng-container matColumnDef="no">
        <mat-header-cell class="text-align-left noColumn" *matHeaderCellDef> {{ 'common.tableHeader.num' | translate }} </mat-header-cell>
        <mat-cell class="text-align-left noColumn" *matCellDef="let element; let i = index;">
          {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
        </mat-cell>
      </ng-container>

      <!-- galleryTitle Column -->
      <ng-container matColumnDef="galleryTitleEn">
        <mat-header-cell *matHeaderCellDef> {{ 'gallerytbl.tableHeader.titleEn' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.list[0].slideTitle}} </mat-cell>
      </ng-container>

      <!-- galleryDescription Column -->
      <ng-container matColumnDef="galleryTitleBm">
        <mat-header-cell *matHeaderCellDef> {{ 'gallerytbl.tableHeader.titleBm' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.list[1].slideTitle}} </mat-cell>
      </ng-container>

      <!-- galleryActiveFlag Column -->
      <ng-container matColumnDef="galleryActiveFlag">
        <mat-header-cell *matHeaderCellDef class="statusColumn"> {{ 'common.tableHeader.status' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element" class="statusColumn">
          <!-- <i [ngClass]="[element.active ? 'fa fa-check activeFontColor' : 'fa fa-times inactiveFontColor']"></i> -->
          <i *ngIf="element.active == true" [ngClass]="commonservice.icon.check" class="color_green"></i>
          <i *ngIf="element.active == false" [ngClass]="commonservice.icon.times" class="color_red"></i>
        </mat-cell>
      </ng-container>
      
      <!-- Action Column -->
      <ng-container matColumnDef="galleryAction">
        <mat-header-cell *matHeaderCellDef class="actionColumn"> {{ 'common.tableHeader.action' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element" class="actionColumn">
            <button mat-mini-fab class="bg_orange" *ngIf="commonservice.isUpdate" (click)="updateRow(element.refCode)" title="Update {{ element.refCode }}">
              <i *ngIf="commonservice.isUpdate" [ngClass]="commonservice.icon.update" title="Update {{ element.refCode }}" ></i>
              <i *ngIf="!commonservice.isUpdate" [ngClass]="commonservice.icon.view" title="View {{ element.refCode }}" ></i>
            </button>
            &nbsp;
            <button mat-mini-fab class="bg_red" *ngIf="commonservice.isDelete" (click)="deleteRow(element.list[0].slideId,element.list[1].slideId)" title="Delete {{ element.list[0].slideId }},{{ element.list[1].slideId }}">
              <i [ngClass]="commonservice.icon.trash" title="Delete {{ element.list[0].sliderId }}, {{ element.list[1].slideId }}"></i>
            </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div *ngIf="showNoData" class="row text-align-Center padding-20">{{ 'common.msg.nodata' | translate }} </div>
  </div>

  <div class="float-right paddingTop-15">
    <mat-form-field class="table_footer_pagecount">
      <mat-select class="font-size-s text-align-Center" [(ngModel)]="commonservice.defaultPageSize" (change)="pageChange($event, commonservice.recordTable?.totalPages)">
        <mat-option *ngFor="let pgcount of commonservice.pageSize" [value]="pgcount.size">{{pgcount.size}}</mat-option>
        <!-- <mat-option value="10">10</mat-option>
        <mat-option value="25">25</mat-option>
        <mat-option value="50">50</mat-option> -->
      </mat-select>
    </mat-form-field>
    <span class="float-right">
      <span class="table_footer_pagination">{{ 'common.tableBottom.page' | translate }}
        <strong>{{commonservice.recordTable?.pageNumber}}</strong> {{ 'common.tableBottom.of' | translate }}
        <strong>{{commonservice.recordTable?.totalPages}}</strong> {{ 'common.tableBottom.in' | translate }}
        <strong>{{commonservice.recordTable?.totalElements}}</strong> {{ 'gallerytbl.tablebottom.gallery' | translate }}</span>
      <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(commonservice.recordTable?.pageNumber)">
        <i [ngClass]="commonservice.icon.arrLeft" aria-hidden="true"></i>
      </button>
      <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(commonservice.recordTable?.pageNumber, commonservice.recordTable?.totalPages)">
        <i [ngClass]="commonservice.icon.arrRight" aria-hidden="true"></i>
      </button>
    </span>
  </div>
  </div>

</div>