<div class="container right-content">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
  <!-- <div class="col-md-12">
    <h2 class="staticLabel"></h2>
    <span class="pull-right editBtn">
      <button type="button" mat-fab color="warn" (click)="addBtn()" [ngClass]="{ 'editBtn-active': isActive, 'editBtn': !isActive  }">
        <i class="fa fa-plus font-size-l"></i>
      </button>
    </span>
  </div> -->

  <div class="curdHeader">
    <div class="col-md-10 curdHeadingLeft">
        <h3>{{ 'gallerytbl.header' | translate }}</h3>
    </div>
    
    <div class="col-md-2 curdHeadingRight">
        <span class="pull-right">
            <button type="button" mat-fab color="warn" (click)="addBtn()" *ngIf="commonservice.isWrite" [ngClass]="{ 'addBtn-active': isActive, 'addBtn': !isActive  }">
            <i class="fa fa-plus font-size-l"></i></button>
        </span>
    </div> 
</div>

<div *ngIf="!commonservice.isRead" class="alert alert-danger">
  {{'common.msg.unauthorized' | translate}}
</div>

<div *ngIf="commonservice.isRead">
  <div class="example-container mat-elevation-z8">
    <!-- <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div> -->

    <mat-table #table [dataSource]="dataSource">

      <!-- No Column -->
      <ng-container matColumnDef="no">
        <mat-header-cell class="text-align-left" style="flex: 0 0 5%;" *matHeaderCellDef> {{ 'gallerytbl.tableHeader.num' | translate }} </mat-header-cell>
        <mat-cell class="text-align-left" style="flex: 0 0 5%;" *matCellDef="let element; let i = index;">
          {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
        </mat-cell>
      </ng-container>

      <!-- galleryTitle Column -->
      <ng-container matColumnDef="galleryTitleEn">
        <mat-header-cell *matHeaderCellDef> {{ 'gallerytbl.tableHeader.titleEn' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.list[0].slideTitle}} </mat-cell>
      </ng-container>

      <!-- galleryDescription Column -->
      <ng-container matColumnDef="galleryTitleBm">
        <mat-header-cell *matHeaderCellDef> {{ 'gallerytbl.tableHeader.titleBm' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.list[1].slideTitle}} </mat-cell>
      </ng-container>

      <!-- galleryActiveFlag Column -->
      <ng-container matColumnDef="galleryActiveFlag">
        <mat-header-cell *matHeaderCellDef class="statusColumn"> {{ 'gallerytbl.tableHeader.status' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element" class="statusColumn">
          <i [ngClass]="[element.active ? 'fa fa-check activeFontColor' : 'fa fa-times inactiveFontColor']"></i>
        </mat-cell>
      </ng-container>
      
      <!-- Action Column -->
      <ng-container matColumnDef="galleryAction">
        <mat-header-cell *matHeaderCellDef class="actionColumn"> {{ 'gallerytbl.tableHeader.action' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element" class="actionColumn">
            <button mat-mini-fab style="background: orange" *ngIf="commonservice.isUpdate" (click)="updateRow(element.refCode)" title="Update {{ element.refCode }}">
              <i class="fa fa-edit"></i>
            </button>
            &nbsp;
            <button mat-mini-fab style="background: red" *ngIf="commonservice.isDelete" (click)="deleteRow(element.list[0].slideId,element.list[1].slideId)" title="Delete {{ element.list[0].slideId }},{{ element.list[1].slideId }}">
              <i class="fa fa-trash" title="Delete {{ element.list[0].sliderId }}, {{ element.list[1].slideId }}"></i>
            </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div *ngIf="showNoData" class="row" style="text-align: center; padding: 20px;">{{ 'mediauploadtbl.nodata' | translate }} </div>
  </div>

  <div class="float-right paddingTop-15">
    <mat-form-field style="width:50px; margin-top: -10px">
      <mat-select class="font-size-s" value="10" style="text-align: center;" (change)="pageChange($event, commonservice.recordTable?.totalPages)">
        <mat-option value="5">5</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="25">25</mat-option>
        <mat-option value="50">50</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="float-right">
      <span style="color:#000; padding-left:20px; padding-right:20px;">{{ 'gallerytbl.tablebottom.page' | translate }}
        <strong>{{commonservice.recordTable?.pageNumber}}</strong> {{ 'gallerytbl.tablebottom.of' | translate }}
        <strong>{{commonservice.recordTable?.totalPages}}</strong> {{ 'gallerytbl.tablebottom.in' | translate }}
        <strong>{{commonservice.recordTable?.totalElements}}</strong> {{ 'gallerytbl.tablebottom.gallery' | translate }}</span>
      <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(commonservice.recordTable?.pageNumber)">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
      <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(commonservice.recordTable?.pageNumber, commonservice.recordTable?.totalPages)">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
    </span>
  </div>
  </div>

</div>