<div class="container right-content">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>


  <div class="curdHeader">
    <div class="col-md-10 curdHeadingLeft">
        <h3>{{ 'gallerytbl.header' | translate }}</h3>
    </div>
    
    <div class="col-md-2 curdHeadingRight">
        <span class="pull-right">
            <button type="button" mat-fab color="warn" (click)="addBtn()" *ngIf="commonservice.isWrite" [ngClass]="{ 'addBtn-active': isActive, 'addBtn': !isActive  }">
              <i [ngClass]="commonservice.icon.plus" class="font-size-m"></i></button>
        </span>
    </div> 
</div>

<div *ngIf="!commonservice.isRead" class="alert alert-danger">
  {{'common.msg.unauthorized' | translate}}
</div>

<div *ngIf="commonservice.isRead">
  <div class="example-container mat-elevation-z8">
    
    <div class="row">
      <div class="col-md-10 paddingTop-10 pdg_L_30px">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="keywordVal" placeholder="{{ 'common.placeholder.keywords' | translate }}">
            <button mat-button *ngIf="keywordVal" matSuffix mat-icon-button aria-label="Clear" (click)="keywordVal=''; resetSearch()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
      </div>

      <div class="col-md-2 paddingTop-10 pdg_R_30px" *ngIf="languageId == 1">
        <mat-form-field class="example-full-width">
          <mat-select  placeholder="" [(ngModel)]="nameStatus" (change)="filterStatus($event)">
              <mat-option *ngFor="let statusCreator of commonservice.listStatusCreator" 
              [value]="statusCreator.id">{{statusCreator.textEn}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-2 paddingTop-10 pdg_R_30px" *ngIf="languageId == 2">
        <mat-form-field class="example-full-width">
          <mat-select  placeholder="" [(ngModel)]="nameStatus" (change)="filterStatus($event)">
              <mat-option *ngFor="let statusCreator of commonservice.listStatusCreator" 
              [value]="statusCreator.id">{{statusCreator.textBm}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-table #table [dataSource]="dataSource">

      <!-- No Column -->
      <ng-container matColumnDef="no">
        <mat-header-cell class="text-align-left noColumn" *matHeaderCellDef> {{ 'common.tableHeader.num' | translate }} </mat-header-cell>
        <mat-cell class="text-align-left noColumn" *matCellDef="let element; let i = index;">
          {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
        </mat-cell>
      </ng-container>

      <!-- galleryTitle Column -->
      <ng-container matColumnDef="galleryTitleEn">
        <mat-header-cell *matHeaderCellDef> {{ 'gallerytbl.tableHeader.titleEn' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.list[0]?.contentTitle}} </mat-cell>
      </ng-container>

      <!-- galleryDescription Column -->
      <ng-container matColumnDef="galleryTitleBm">
        <mat-header-cell *matHeaderCellDef> {{ 'gallerytbl.tableHeader.titleBm' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.list[1]?.contentTitle}} </mat-cell>
      </ng-container>

      <!-- galleryActiveFlag Column -->
      <ng-container matColumnDef="galleryActiveFlag">
        <mat-header-cell *matHeaderCellDef class="statusColumn"> {{ 'common.tableHeader.status' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element" class="statusColumn">
          <!-- <i [ngClass]="[element.active ? 'fa fa-check activeFontColor' : 'fa fa-times inactiveFontColor']"></i> -->
          <i *ngIf="element.list[0].isActiveFlag == true" [ngClass]="commonservice.icon.check" class="color_green"></i>
          <i *ngIf="element.list[0].isActiveFlag == false" [ngClass]="commonservice.icon.times" class="color_red"></i>
        </mat-cell>
      </ng-container>

      <!-- slideActiveFlag Column -->
      <ng-container matColumnDef="galleryDraft">
        <mat-header-cell *matHeaderCellDef class="draftColumn"> {{ 'slider.tableHeader.statusdraft' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element" class="draftColumn">
            <button *ngIf="element.list[0].isSendForApproval == true && element.list[0].isApprovedFlag == false" mat-mini-fab class="bg_orange tiny" title="Send for Apporval" [disabled]="true"></button>
            <button *ngIf="element.list[0].isSendForApproval == false && element.list[0].isApprovedFlag == false" mat-mini-fab class="bg_gray tiny" title="Draft" [disabled]="true"></button>
            <button *ngIf="element.list[0].isSendForApproval == true && element.list[0].isApprovedFlag == true" mat-mini-fab class="bg_green tiny" title="Approved" [disabled]="true"></button>
        </mat-cell>
      </ng-container>
      
      <!-- Action Column -->
      <ng-container matColumnDef="galleryAction">
        <mat-header-cell *matHeaderCellDef class="actionColumn"> {{ 'common.tableHeader.action' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element" class="actionColumn">
            <button mat-mini-fab class="bg_orange" (click)="updateRow(element.refCode)">
              <i *ngIf="commonservice.isUpdate && element.list[0].isSendForApproval == false" [ngClass]="commonservice.icon.update" title="Update {{ element.refCode }}" ></i>
              <i *ngIf="!commonservice.isUpdate || element.list[0].isSendForApproval == true" [ngClass]="commonservice.icon.view" title="View {{ element.refCode }}" ></i>
            </button>
            &nbsp;
            <button mat-mini-fab class="bg_red" *ngIf="commonservice.isDelete && element.list[0].isSendForApproval == false" 
            (click)="deleteRow.show()" title="Delete {{ element.refCode }}">
              <i [ngClass]="commonservice.icon.trash"></i>
            </button>
            <button mat-mini-fab class="bg_red" *ngIf="commonservice.isDelete  && element.list[0].isSendForApproval == true" 
            [disabled]="element.list[0].isSendForApproval == true">
              <i [ngClass]="commonservice.icon.trash"></i>
            </button>
            <app-confirm-dialog  #deleteRow 
            [title]="'common.icon.warn'" 
            [content]="'common.msg.delete'"
            [state]="'common.state.warn'"
            [isReset]="'true'"
            (resetMethod)="deleteItem(element.refCode)">
            </app-confirm-dialog> 
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div *ngIf="showNoData" class="row text-align-Center padding-20">{{ 'common.msg.nodata' | translate }} </div>
  </div>

  <div class="float-right paddingTop-15">
    <mat-form-field class="table_footer_pagecount">
      <mat-select class="font-size-s text-align-Center" [(ngModel)]="commonservice.defaultPageSize" (change)="pageChange($event, commonservice.recordTable?.totalPages)">
        <mat-option *ngFor="let pgcount of commonservice.pageSize" [value]="pgcount.size">{{pgcount.size}}</mat-option>
        <!-- <mat-option value="10">10</mat-option>
        <mat-option value="25">25</mat-option>
        <mat-option value="50">50</mat-option> -->
      </mat-select>
    </mat-form-field>
    <span class="float-right">
      <span class="table_footer_pagination">{{ 'common.tableBottom.page' | translate }}
        <strong>{{recordTable?.pageNumber}}</strong> {{ 'common.tableBottom.of' | translate }}
        <strong>{{recordTable?.totalPages}}</strong> {{ 'common.tableBottom.in' | translate }}
        <strong>{{recordTable?.totalElements}}</strong> {{ 'gallerytbl.tablebottom.gallery' | translate }}</span>
      <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(recordTable?.pageNumber)">
        <i [ngClass]="commonservice.icon.arrLeft" aria-hidden="true"></i>
      </button>
      <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(recordTable?.pageNumber, recordTable?.totalPages)">
        <i [ngClass]="commonservice.icon.arrRight" aria-hidden="true"></i>
      </button>
    </span>
  </div>
  </div>

</div>