<form style="padding-right: 15px; padding-left: 15px;" [formGroup]="updateForm" autocomplete="off" role="form" novalidate>
    <div class="container right-content">
        <!-- <div class="col-md-12" style="padding: 0px 10px 10px 5px; border: 0px solid #000">
            <h4 class="paddingTop-15 staticLabel">
                <i class="fa fa-chevron-left font-size-xl paddingTop-15 backTitle" style="cursor: pointer;" (click)="navigateBack()" title="Go Back"></i>Polls Questions</h4>
        </div> -->
        <div class="col-md-12" style="padding: 10px 10px 10px 0px; border: 0px solid #000">
            <h1 class="paddingTop-15 staticLabel">Polls Questions</h1>
        </div> 
                   
        <div class="example-container mat-elevation-z8">
            <div class="form-header col-md-12" style="background-color:lightgrey;">
                <label class="staticLabel font-size-m boldText">Edit Polls Questions</label>
            </div>

            <div class="example-header">
                <div class="col-md-6 text-align-Center font-size-m"> Poll Question (Eng) </div>
                <div class="col-md-6 text-align-Center font-size-m"> Poll Question (Malay) </div>
            </div>

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width font-size-s" >
                        <textarea matInput placeholder="Poll Question (English)" [formControl]="pollEng" required></textarea>
                        <mat-error *ngIf="updateForm.controls.pollEng.hasError('required')">
                            Poll Question (English) is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="example-full-width font-size-s" >
                        <textarea matInput placeholder="Poll Question (Malay)" [formControl]="pollMalay" required></textarea>
                        <mat-error *ngIf="updateForm.controls.pollMalay.hasError('required')">
                            Poll Question (Malay) is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="example-header">
                <div class="col-md-6 text-align-Center font-size-m"> Options (Eng) </div>
                <div class="col-md-6 text-align-Center font-size-m"> Options (Malay) </div>
            </div>

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width font-size-s" >
                        <input matInput placeholder="Option 1 (Eng)" [formControl]="opt1En" required>
                        <mat-error *ngIf="updateForm.controls.opt1En.hasError('required')">
                            Option 1 (Eng) is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width font-size-s" >
                        <input matInput placeholder="Option 1 (Malay)" [formControl]="opt1Bm" required>
                        <mat-error *ngIf="updateForm.controls.opt1Bm.hasError('required')">
                            Option 1 (Malay) is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width font-size-s" >
                        <input matInput placeholder="Option 2 (Eng)" [formControl]="opt2En" required>
                        <mat-error *ngIf="updateForm.controls.opt2En.hasError('required')">
                            Option 2 (Eng) is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width font-size-s" >
                        <input matInput placeholder="Option 2 (Malay)" [formControl]="opt2Bm" required>
                        <mat-error *ngIf="updateForm.controls.opt2Bm.hasError('required')">
                            Option 2 (Malay) is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="example-header">
                <div class="col-md-6">
                <mat-form-field class="example-full-width font-size-s" >
                    <input matInput placeholder="Option 3 (Eng)" [formControl]="opt3En">
                    <mat-error *ngIf="updateForm.controls.opt3En.hasError('required')">
                        Option 3 (Eng) is required
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width font-size-s" >
                        <input matInput placeholder="Option 3 (Malay)" [formControl]="opt3Bm">
                        <mat-error *ngIf="updateForm.controls.opt3Bm.hasError('required')">
                            Option 3 (Malay) is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width font-size-s" >
                        <input matInput placeholder="Option 4 (Eng)" [formControl]="opt4En">
                        <mat-error *ngIf="updateForm.controls.opt4En.hasError('required')">
                            Option 4 (Eng) is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width font-size-s" >
                        <input matInput placeholder="Option 4 (Malay)" [formControl]="opt4Bm">
                        <mat-error *ngIf="updateForm.controls.opt4Bm.hasError('required')">
                            Option 4 (Malay) is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width font-size-s" >
                        <input matInput placeholder="Option 5 (Eng)" [formControl]="opt5En">
                        <mat-error *ngIf="updateForm.controls.opt5En.hasError('required')">
                            Option 5 (Eng) is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width font-size-s" >
                        <input matInput placeholder="Option 5 (Malay)" [formControl]="opt5Bm">
                        <mat-error *ngIf="updateForm.controls.opt5Bm.hasError('required')">
                            Option 5 (Malay) is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="example-header">
                <div class="col-md-12">
                    <mat-checkbox class="example-full-width font-size-s">Active</mat-checkbox>
                </div>
            </div>
        
        </div>
    
        <div class="form-group" style="margin-top: 2%">
            <button mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success font-size-s pull-right"
                (click)="submitForm(updateForm.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;">
                <i *ngIf="isComplete" class="fa fa-check"></i><i *ngIf="!isComplete" class="fa fa-times"></i> {{ pageMode }} </button>
        </div>      

    </div>
</form>
  
  
  
  
  
  
  <!-- <app-confirm-dialog  #resetModal 
  [title]="'common.icon.warn'" 
  [content]="'common.msg.reset'"
  [state]="'common.state.warn'" 
  [isReset]="'true'"
  (resetMethod)="resetMethod($event)">
  </app-confirm-dialog>
  
  <app-confirm-dialog  #infoModal 
  [title]="'common.icon.success'" 
  [content]="'register.popupmsg.success_content1'"
  [email] = "getEmail"
  [content2] = "'register.popupmsg.success_content2'" 
  [state]="'common.state.success'" 
  [isRegister]="'index'">
  </app-confirm-dialog> -->