html {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: inherit;
}

.right-content {
    width: 100%;
}

form {
    width: 100%;
}

.formbg {    
    border: 1px solid #dedede;
    border-radius: 5px;
    background: #fff;
    background-color: #eeeeee;	
    color: #000;
    margin-top: 15px;
    margin-bottom: 1%;
    box-shadow: #eeeeee 0px 0px 10px 0px;
}

.formbg label {
    color : rgb(0, 0, 0);
    /* rgb(179, 179, 179); */
    margin-bottom: 0px;
}

label {
    color: rgba(0,0,0,0.70);
    margin-bottom: 0px;
}

.thinText {
    font-weight: 400;
}

.semiBoldText {
    font-weight: 500;
}

.boldText {
    font-weight: bold;
}

.staticLabel{
    /* font: inherit; */
    text-transform: uppercase;
}

.form-header {
    padding: 10px;
    background: transparent;
    border-bottom: 1px solid #ccc;
}

.form-header-dark {
    padding: 10px;
    background: #dbdbdb;
    /* margin-bottom: 1%; */
}

/* .form-header {
    background: #dbdbdb;
    text-shadow: 0 1px 0 #f5f5f5;
    border-bottom: 1px solid #ccc;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 1%;
} */

/* .form-group {
    padding: 10px;
} */

.example-full-width {
    width: 100%;
}

.closer-top {
    margin-bottom: -1%; margin-top: -8%;
}

.close-top {
    margin-bottom: -1%; margin-top: -3%;
}

.font-size-xx-s {
    font-size: xx-small
}

.font-size-x-s {
    font-size: x-small
}

.font-size-xs {
    font-size: smaller
}

.font-size-s {
    font-size: small
}

.font-size-m {
    font-size: medium
}

.font-size-l {
    font-size: large
}

.font-size-xl {
    font-size: x-large
}

.font-size-xxl {
    font-size: xx-large
}

.marginTop-10 {
    margin-top: 10px;
}

.paddingTop-10 {
    padding-top: 10px;
}

.paddingTop-15 {
    padding-top: 15px;
}

.mat-form-field-placeholder-wrapper {
    position: absolute;
    left: 0;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    /* font-weight: 500; */
}

.mat-error {
    font-size: small;
    display: block;
    /* margin-top: -2%; */
}

/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
  }
  
  /* .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
  } */
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .mat-form-field-placeholder {
    color: rgba(0,0,0,1);
  }

  .backTitle {
    margin-left: -2%;
      cursor: pointer;
  }

  .backTitle:hover {
    margin-left: -2%;
      color: #ff4081;
      cursor: pointer;
  }

  .mat-mini-fab:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0), 0 6px 10px 0 rgba(0,0,0,0), 0 1px 18px 0 rgba(0,0,0,0); 
  }

  .editBtn-color {
      background: orange;
  }

  .deleteBtn-color {
      background: red;
  }

  .mat-cell, .mat-header-cell {
    flex: 0;
    overflow: hidden;
    /* word-wrap: break-word; */
  }
  
  .editBtn{
      position: absolute;
      right: 10px;
      top: 65%;
    }
  
.editBtn:hover {
    position: absolute;
    background-color: rgb(109, 185, 38);
    color: #FFF;
    right: 10px;
    top: 65%;
  }
  
  .editBtn-active {
    position: absolute;
    background-color: rgb(109, 185, 38);
    color: #FFF;
    right: 10px;
    top: 65%;
  }

  .mat-fab .mat-button-wrapper {
    padding: 18px 2px 15px 0px;
    display: inline-block;
    line-height: 24px;
}