<div class="container right-content">
    
  <div class="curdHeader">
    <div class="col-md-10 curdHeadingLeft">
      <h3>{{ 'mediatype.header' | translate }}</h3>
    </div>
    <!-- Add option not required for Media Type -->
    <div class="col-md-2 curdHeadingRight">
      <span class="pull-right">
        <button type="button" mat-fab color="warn" (click)="add()" *ngIf="commonservice.isWrite" [ngClass]="{ 'addBtn-active': isActive, 'addBtn': !isActive  }">
          <i [ngClass]="commonservice.icon.plus"></i>
        </button>
      </span>
    </div>
  </div>
  <div *ngIf="!commonservice.isRead" class="alert alert-danger">
    {{'common.msg.unauthorized' | translate}}
  </div>
  <div *ngIf="commonservice.isRead">
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <!-- No Column -->
        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef class="text-align-left noColumn"> {{ 'common.tableHeader.num' | translate }} </mat-header-cell>
          <mat-cell class="text-align-left noColumn" *matCellDef="let element; let i = index;" [style.flex]="'0 0 5%'">
            {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
          </mat-cell>
        </ng-container>
        <!-- mediaType Column -->
        <ng-container matColumnDef="mediaType">
          <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 20%'"> {{ 'mediatype.tableHeader.name' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element" [style.flex]="'0 0 20%'">
            {{element.mediaTypeName}}
          </mat-cell>
        </ng-container>
        <!-- categoryName Column -->
        <ng-container matColumnDef="catName">
          <mat-header-cell *matHeaderCellDef > {{ 'mediatype.tableHeader.category' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element" >
            <span class="tag-style" *ngFor="let ele of element.mediaTypeCategories.length > 3 ? element.mediaTypeCategories.slice(0,3): element.mediaTypeCategories">
                {{ele.category.categoryName | truncate:[12, '...']}}
            </span>
            <span *ngIf="element.mediaTypeCategories.length > 3">
                +{{element.mediaTypeCategories.length - 3}}
            </span>
            <!-- <mat-chip-list >
              <mat-chip color="primary" selected="true" *ngFor="let ele of element.mediaTypeCategories.length > 3 ? element.mediaTypeCategories.slice(0,3): element.mediaTypeCategories">
                {{ele.category.categoryName | truncate:[12, '...']}}</mat-chip>
              <mat-chip color="default" *ngIf="element.mediaTypeCategories.length > 3">+{{element.mediaTypeCategories.length - 3}}</mat-chip>
            </mat-chip-list> -->
            <span align="end" *ngIf="element.mediaTypeCategories.length==0">{{ 'mediatype.msg.clickadd' | translate }}</span>
          </mat-cell>
          
        </ng-container>
        <!-- ActiveFlag Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="statusColumn"> {{ 'common.tableHeader.status' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element" class="statusColumn">
            <!-- <i [ngClass]="[element.enabled ? 'fa fa-check activeFontColor' : 'fa fa-times inactiveFontColor']"></i> -->
            <i *ngIf="element.enabled == true" [ngClass]="commonservice.icon.check" class="color_green"></i>
            <i *ngIf="element.enabled == false" [ngClass]="commonservice.icon.times" class="color_red"></i>
          </mat-cell>
        </ng-container>
        <!-- action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell class="actionColumn" *matHeaderCellDef> {{ 'common.tableHeader.action' | translate }} </mat-header-cell>
          <mat-cell class="actionColumn" *matCellDef="let element">
            <button mat-mini-fab class="bg_orange" (click)="editGroup(element.mediaTypeId)" *ngIf="commonservice.isUpdate" 
            [disabled]="element.mediaTypeCategories.length==0" title="Update {{ element.mediaTypeId }}">
              <i *ngIf="commonservice.isUpdate" [ngClass]="commonservice.icon.update" title="{{ 'common.title.update' | translate }}" title="Update {{ element.mediaTypeId }}" ></i>
              <i *ngIf="!commonservice.isUpdate" [ngClass]="commonservice.icon.view" title="{{ 'common.title.view' | translate }}" title="View {{ element.mediaTypeId }}" ></i>
            </button>&nbsp;
            <!-- Delete option not required for Media Type -->
            <button mat-mini-fab class="bg_red" *ngIf="commonservice.isDelete"  (click)="deleteModal.show()" [disabled]="element.mediaTypeCategories.length==0">
              <i [ngClass]="commonservice.icon.trash" title="{{ 'common.title.delete' | translate }}" title="Delete {{ element.mediaTypeId }}"></i>
            </button>
            <app-confirm-dialog  #deleteModal 
            [title]="'fa fa-exclamation-triangle'" 
            [content]="'common.msg.delete'"
            [state]="'bg_header bg_warn_header'"
                        [isReset]="'true'"
                        (resetMethod)="deleteRow(element.mediaTypeId)">
                        </app-confirm-dialog>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>

</div>