<div class="container right-content">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
  <div class="curdHeader">
    <div class="col-md-10 curdHeadingLeft">
      <h3>{{ 'mediatype.header' | translate }}</h3>
    </div>
    <!-- Add option not required for Media Type -->
    <div class="col-md-2 curdHeadingRight">
      <span class="pull-right">
        <button type="button" mat-fab color="warn" (click)="add()" *ngIf="commonservice.isWrite" [ngClass]="{ 'addBtn-active': isActive, 'addBtn': !isActive  }">
          <i class="fa fa-plus font-size-l"></i>
        </button>
      </span>
    </div>
  </div>
  <div *ngIf="!commonservice.isRead" class="alert alert-danger">
    {{'common.msg.unauthorized' | translate}}
  </div>
  <div *ngIf="commonservice.isRead">
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <!-- No Column -->
        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 5%'"> {{ 'mediatype.tableHeader.num' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index;" [style.flex]="'0 0 5%'">
            {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
          </mat-cell>
        </ng-container>
        <!-- mediaType Column -->
        <ng-container matColumnDef="mediaType">
          <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 20%'"> {{ 'mediatype.tableHeader.name' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element" [style.flex]="'0 0 20%'">
            {{element.mediaTypeName}}
          </mat-cell>
        </ng-container>
        <!-- categoryName Column -->
        <ng-container matColumnDef="catName">
          <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 30%'"> {{ 'mediatype.tableHeader.category' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element" class="padding5" [style.flex]="'0 0 30%'">
            <mat-chip-list>
              <mat-chip color="primary" selected="true" *ngFor="let ele of element.mediaTypeCategories.length > 3 ? element.mediaTypeCategories.slice(0,3): element.mediaTypeCategories">
                {{ele.category.categoryName}}</mat-chip>
              <mat-chip color="default" *ngIf="element.mediaTypeCategories.length > 3">+{{element.mediaTypeCategories.length - 3}}</mat-chip>
            </mat-chip-list>
          </mat-cell>
        </ng-container>
        <!-- ActiveFlag Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="statusColumn"> {{ 'mediatype.tableHeader.status' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element" class="statusColumn">
            <i [ngClass]="[element.enabled ? 'fa fa-check activeFontColor' : 'fa fa-times inactiveFontColor']"></i>
          </mat-cell>
        </ng-container>
        <!-- action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell class="actionColumn" *matHeaderCellDef> {{ 'mediatype.tableHeader.action' | translate }} </mat-header-cell>
          <mat-cell class="actionColumn padding5" *matCellDef="let element">
            <button mat-mini-fab style="background: orange" (click)="editGroup(element.mediaTypeId)" *ngIf="commonservice.isUpdate" title="Update {{ element.mediaTypeId }}">
              <i class="fa fa-edit"></i>
            </button>&nbsp;
            <!-- Delete option not required for Media Type -->
            <button mat-mini-fab style="background: red" *ngIf="commonservice.isDelete"  (click)="deleteModal.show()">
              <i class="fa fa-trash" title="Delete {{ element.mediaTypeId }}"></i>
            </button>
            <app-confirm-dialog  #deleteModal 
                        [title]="'common.icon.warn'" 
                        [content]="'common.msg.delete'"
                        [state]="'bg_header bg_warn_header'"
                        [isReset]="'true'"
                        (resetMethod)="deleteRow(element.mediaTypeId)">
                        </app-confirm-dialog>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>

</div>