<div class="container right-content">
    <div class="curdHeader">
        <div class="col-md-10 curdHeadingLeft">
            <h3>Media Management</h3>
        </div>
        <!-- Add option not required for Media Type -->
        <div class="col-md-2 curdHeadingRight">
            <span class="pull-right">
                <button type="button" mat-fab color="warn" (click)="add()" [ngClass]="{ 'addBtn-active': isActive, 'addBtn': !isActive  }">
                <i class="fa fa-plus font-size-l"></i></button>
            </span>
        </div> 
    </div>
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <!-- No Column -->
        <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 5%'"> No </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" [style.flex]="'0 0 5%'">  
              {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }} 
            </mat-cell>
          </ng-container>
        <!-- Title (BM) Column -->
        <ng-container matColumnDef="mediaType">
          <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 25%'"> Name </mat-header-cell>
          <mat-cell *matCellDef="let element" [style.flex]="'0 0 25%'">
            {{element.mediaTypeName}}
          </mat-cell>
          <!-- <mat-cell *matCellDef="let element" [style.flex]="'0 0 25%'"> <mat-chip-list >               
              <mat-chip color="primary" selected="true" *ngFor="let ele of element.mediaTypeCategories">{{ele.category.categoryName}}</mat-chip>
          </mat-chip-list> 
        </mat-cell> -->
        </ng-container>
        <!-- Title (EN) Column -->
        <ng-container matColumnDef="catName">
          <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 25%'"> Formats </mat-header-cell>
            <mat-cell *matCellDef="let element" [style.flex]="'0 0 25%'"> <mat-chip-list >               
                <mat-chip color="primary" selected="true" *ngFor="let ele of element.mediaTypeCategories">{{ele.category.categoryName}}</mat-chip>
            </mat-chip-list>  
          </mat-cell>
        </ng-container>
        <!-- ActiveFlag Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef class="statusColumn"> Status</mat-header-cell>
            <mat-cell *matCellDef="let element" class="statusColumn">
              <i [ngClass]="[element.enabled ? 'fa fa-check activeFontColor' : 'fa fa-times inactiveFontColor']"></i>
            </mat-cell>
          </ng-container>
        <!-- action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell class="actionColumn" *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell class="actionColumn padding5" *matCellDef="let element" >
            <button mat-mini-fab style="background: orange" (click)="editGroup(element.mediaTypeId)" title="Update {{ element.mediaTypeId }}">
              <i class="fa fa-edit"></i>
            </button>&nbsp;
            <!-- Delete option not required for Media Type -->
            <button mat-mini-fab style="background: red" (click)="deleteRow(element.mediaTypeId)">
              <i class="fa fa-trash" title="Delete {{ element.mediaTypeId }}"></i>
            </button>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>  
    </div> 
  </div>