<p>
  articletbl works!

</p>
<h1>Here is the page menu id {{commonservice.subid}} and {{commonservice.dataTbl.statusDesc}}</h1>
<!-- Data table -->
<!-- <mat-table #table [dataSource]="this.dataSource"> -->
  <!-- Position Column -->
  <!-- <ng-container matColumnDef="articleCategoryName">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let articleCategory"> {{articleCategory.articleCategoryName}} </mat-cell>
  </ng-container> -->
  <!-- Name Column -->
  <!-- <ng-container matColumnDef="articleCategoryDescription">
    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
    <mat-cell *matCellDef="let articleCategory"> {{articleCategory.articleCategoryDescription}} </mat-cell>
  </ng-container> -->
  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="articleCategoryActiveFlag">
    <mat-header-cell *matHeaderCellDef> Article Category Active Flag </mat-header-cell>
    <mat-cell *matCellDef="let articleCategory"> {{articleCategory.articleCategoryActiveFlag}} </mat-cell>
  </ng-container> -->
  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="articleCategoryMygovFlag">
    <mat-header-cell *matHeaderCellDef> Article Category Mygov Flag </mat-header-cell>
    <mat-cell *matCellDef="let articleCategory"> {{articleCategory.articleCategoryMygovFlag}} </mat-cell>
  </ng-container> -->
  <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table> -->