<div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

    <div class="curdHeader">
        <div class="col-md-10 curdHeadingLeft">
            <h3>{{ 'feedbackmsg.header' | translate }}</h3>
        </div>
        
        <div class="col-md-2 curdHeadingRight">
            <span class="pull-right">
                <button type="button" mat-fab color="accent" (click)="back()" >
                <i class="fa fa-arrow-left font-size-l"></i></button>
            </span>
        </div> 
    </div>

    <div *ngIf="!commonservice.isWrite && !commonservice.isUpdate" class="alert alert-danger">
        {{'common.msg.unauthorized' | translate }}
    </div>
      
    <form [formGroup]="updateForm" autocomplete="off" role="form" novalidate *ngIf="commonservice.isWrite || commonservice.isUpdate">
                        
        <div class="example-container mat-elevation-z8 paddingBottom-10">

            <div class="bg-form-header col-md-12">
                <div class="row">
                    <label class="col-md-12">{{ 'feedbackmsg.feedbackinfo' | translate }}</label>
                </div>
            </div><br>

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-1"><span class="label-name">{{ 'feedbackmsg.name' | translate }}</span></div>
                <div class="col-md-11"><span style="font-size: 17px;">>> &nbsp;{{name}} ({{email}})</span></div>
            </div>

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-1"><span class="label-name">{{ 'feedbackmsg.type' | translate }}</span></div>
                <div class="col-md-11"><span style="font-size: 17px;">>> &nbsp;{{type}}</span></div>
            </div>
    
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-1"><span class="label-name">{{ 'feedbackmsg.subject' | translate }}</span></div>
                <div class="col-md-11"><span style="font-size: 17px;">>> &nbsp;{{subject}}</span></div>
            </div>

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-1"><span class="label-name">{{ 'feedbackmsg.msg' | translate }}</span></div>
                <div class="col-md-11"><span style="font-size: 17px;">>> &nbsp;</span></div>
            </div>

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-1"><span class="label-name">&nbsp;</span></div>
                <div class="col-md-10"><span style="font-size: 17px; text-align:justify;">{{messages}}</span></div>
            </div>

            <div class="bg-form-header col-md-12">
                <div class="row">
                    <label class="col-md-12">{{ 'feedbackmsg.replysection' | translate }}</label>
                </div>
            </div>

            <div class="example-header">
                <div class="col-md-12">
                    <mat-form-field class="example-full-width" >
                        <textarea matInput formControlName="reply" #message maxlength="1000" 
                        (keyup)="checkReqValues()" tabindex="1" rows="20"></textarea>
                        <!-- <mat-error *ngIf="updateForm.controls.reply.hasError('required')">
                            Reply is required
                        </mat-error> -->
                        <mat-hint align="end">{{reply.value?.length || 0}}/1000</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        
        </div>
    
        <div class="form-group paddingTop-20">

            <button mat-raised-button type="button" color="primary" id="btnreply" class="form-control btn btn-md btn-success font-size-s pull-right"
            (click)="submitReply(updateForm.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;" [disabled]="!complete">
            <i *ngIf="complete" class="fa fa-check"></i>
            <i *ngIf="!complete" class="fa fa-times"></i> Submit </button>
            <button mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success font-size-s pull-right"
            (click)="submit(updateForm.value)" style="width: 110px; font-family: Roboto; margin-left: 5px;" [disabled]="!complete">
            <i *ngIf="complete" class="fa fa-check"></i>
            <i *ngIf="!complete" class="fa fa-times"></i> Save Draft </button>
            <button tabindex="2" mat-raised-button color="warn" type="button" id="btnreset" class="form-control btn btn-md btn-warning font-size-s pull-right"
            style="width: 100px; font-family: Roboto" (click)="resetModal.show()">
            <i class="fa fa-refresh"></i> Reset</button>
        </div>      
    </form>
</div>
      
<app-confirm-dialog  #resetModal 
[title]="'common.icon.warn'" 
[content]="'common.msg.reset'"
[state]="'bg_header bg_warn_header'"
[isReset]="'true'"
(resetMethod)="myFunction()">
</app-confirm-dialog>