.right-content {
    width: 100%;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.bg-form-header {
    padding: 10px;
    background: transparent;
    border-bottom: 1px solid #ccc;
}

.example-full-width {
    width: 100%;
}

.categoryList {
    color: #ff0 !important;
}

.item{
    font-size: 15px !important;
    font-family: "Roboto" !important;
}

tree-select-item{
    background: #ff0 !important;
}
