<div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
    <div class="curdHeader">
        <div class="col-md-10 curdHeadingLeft">
            <h3>{{commonservice.pageMode}} Category </h3>
        </div>
        
        <div class="col-md-2 curdHeadingRight">
            <span class="pull-right">
                <button type="button" mat-fab color="accent" (click)="back()" >
                <i class="fa fa-arrow-left font-size-l"></i></button>
            </span>
        </div> 
    </div>

    <div *ngIf="!commonservice.isWrite && !commonservice.isUpdate && !commonservice.isRead" class="alert alert-danger">
        {{'common.msg.unauthorized' | translate}}
    </div>

    <form [formGroup]="updateForm" autocomplete="off" role="form" novalidate *ngIf="commonservice.isWrite || commonservice.isUpdate || commonservice.isRead">
                    
        <div class="example-container mat-elevation-z8 paddingBottom-10">

            <div class="bg-form-header col-md-12">
                <div class="row">
                    <label class="col-md-6">English</label>
                    <label class="col-md-6">Bahasa Malaysia</label>
                </div>
            </div><br>

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Category Title" formControlName="titleEn" (keyup)="checkReqValues()"
                        required tabindex="1">
                        <mat-error *ngIf="updateForm.controls.titleEn.hasError('required')">
                            Category Title is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Tajuk Kategori" formControlName="titleBm" (keyup)="checkReqValues()"
                        required tabindex="2">
                        <mat-error *ngIf="updateForm.controls.titleBm.hasError('required')">
                            Tajuk Kategori diperlukan
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> 

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <textarea matInput placeholder="Description" formControlName="descEn" #pollEng maxlength="200" 
                        (keyup)="checkReqValues()" required tabindex="3"></textarea>
                        <mat-error *ngIf="updateForm.controls.descEn.hasError('required')">
                            Description is required
                        </mat-error>
                        <mat-hint align="end">{{descEn.value?.length || 0}}/200</mat-hint>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <textarea matInput placeholder="Penerangan" formControlName="descBm" #pollMalay maxlength="200" 
                        (keyup)="checkReqValues()" required tabindex="4"></textarea>
                        <mat-error *ngIf="updateForm.controls.descBm.hasError('required')">
                            Penerangan diperlukan
                        </mat-error>
                        <mat-hint align="end">{{descBm.value?.length || 0}}/200</mat-hint>
                    </mat-form-field>
                </div>
            </div> 

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select formControlName="parentsEn" placeholder="Parent" tabindex="5" (change)="selectedCat($event,1)">
                            <mat-option *ngFor="let category of treeEn" 
                            [value]="category?.id">{{ category?.categoryName }}</mat-option>
                    
                        </mat-select> 
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select formControlName="parentsBm" placeholder="Induk" tabindex="6" (change)="selectedCat($event,2)">
                            <mat-option *ngFor="let category of treeBm" 
                            [value]="category?.id">{{ category?.categoryName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="resultEn" formControlName="Parent" (click)="json_tree()"
                        tabindex="5">
                        <mat-error *ngIf="updateForm.controls.resultEn.hasError('required')">
                            Category Title is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="resultBm" formControlName="Induk" (keyup)="checkReqValues()"
                        tabindex="6">
                        <mat-error *ngIf="updateForm.controls.resultBm.hasError('required')">
                            Tajuk Kategori diperlukan
                        </mat-error>
                    </mat-form-field>
                </div> -->
            </div> 
            <!-- <div id="result"></div> -->

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select formControlName="imageEn" placeholder="Select Image" tabindex="7" (change)="selectedImage($event,1)">
                            <mat-option [value]=null>Select Image</mat-option>
                            <mat-option *ngFor="let img of imageData" 
                            [value]="img.list[0].mediaId">{{ img.list[0].mediaFile }}</mat-option>
                    
                        </mat-select> 
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select formControlName="imageBm" placeholder="Pilih Gambar" tabindex="8" (change)="selectedImage($event,2)">
                            <mat-option [value]=null>Pilih Gambar</mat-option>
                            <mat-option *ngFor="let img of imageData" 
                            [value]="img.list[1].mediaId">{{ img.list[1].mediaFile }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="example-header">
                <div class="col-md-12">
                    <mat-checkbox class="example-full-width" formControlName="ismainmenu" tabindex="9">is Main Menu</mat-checkbox>
                </div>
            </div>          
        
        </div>
    
        <div class="form-group paddingTop-20" *ngIf="commonservice.isUpdate || commonservice.isWrite">
            <button mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success pull-right"
            (click)="submit(updateForm.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;" [disabled]="!complete">
            <i *ngIf="complete" class="fa fa-check"></i>
            <i *ngIf="!complete" class="fa fa-times"></i> {{commonservice.pageMode}} </button>
            <button tabindex="6" mat-raised-button color="warn" type="button" id="btnreset" class="form-control btn btn-md btn-warning pull-right"
            style="width: 100px; font-family: Roboto" (click)="resetModal.show()">
            <i class="fa fa-refresh"></i> Reset</button>
        </div>      
    </form>
</div>

<app-confirm-dialog  #resetModal 
[title]="'common.icon.warn'" 
[content]="'common.msg.reset'"
[state]="'bg_header bg_warn_header'"
[isReset]="'true'"
(resetMethod)="myFunction()">
</app-confirm-dialog>