.right-content {
    width: 100%;
}


.activeFontColor {
    color: green;
}

.inactiveFontColor {
    color:red;
}

  .backTitle {
    margin-left: -2%;
      cursor: pointer;
  }

  .backTitle:hover {
    margin-left: -2%;
      color: #ff4081;
      cursor: pointer;
  }

    .editBtn{
      position: absolute;
      right: 10px;
      top: 65%;
    }

.editBtn:hover {
    position: absolute;
    background-color: rgb(109, 185, 38);
    color: #FFF;
    right: 10px;
    top: 65%;
  }
  
  .editBtn-active {
    position: absolute;
    background-color: rgb(109, 185, 38);
    color: #FFF;
    right: 10px;
    top: 65%;
  }

  .backBtn {
    position: absolute;
    right: 10px;
    top: 40%;
  }

