<div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
    <div class="curdHeader">
        <div class="col-md-10 curdHeadingLeft">
            <h3>{{ 'addresstype.header' | translate }}</h3>
        </div>
        
        <div class="col-md-2 curdHeadingRight">
            <span class="pull-right">
                <button type="button" *ngIf="commonservice.isWrite" mat-fab color="warn" (click)="add()" >
                <i class="fa fa-plus font-size-l"></i></button>
            </span>
        </div> 
    </div>

    <div *ngIf="!commonservice.isRead" class="alert alert-danger">
        {{'common.msg.unauthorized' | translate}}
    </div>

    <div *ngIf="commonservice.isRead">
        <div class="example-container mat-elevation-z8">

            <!-- <div class="col-md-12 example-header">
                <mat-form-field">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div> -->

            <mat-table #table [dataSource]="dataSource" matSort>           
                
                <!-- num Column -->
                <ng-container matColumnDef="num">
                    <mat-header-cell class="text-align-left" style="flex: 0 0 4%;" *matHeaderCellDef> {{ 'addresstype.tableHeader.num' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-left" style="flex: 0 0 4%;" *matCellDef="let element; let i = index;">
                        {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
                    </mat-cell>
                </ng-container>
            
                <!-- add en Column -->
                <ng-container matColumnDef="addEng">
                    <mat-header-cell class="text-align-Left" *matHeaderCellDef> {{ 'addresstype.tableHeader.addresstypeEn' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Left" *matCellDef="let element">
                        {{element.list[0].addressType}} 
                    </mat-cell>
                </ng-container>

                <!-- add bm Column -->
                <ng-container matColumnDef="addMalay">
                    <mat-header-cell class="text-align-Left" *matHeaderCellDef> {{ 'addresstype.tableHeader.addresstypeBm' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Left" *matCellDef="let element">
                        {{element.list[1].addressType}}
                    </mat-cell>
                </ng-container>
            
                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell class="text-align-Center" class="statusColumn" *matHeaderCellDef> {{ 'addresstype.tableHeader.activestatus' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Center" class="statusColumn" *matCellDef="let element">
                        <i *ngIf="element.active == true" class="fa fa-check" style="color: green;"></i>
                        <i *ngIf="element.active == false" class="fa fa-times" style="color: red;"></i>
                    </mat-cell>
                </ng-container>

                <!-- action Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell class="text-align-Center" class="actionColumn" *matHeaderCellDef> {{ 'addresstype.tableHeader.action' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Center" class="actionColumn" *matCellDef="let element">
                        <button mat-mini-fab style="background: orange" *ngIf="commonservice.isUpdate" (click)="updateRow(element.refCode)">
                        <i class="fa fa-eye" title="View {{ element.refCode }}"></i></button>
                        &nbsp;
                        <button mat-mini-fab style="background: red" *ngIf="commonservice.isDelete" (click)="deleteModal.show()">
                        <i class="fa fa-trash" title="Delete {{element.refCode}}"></i></button>
                        <app-confirm-dialog  #deleteModal 
                        [title]="'common.icon.warn'" 
                        [content]="'common.msg.delete'"
                        [state]="'bg_header bg_warn_header'"
                        [isReset]="'true'"
                        (resetMethod)="deleteRow(element.refCode)">
                        </app-confirm-dialog>
                    </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            
        </div>

        <div class="float-right paddingTop-15">
            <mat-form-field style="width:50px; margin-top: -10px">
                <mat-select class="font-size-s" value="10" style="text-align: center;" (change)="pageChange($event, commonservice.recordTable?.totalPages)">
                <mat-option value="5">5</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="25">25</mat-option>
                <mat-option value="50">50</mat-option>
                </mat-select>
            </mat-form-field>
            <span class="float-right">
                <span style="color:#000; padding-left:20px; padding-right:20px;">{{ 'addresstype.tablebottom.page' | translate }}
                    <strong>{{commonservice.recordTable?.pageNumber}}</strong> {{ 'addresstype.tablebottom.of' | translate }}
                    <strong>{{commonservice.recordTable?.totalPages}}</strong> {{ 'addresstype.tablebottom.in' | translate }}
                    <strong>{{commonservice.recordTable?.totalElements}}</strong> {{ 'addresstype.tablebottom.addrtype' | translate }}
                </span>
                <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(commonservice.recordTable?.pageNumber)">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(commonservice.recordTable?.pageNumber, commonservice.recordTable?.totalPages)">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
</div>
 
<!-- <app-confirm-dialog  #resetModal 
[title]="'common.icon.warn'" 
[content]="'common.msg.reset'"
[state]="'common.state.warn'" 
[isReset]="'true'"
(resetMethod)="resetMethod($event)">
</app-confirm-dialog>

<app-confirm-dialog  #infoModal 
[title]="'common.icon.success'" 
[content]="'register.popupmsg.success_content1'"
[email] = "getEmail"
[content2] = "'register.popupmsg.success_content2'" 
[state]="'common.state.success'" 
[isRegister]="'index'">
</app-confirm-dialog> -->