<div class="container right-content">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
  <!-- <div class="col-md-12">
    <h2 class="staticLabel"></h2>
    <span class="pull-right editBtn">
      <button type="button" mat-fab color="warn" (click)="addBtn()" [ngClass]="{ 'editBtn-active': isActive, 'editBtn': !isActive  }">
        <i class="fa fa-plus font-size-l"></i>
      </button>
    </span>
  </div> -->

  <div class="curdHeader">
    <div class="col-md-10 curdHeadingLeft">
        <h3>{{ 'ministrytbl.header' | translate }}</h3>
    </div>
    
    <div class="col-md-2 curdHeadingRight">
        <span class="pull-right">
            <button type="button" mat-fab color="warn" (click)="addBtn()" *ngIf="commonservice.isWrite" [ngClass]="{ 'addBtn-active': isActive, 'addBtn': !isActive  }">
            <i class="fa fa-plus font-size-l"></i></button>
        </span>
    </div> 
</div>

<div *ngIf="!commonservice.isRead" class="alert alert-danger">
    {{'common.msg.unauthorized' | translate}}
</div>

<div *ngIf="commonservice.isRead">
  <div class="example-container mat-elevation-z8">
            
    <div class="row">
        <!-- <div class="col-md-3 paddingTop-10" style="padding-left:30px;">
            <mat-form-field class="example-full-width">
                <mat-select  placeholder="Filter By" (change)="filterType($event)">
                    <mat-option [value]="1">All</mat-option>
                    <mat-option [value]="2">Email</mat-option>
                    <mat-option [value]="3">Keyword</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

        <div class="col-md-9 paddingTop-10" style="padding-left:30px;" *ngIf="filterTypeVal != 1">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="value" placeholder="Keywords">
              <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''; resetSearch()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
        </div>
    </div>

    <mat-table #table [dataSource]="dataSource" >
      <!-- slideId Column -->
      <!-- <ng-container matColumnDef="slideCode">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 10%;">Code</mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 0 0 10%;"> {{element.refCode}} </mat-cell>
      </ng-container> -->

      <!-- No Column -->
      <ng-container matColumnDef="no">
        <mat-header-cell class="text-align-left" style="flex: 0 0 10%;" *matHeaderCellDef> {{ 'ministrytbl.tableHeader.num' | translate }} </mat-header-cell>
        <mat-cell class="text-align-left" style="flex: 0 0 10%;" *matCellDef="let element; let i = index;">
          {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
        </mat-cell>
      </ng-container>

      <!-- ministryNameEn Column -->
      <ng-container matColumnDef="ministryNameEn">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 35%;"> {{ 'ministrytbl.tableHeader.nameEn' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 0 0 35%;"> {{element.list[0].ministryName}} </mat-cell>
      </ng-container>

      <!-- ministryNameBm Column -->
      <ng-container matColumnDef="ministryNameBm">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 35%;"> {{ 'ministrytbl.tableHeader.nameBm' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 0 0 35%;"> {{element.list[1].ministryName}} </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="ministryAction">
        <mat-header-cell *matHeaderCellDef class="actionColumn"> {{ 'ministrytbl.tableHeader.action' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element" class="actionColumn">
            <button mat-mini-fab style="background: orange" *ngIf="commonservice.isUpdate" (click)="updateRow(element.refCode)" title="Update {{ element.refCode }}">
                <i [ngClass]="{ 'fa fa-edit': commonservice.isUpdate}" title="Update {{ element.refCode }}" ></i>
                <i [ngClass]="{ 'fa fa-eye': !commonservice.isUpdate}" title="View {{ element.refCode }}" ></i>
            </button>
            &nbsp;
            <button mat-mini-fab style="background: red" *ngIf="commonservice.isDelete" (click)="deleteRow.show()" title="Delete {{ element.refCode }}">
              <i class="fa fa-trash" title="Delete {{ element.refCode }}"></i>
            </button>
            <app-confirm-dialog  #deleteRow 
            [title]="'common.icon.warn'" 
            [content]="'common.msg.delete'"
            [state]="'common.state.warn'"
            [isReset]="'true'"
            (resetMethod)="deleteItem(element.refCode)">
            </app-confirm-dialog> 
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div *ngIf="showNoData" class="row" style="text-align: center; padding: 20px;">{{ 'mediauploadtbl.nodata' | translate }} </div>

  </div>

  <div class="float-right paddingTop-15">
    <mat-form-field style="width:50px; margin-top: -10px">
      <mat-select class="font-size-s" value="10" style="text-align: center;" (change)="pageChange($event, commonservice.recordTable?.totalPages)">
        <mat-option value="5">5</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="25">25</mat-option>
        <mat-option value="50">50</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="float-right">
      <span style="color:#000; padding-left:20px; padding-right:20px;">{{ 'ministrytbl.tablebottom.page' | translate }}
        <strong>{{commonservice.recordTable?.pageNumber}}</strong> {{ 'ministrytbl.tablebottom.of' | translate }}
        <strong>{{commonservice.recordTable?.totalPages}}</strong> {{ 'ministrytbl.tablebottom.in' | translate }}
        <strong>{{commonservice.recordTable?.totalElements}}</strong> {{commonservice.recordTable?.totalElements > 1 ? 'Ministries' : 'Ministry'}}</span>
      <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(commonservice.recordTable?.pageNumber)">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
      <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(commonservice.recordTable?.pageNumber, commonservice.recordTable?.totalPages)">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
    </span>
  </div>
</div>
</div>