<div class="container right-content">
    
  <div class="curdHeader">
    <div class="col-md-10 curdHeadingLeft">
      <h3>{{ 'mediauploadtbl.header' | translate }}</h3>
    </div>
    <!-- Add option not required for Media Type -->
    <div class="col-md-2 curdHeadingRight">
      <span class="pull-right">
        <button type="button" mat-fab color="warn" (click)="add()" *ngIf="commonservice.isWrite" [ngClass]="{ 'addBtn-active': isActive, 'addBtn': !isActive  }">
          <i [ngClass]="commonservice.icon.plus" class="font-size-m"></i>
        </button>
      </span>
    </div>
  </div>
  <div *ngIf="!commonservice.isRead" [innerHTML]="commonservice.messageSuccess">
   
  </div>
  <div *ngIf="commonservice.isRead">
    
    <div class="example-container mat-elevation-z8">
        <div class="row paddingTop-10 pdg_L_30px">
            <mat-form-field class="example-form-field paddingTop-10 col-md-4">
                <mat-select placeholder="{{ 'mediauploadtbl.filter.searchcat' | translate }}" (change)="selCateType($event)" [(ngModel)]="cateSelect">
                    <mat-option value="0">{{ 'mediauploadtbl.filter.all' | translate }}</mat-option>
                  <mat-option *ngFor="let obj of objCategory" [value]="obj.categoryId">{{obj.categoryName}}</mat-option>
                </mat-select> 
            </mat-form-field>
              <mat-form-field class="example-form-field paddingTop-10 col-md-4">
                  <input matInput type="text" placeholder="{{ 'mediauploadtbl.filter.searchfile' | translate }}" [(ngModel)]="fileName" (keyup)="searchByFileName(fileName)"/>
                  <button mat-button *ngIf="fileName" matSuffix mat-icon-button aria-label="Clear" (click)="value='';reset()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
          </div>
      <mat-table #table [dataSource]="dataSource">
        <!-- No Column -->
        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef class="text-align-left noColumn" > {{ 'common.tableHeader.num' | translate }} </mat-header-cell>
          <mat-cell class="text-align-left noColumn"  *matCellDef="let element; let i = index;" >
            {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
          </mat-cell>
        </ng-container>
        <!-- Media File Column -->
        <ng-container matColumnDef="mediaFile">
          <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 35%'"> {{ 'mediauploadtbl.tableHeader.name' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element" [style.flex]="'0 0 35%'">
            {{element.list[0].mediaFile}}
          </mat-cell>
        </ng-container>
        <!-- Title (EN) Column -->
        <ng-container matColumnDef="catName">
          <mat-header-cell *matHeaderCellDef > {{ 'mediauploadtbl.tableHeader.category' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element" >
            <span class="tag-style" *ngFor="let ele of element.list[0].mediaCategories">
                {{ele.categoryName}}
            </span>
            <!-- <mat-chip-list>
              <mat-chip color="primary" selected="true" *ngFor="let ele of element.list[0].mediaCategories">
                {{ele.categoryName}}</mat-chip>
            </mat-chip-list> -->
          </mat-cell>
        </ng-container>
        <!-- ActiveFlag Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="statusColumn"> {{ 'common.tableHeader.status' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element" class="statusColumn">
            <!-- <i [ngClass]="[element.active ? 'fa fa-check activeFontColor' : 'fa fa-times inactiveFontColor']"></i> -->
            <i *ngIf="element.active == true" [ngClass]="commonservice.icon.check" class="color_green"></i>
            <i *ngIf="element.active == false" [ngClass]="commonservice.icon.times" class="color_red"></i>
          </mat-cell>
        </ng-container>
        <!-- action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell class="actionColumn" *matHeaderCellDef> {{ 'common.tableHeader.action' | translate }} </mat-header-cell>
          <mat-cell class="actionColumn" *matCellDef="let element">
            <button mat-mini-fab class="bg_orange" *ngIf="commonservice.isUpdate" (click)="editGroup(element.refCode)">
              <i *ngIf="commonservice.isUpdate" [ngClass]="commonservice.icon.update" title="{{ 'common.title.update' | translate }}" ></i>
              <i *ngIf="!commonservice.isUpdate" [ngClass]="commonservice.icon.view" title="{{ 'common.title.view' | translate }}" ></i>
            </button>&nbsp;
            <!-- Delete option not required for Media Type -->
            <button mat-mini-fab class="bg_red" *ngIf="commonservice.isDelete" (click)="deleteModal.show()">
              <i [ngClass]="commonservice.icon.trash" title="{{ 'common.title.delete' | translate }}"></i>
            </button>
            <app-confirm-dialog  #deleteModal 
            [title]="'fa fa-exclamation-triangle'" 
            [content]="'common.msg.delete'"
            [state]="'bg_header bg_warn_header'"
                        [isReset]="'true'"
                        (resetMethod)="deleteRow(element.refCode)">
                        </app-confirm-dialog>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <div *ngIf="showNoData" class="row text-align-Center padding-20">{{ 'common.msg.nodata' | translate }} </div>
    </div>
    <div class="float-right paddingTop-15">
      <mat-form-field class="table_footer_pagecount">
        <mat-select class="font-size-s text-align-Center" [(ngModel)]="commonservice.defaultPageSize" (change)="pageChange($event, mediaList?.totalPages)">
          <mat-option *ngFor="let pgcount of commonservice.pageSize" [value]="pgcount.size">{{pgcount.size}}</mat-option>
          <!-- <mat-option value="10">10</mat-option>
          <mat-option value="25">25</mat-option>
          <mat-option value="50">50</mat-option> -->
        </mat-select>
      </mat-form-field>
      <span class="float-right">
        <span class="table_footer_pagination">{{ 'common.tableBottom.page' | translate }}
          <strong>{{mediaPage?.pageNumber}}</strong> {{ 'common.tableBottom.of' | translate }}
          <strong>{{mediaPage?.totalPages}}</strong> {{ 'common.tableBottom.in' | translate }}
          <strong>{{mediaPage?.totalElements}}</strong> {{ 'mediauploadtbl.tablebottom.media' | translate }}</span>
        <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(mediaPage?.pageNumber)">
          <i [ngClass]="commonservice.icon.arrLeft" aria-hidden="true"></i>
        </button>
        <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(mediaPage?.pageNumber, mediaPage?.totalPages)">
          <i [ngClass]="commonservice.icon.arrRight" aria-hidden="true"></i>
        </button>
      </span>
    </div>
  </div>
</div>