<div class="container right-content">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
  <div class="curdHeader">
    <div class="col-md-10 curdHeadingLeft">
      <h3>{{ 'mediauploadtbl.header' | translate }}</h3>
    </div>
    <!-- Add option not required for Media Type -->
    <div class="col-md-2 curdHeadingRight">
      <span class="pull-right">
        <button type="button" mat-fab color="warn" (click)="add()" *ngIf="commonservice.isWrite" [ngClass]="{ 'addBtn-active': isActive, 'addBtn': !isActive  }">
          <i class="fa fa-plus font-size-l"></i>
        </button>
      </span>
    </div>
  </div>
  <div *ngIf="!commonservice.isRead" class="alert alert-danger">
    {{'common.msg.unauthorized' | translate}}
  </div>
  <div *ngIf="commonservice.isRead">
    <div class="row" style="padding: 20px;">
      <div class="col-md-4">
            <mat-select placeholder="Search By Category" (change)="selCateType($event)" [(ngModel)]="cateSelect" required>
                <mat-option value="0">{{ 'mediauploadtbl.filter.all' | translate }}</mat-option>
              <mat-option *ngFor="let obj of objCategory" [value]="obj.list[0].categoryId">{{obj.list[0].categoryName}}</mat-option>
            </mat-select>            
        </div>
      <div class="col-md-4">
          <input matInput id="txtFileName" [(ngModel)]="fileName" placeholder="Search By File Name">          
      </div>
      <div class="col-md-4">
          <button mat-raised-button color="warn" type="button" class="form-control btn btn-md btn-warning pull-right"
          style="width: 100px; font-family: Roboto" (click)="reset()">
          <i class="fa fa-refresh"></i>&nbsp;{{ 'mediauploadtbl.button.reset' | translate }}</button>
          <button mat-raised-button color="primary" type="button" class="form-control btn btn-md btn-warning pull-right"
          style="width: 100px; font-family: Roboto" (click)="searchByFileName(fileName)">
          <i class="fa fa-search"></i>&nbsp;{{ 'mediauploadtbl.button.search' | translate }}</button>         

      </div>
    </div>
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <!-- No Column -->
        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 5%'"> {{ 'mediauploadtbl.tableHeader.num' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index;" [style.flex]="'0 0 5%'">
            {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
          </mat-cell>
        </ng-container>
        <!-- Media File Column -->
        <ng-container matColumnDef="mediaFile">
          <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 35%'"> {{ 'mediauploadtbl.tableHeader.name' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element" [style.flex]="'0 0 35%'">
            {{element.list[0].mediaFile}}
          </mat-cell>
        </ng-container>
        <!-- Title (EN) Column -->
        <ng-container matColumnDef="catName">
          <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 25%'"> {{ 'mediauploadtbl.tableHeader.category' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element" class="padding5" [style.flex]="'0 0 25%'">
            <mat-chip-list>
              <mat-chip color="primary" selected="true" *ngFor="let ele of element.list[0].mediaCategories">
                {{ele.categoryName}}</mat-chip>
            </mat-chip-list>
          </mat-cell>
        </ng-container>
        <!-- ActiveFlag Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="statusColumn"> {{ 'mediauploadtbl.tableHeader.status' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element" class="statusColumn">
            <i [ngClass]="[element.active ? 'fa fa-check activeFontColor' : 'fa fa-times inactiveFontColor']"></i>
          </mat-cell>
        </ng-container>
        <!-- action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell class="actionColumn" *matHeaderCellDef> {{ 'mediauploadtbl.tableHeader.action' | translate }} </mat-header-cell>
          <mat-cell class="actionColumn padding5" *matCellDef="let element">
            <button mat-mini-fab style="background: orange" *ngIf="commonservice.isUpdate" (click)="editGroup(element.refCode)" title="Update {{ element.refCode }}">
              <i class="fa fa-edit"></i>
            </button>&nbsp;
            <!-- Delete option not required for Media Type -->
            <button mat-mini-fab style="background: red" *ngIf="commonservice.isDelete" (click)="deleteModal.show()">
              <i class="fa fa-trash" title="Delete {{ element.refCode }}"></i>
            </button>
            <app-confirm-dialog  #deleteModal 
                        [title]="'common.icon.warn'" 
                        [content]="'common.msg.delete'"
                        [state]="'bg_header bg_warn_header'"
                        [isReset]="'true'"
                        (resetMethod)="deleteRow(element.refCode)">
                        </app-confirm-dialog>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <div *ngIf="showNoData" class="row" style="text-align: center; padding: 20px;">{{ 'mediauploadtbl.nodata' | translate }}</div>
    </div>
    <div class="float-right paddingTop-15">
      <mat-form-field style="width:50px;">
        <mat-select class="font-size-s" value="10" style="text-align: center;" (change)="pageChange($event, mediaList?.totalPages)">
          <mat-option value="5">5</mat-option>
          <mat-option value="10">10</mat-option>
          <mat-option value="25">25</mat-option>
          <mat-option value="50">50</mat-option>
        </mat-select>
      </mat-form-field>
      <span class="float-right">
        <span style="color:#000; padding-left:20px; padding-right:20px;">{{ 'mediauploadtbl.tablebottom.page' | translate }}
          <strong>{{mediaPage?.pageNumber}}</strong> {{ 'mediauploadtbl.tablebottom.of' | translate }}
          <strong>{{mediaPage?.totalPages}}</strong> {{ 'mediauploadtbl.tablebottom.in' | translate }}
          <strong>{{mediaPage?.totalElements}}</strong> {{ 'mediauploadtbl.tablebottom.media' | translate }}</span>
        <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(mediaPage?.pageNumber)">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(mediaPage?.pageNumber, mediaPage?.totalPages)">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
      </span>
    </div>
  </div>
</div>