.right-content {
    width: 100%;
    }
    
    .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    }
    
    .bg-form-header {
    padding: 10px;
    background: transparent;
    border-bottom: 1px solid #ccc;
    }
    
    .example-full-width {
    width: 100%;
    }
    
    .activeFontColor {
    color: green;
    }
    
    .inactiveFontColor {
    color:red;
    }
    
    .backTitle {
    margin-left: -2%;
    cursor: pointer;
    }
    
    .backTitle:hover {
    margin-left: -2%;
    color: #ff4081;
    cursor: pointer;
    }
    
    .addBtn{
    /* position: absolute; */
    /* right: 10px;
    top: 65%; */
    }
    
    .addBtn:hover {
    /* position: absolute; */
    background-color: rgb(109, 185, 38);
    color: #FFF;
    /* right: 10px;
    top: 65%; */
    }
    
    .addBtn-active {
    /* position: absolute; */
    background-color: rgb(109, 185, 38);
    color: #FFF;
    /* right: 10px;
    top: 65%; */
    }
    
    .backBtn a {
    position: absolute;
    right: 10px;
    top: 40%;
    cursor: pointer;
    text-decoration: none
    }
    
    .backBtn:hover a {
    position: absolute;
    right: 10px;
    top: 40%;
    cursor: pointer;
    text-decoration: none
    }
    
    .user_list_container{
        background:#eee;
        height:500px; 
        width:20%;
        float:left;
        padding: 0px;
        overflow: auto;
        box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    }
    
    
    
    .user_list_container > li{
        color: #333;
        /* border-bottom: 1px solid #d0d0d0; */
        background: #e2e2e2;
        font-size: 14px;
    }

    .user_list_container > li > button {
        height: 30px;
        width:180px;
        border: 0px;
        border-bottom: 1px solid #eee;
    }

    .user_list_container > li > button:hover {
        background: #fff;
        color: #000;
    }
    
    
    .user_list_container > li:hover {
        cursor: pointer;
        color: #fff;
        background: #666;
    }


    .userListContainer{
        background: #fff;
        position: relative;
        border: 1px solid;
    }

    .pmd-card-list {
        margin-bottom: 0;
        background-color: #fff;
        margin-top: -2%;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        width: 450px;
    }

    .pmd-z-depth {
        box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    }
    .list-group{
        padding-left: 0;
    }
    .pmd-list .list-group-item {
        padding: 0px;
        margin: 0px;
    }

    .list-link{
        display: block;
        padding: 10px;
        margin: 0px;
        text-decoration: none;
        color: #000;
        background:#fff;
        text-align: left;
        cursor: pointer;
    }


    .list-link:hover{
        background:#797979;
        color: #fff;
    }
    
    .mat-tbl {
        min-height: 500px;
        overflow: hidden;
    }

    .editBtn{
      position: absolute;
      right: 10px;
      top: 65%;
      color: #333;
    }
    
    .editBtn:hover {
      position: absolute;
      background-color: rgb(109, 185, 38);
      color: #FFF;
      right: 10px;
      top: 65%;
    }
    
    .editBtn-active {
      position: absolute;
      background-color: rgb(109, 185, 38);
      color: #FFF;
      right: 10px;
      top: 65%;
    }

    .datetimeMask {
        color: #333;
        margin-bottom: -6%;
    }

    .exp-panel {
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        background: rgba(245, 245, 245, 0.5);
    }

    .listParent {
        position: absolute;
        z-index: 9999;
        overflow-y: scroll;
        height: 300px;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }

    .listParent-w-scroll {
        position:absolute; left: 3%; top:70%; z-index: 1; overflow-y: scroll; height: 250px;
        z-index: 9999;
    }