<div class="container right-content">
  <div class="curdHeader">
    <div class="col-md-4 curdHeadingLeft">
        <h3>User Admin Management</h3>
        <h5>{{language}}</h5>
    </div>


    <div class="col-md-6 curdHeadingRight">
      <form [ngClass]="animateClass" style="display: inline-table;" [formGroup]="addUserForm" autocomplete="off" role="form" novalidate *ngIf="showUserInput" >
          <table class="example-full-width" cellspacing="0"><tr>
            <td style="width:25%">
              <mat-form-field>
                <mat-select formControlName="userType" #userType placeholder="Add User By" (change)="checkReqValues()" required>
                  <mat-option [value]="1">by Email</mat-option>
                  <mat-option [value]="2">by IC No.</mat-option>
                </mat-select>
                <mat-error *ngIf="addUserForm.controls.userType.hasError('required')">
                  Please select the type
                </mat-error>
              </mat-form-field>
            </td>
            <td style="width:25%; padding-left:10px;" *ngIf="showEmail">
              <mat-form-field class="example-full-width">
                <input (keyup)="getSearchData('findByEmail','email', emailFld)" matInput placeholder="Email" #emailFld formControlName="emailFld" required>
                <mat-error *ngIf="addUserForm.controls.emailFld.hasError('required')">
                  Email is required
                </mat-error>
              </mat-form-field>
              </td>
              <td style="width:25%; padding-left:10px;" *ngIf="showIC">
              <mat-form-field class="example-full-width">
                <input (keyup)="getSearchData('findByIcNo','icno', icFld)" matInput placeholder="IC No." #icFld formControlName="icFld" required>
                <mat-error *ngIf="addUserForm.controls.icFld.hasError('required')">
                  IC No. is required
                </mat-error>
              </mat-form-field>

            </td>
            <td style="width:25%; padding-left:10px;">
              <div> <button [disabled]="isActive" mat-raised-button color="primary" (click)="addUserDetails(icFld)">Add User</button> </div>
            </td>
          </tr>
        </table>

        <div *ngIf="isActiveList" style="position:absolute; top:100%;">
          <div *ngIf="searchUserResult?.length == 0">
            <ul class="list-group pmd-z-depth pmd-list pmd-card-list pmd-list">
              <li class="list-group-item" style="text-align:left; padding-left:10px;">
                <h5>Please enter 1 or more characters</h5>
              </li>
            </ul>
          </div>
          <div *ngIf="userType.value == 1">
            <ul class="list-group pmd-z-depth pmd-list pmd-card-list pmd-list">
              <li class="list-group-item" *ngFor="let data of (searchUserResult?.length > 5 ? searchUserResult.slice(0,5):  searchUserResult)">
              <a class="list-link" href="" (click)="getValue('email', data?.email, data?.userId)">
                <h4 class="list-group-item-heading">{{(data?.fullName?.length > 30)? (data?.fullName | slice:0:30)+'..':(data?.fullName)}} </h4>
                <span class="list-group-item-text">{{data?.email}}</span>
              </a> </li>
            </ul>
          </div>

            <div *ngIf="userType.value == 2">
              <ul class="list-group pmd-z-depth pmd-list pmd-card-list pmd-list">
                <li class="list-group-item" *ngFor="let data of (searchUserResult?.length > 5 ? searchUserResult.slice(0,5):  searchUserResult)">
                <a class="list-link" href="" (click)="getValue('identificationNo', data?.identificationNo, data?.userId)">
                  <h4 class="list-group-item-heading">{{(data?.fullName?.length > 30)? (data?.fullName | slice:0:30)+'..':(data?.fullName)}}</h4>
                  <span class="list-group-item-text">{{data?.identificationNo}}</span>
                </a> </li>
              </ul>
            </div>
        </div>
      </form>
  </div>
  <div class="col-md-2 curdHeadingRight">
      <span class="pull-right">
          <button *ngIf="addUserBtn" type="button" mat-fab color="warn" (click)="addUser()" [ngClass]="{ 'addUser-active': isActive, 'addUser': !isActive  }">
          <i class="fa fa-plus font-size-l"></i></button>

          <button *ngIf="closeUserBtn" type="button" mat-fab color="default" (click)="closeUser()" [ngClass]="{ 'addUser-active': isActive, 'addUser': !isActive  }">
              <i class="fa fa-times font-size-l"></i></button>
      </span>
  </div> 
</div>

  <div class="example-container mat-elevation-z8">
  
    <mat-table #table [dataSource]="dataSource">

       <!-- No Column -->
      <ng-container matColumnDef="no">
        <mat-header-cell class="text-align-left" style="flex: 0 0 5%;" *matHeaderCellDef> No </mat-header-cell>
        <mat-cell class="text-align-left" style="flex: 0 0 5%;" *matCellDef="let element; let i = index;">
          {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
        </mat-cell>
      </ng-container>

      <!-- slideTitle Column -->
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 25%;"> Username</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="getRow(element)" style="flex: 0 0 25%;"> {{element.username}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="icno">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 10%;"> IC No.</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="getRow(element)" style="flex: 0 0 10%;"> {{element.icNo}} </mat-cell>
      </ng-container>

      <!-- slideDescription Column -->
      <ng-container matColumnDef="moduleGroupName">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 30%;"> Modules Group List </mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 0 0 30%;" > 
            <mat-chip-list >
                <mat-chip color="primary" selected="true" *ngFor="let ele of (element.items.length > 3 ? element.items.slice(0,3):  element.items)">{{ele.moduleGroupName}}</mat-chip> 
                <mat-chip color="default" *ngIf="element.items.length > 3">+{{element.items.length - 3}}</mat-chip> 
            </mat-chip-list> 
        </mat-cell>
      </ng-container>
      
      <!-- slideActiveFlag Column -->
      <ng-container matColumnDef="activeFlag">
        <mat-header-cell *matHeaderCellDef class="statusColumn"> Status</mat-header-cell>
        <mat-cell *matCellDef="let element" class="statusColumn">
          <i [ngClass]="[element.active ? 'fa fa-check activeFontColor' : 'fa fa-times inactiveFontColor']"></i>
        </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="actionColumn"> Action </mat-header-cell>
        <mat-cell *matCellDef="let element" class="actionColumn">
            <button mat-mini-fab style="background: orange" (click)="updateRow(element.id)" title="Update">
              <i class="fa fa-edit" ></i>
            </button>
            &nbsp;
            <button mat-mini-fab style="background: red" (click)="deleteModal.show()" title="Delete">
                <!-- (click)="deleteRow(element.id)" -->
              <i class="fa fa-trash"  title="Delete"></i>
            </button>
            <app-confirm-dialog  #deleteModal 
              [title]="'common.icon.warn'" 
              [content]="'common.msg.delete'"
              [state]="'bg_header bg_warn_header'"
              [isReset]="'true'"
              (resetMethod)="resetMethod($event, element.id)">
            </app-confirm-dialog>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    

  </div>

  <div class="float-right paddingTop-15">
    <mat-form-field style="width:50px; margin-top: -10px">
      <mat-select class="font-size-s" value="10" style="text-align: center;" (change)="pageChange($event, commonservice.recordTable?.totalPages)">
        <mat-option value="5">5</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="25">25</mat-option>
        <mat-option value="50">50</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="float-right">
      <span style="color:#000; padding-left:20px; padding-right:20px;">Pages
        <strong>{{commonservice.recordTable?.pageNumber}}</strong> of
        <strong>{{commonservice.recordTable?.totalPages}}</strong> in
        <strong>{{commonservice.recordTable?.totalElements}}</strong> sliders</span>
      <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(commonservice.recordTable?.pageNumber)">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
      <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(commonservice.recordTable?.pageNumber, commonservice.recordTable?.totalPages)">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
    </span>
  </div>

</div>



<!-- 
<app-confirm-dialog  #deleteModal 
  [title]="'common.icon.warn'" 
  [content]="'common.msg.delete'"
  [state]="'common.state.warn'"
  [isReset]="'true'"
  (resetMethod)="resetMethod($event, data.messageId)">
</app-confirm-dialog> -->