<div class="container right-content">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true}"></ngx-loading>
  <div class="curdHeader">
    <div class="col-md-4 curdHeadingLeft">
        <h3>{{ 'module.adminManagement' | translate }}</h3>
    </div>


    <div class="col-md-7 curdHeadingRight">
      <form [ngClass]="animateClass" style="display: inline-table;" [formGroup]="updateForm" autocomplete="off" role="form" novalidate *ngIf="showUserInput" >
          <table class="example-full-width" cellspacing="0"><tr>
            <td style="width:25%">
              <mat-form-field>
                <mat-select formControlName="userType" #userType placeholder="{{ 'admin.addby.add' | translate }}" (change)="checkReqValues()" required>
                  <mat-option [value]="1">{{ 'admin.addby.email' | translate }}</mat-option>
                  <mat-option [value]="2">{{ 'admin.addby.icno' | translate }}</mat-option>
                </mat-select>
                <mat-error *ngIf="updateForm.controls.userType.hasError('required')">
                  Please select the type
                </mat-error>
              </mat-form-field>
            </td>
            <td style="width:25%; padding-left:10px;" *ngIf="showEmail">
              <mat-form-field class="example-full-width">
                <input (keyup)="getSearchData('findByEmail','email', emailFld)" matInput placeholder="{{ 'common.component.email' | translate }}" #emailFld formControlName="emailFld" required>
                <mat-error *ngIf="updateForm.controls.emailFld.hasError('required')">
                  {{ 'common.component.email' | translate }} {{ 'common.tablecomp.isrequired' | translate }}
                </mat-error>
              </mat-form-field>
              </td>
              <td style="width:25%; padding-left:10px;" *ngIf="showIC">
              <mat-form-field class="example-full-width">
                <input (keyup)="getSearchData('findByIcNo','icno', icFld)" matInput placeholder="{{ 'common.component.icno' | translate }}" #icFld formControlName="icFld" required>
                <mat-error *ngIf="updateForm.controls.icFld.hasError('required')">
                  {{ 'common.component.icno' | translate }} {{ 'common.tablecomp.isrequired' | translate }}
                </mat-error>
              </mat-form-field>

            </td>
            <td style="width:25%; padding-left:10px;">
              <div> <button [disabled]="isActive" mat-raised-button color="primary" (click)="addUserDetails(icFld)">{{ 'admin.component.adduser' | translate }}</button> </div>
            </td>
          </tr>
        </table>

        <div *ngIf="isActiveList" style="position:absolute; top:100%;">
          <div *ngIf="searchUserResult?.length == 0">
            <ul class="list-group pmd-z-depth pmd-list pmd-card-list pmd-list">
              <li class="list-group-item" style="text-align:left; padding-left:10px;">
                <h5 *ngIf="checkStatus == 'SUCCESS'">No record found!</h5>
                <h5 *ngIf="checkStatus == 'ERROR'">Please enter 1 or more characters</h5>
              </li>
            </ul>
          </div>

          <div *ngIf="userType.value == 1">
            <ul class="list-group pmd-z-depth pmd-list pmd-card-list pmd-list">
              <li class="list-group-item" *ngFor="let data of (searchUserResult?.length > 5 ? searchUserResult.slice(0,5):  searchUserResult)">
              <a class="list-link" (click)="getValue($event, 'email', data?.email, data?.userId)">
                <h4 class="list-group-item-heading">{{(data?.fullName?.length > 30)? (data?.fullName | slice:0:30)+'..':(data?.fullName)}} </h4>
                <span class="list-group-item-text">{{data?.email}}</span>
              </a> </li>
            </ul>
          </div>

            <div *ngIf="userType.value == 2">
              <ul class="list-group pmd-z-depth pmd-list pmd-card-list pmd-list">
                <li class="list-group-item" *ngFor="let data of (searchUserResult?.length > 5 ? searchUserResult.slice(0,5):  searchUserResult)">
                <a class="list-link" (click)="getValue($event, 'identificationNo', data?.identificationNo, data?.userId)">
                  <h4 class="list-group-item-heading">{{(data?.fullName?.length > 30)? (data?.fullName | slice:0:30)+'..':(data?.fullName)}}</h4>
                  <span class="list-group-item-text">{{data?.identificationNo}}</span>
                </a> </li>
              </ul>
            </div>
        </div>
      </form>
  </div>
  <div class="col-md-1 curdHeadingRight" *ngIf="commonservice.isWrite">
      <span class="pull-right">
          <button *ngIf="addUserBtn" type="button" mat-fab color="warn" (click)="addUser()" [ngClass]="{ 'addUser-active': isActive, 'addUser': !isActive  }">
            <i [ngClass]="commonservice.icon.plus" class="font-size-m"></i></button>

          <button *ngIf="closeUserBtn" type="button" mat-fab color="default" (click)="closeUser()" [ngClass]="{ 'addUser-active': isActive, 'addUser': !isActive  }">
            <i [ngClass]="commonservice.icon.times" class="font-size-m"></i></button>
      </span>
  </div>
</div>
  <div *ngIf="!commonservice.isRead" [innerHTML]="commonservice.messageSuccess">

  </div>
<div *ngIf="commonservice.isRead">
    <div class="example-container mat-elevation-z8">

      <mat-table #table [dataSource]="dataSource">

          <!-- No Column -->
        <ng-container matColumnDef="no">
          <mat-header-cell class="text-align-left noColumn" *matHeaderCellDef> {{ 'table.no' | translate }} </mat-header-cell>
          <mat-cell class="text-align-left noColumn" *matCellDef="let element; let i = index;">
            {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
          </mat-cell>
        </ng-container>

        <!-- slideTitle Column -->
        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef style="flex: 0 0 20%;"> {{ 'table.username' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="getRow(element)" style="flex: 0 0 20%;"> {{element.username | truncate:[30, '...']}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="icno">
          <mat-header-cell *matHeaderCellDef style="flex: 0 0 10%;"> {{ 'table.icno' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="getRow(element)" style="flex: 0 0 10%;"> {{element.icNo}} </mat-cell>
        </ng-container>

        <!-- slideDescription Column -->
        <ng-container matColumnDef="moduleGroupName">
          <mat-header-cell *matHeaderCellDef style="flex: 0 0 35%;"> {{ 'table.moduleGroupName' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element" style="flex: 0 0 35%;" >
            <span class="tag-style" *ngFor="let ele of (element.items.length > 3 ? element.items.slice(0,3):  element.items)">
                {{ele.moduleGroupName | truncate:[12, '...']}}
            </span>
            <span *ngIf="element.items.length > 3">
                +{{element.items.length - 3}}
            </span>
              <!-- <mat-chip-list >
                  <mat-chip color="primary" selected="true" *ngFor="let ele of (element.items.length > 3 ? element.items.slice(0,3):  element.items)">{{ele.moduleGroupName | truncate:[12, '...']}}</mat-chip>
                  <mat-chip color="default" *ngIf="element.items.length > 3">+{{element.items.length - 3}}</mat-chip>
              </mat-chip-list>  -->
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="superAdminStatus">
          <mat-header-cell *matHeaderCellDef class="statusColumn"> {{ 'table.isSuperAdmin' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element" class="statusColumn">
            <!-- <i [ngClass]="[element.isSuperAdmin ? 'fa fa-check activeFontColor' : 'fa fa-times inactiveFontColor']"></i> -->
            <i *ngIf="element.isSuperAdmin == true" [ngClass]="commonservice.icon.check" class="color_green"></i>
            <i *ngIf="element.isSuperAdmin == false" [ngClass]="commonservice.icon.times" class="color_red"></i>
          </mat-cell>
        </ng-container>

        <!-- slideActiveFlag Column
        <ng-container matColumnDef="activeFlag">
          <mat-header-cell *matHeaderCellDef class="statusColumn"> {{ 'table.activeFlag' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let element" class="statusColumn">
            <i [ngClass]="[element.active ? 'fa fa-check activeFontColor' : 'fa fa-times inactiveFontColor']"></i>
          </mat-cell>
        </ng-container>
      -->


        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="actionColumn"> {{ 'table.action' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element" class="actionColumn">
              <button mat-mini-fab class="bg_orange" *ngIf="commonservice.isUpdate"  (click)="updateRow(element.id)">
                <i [ngClass]="commonservice.icon.update" title="{{ 'common.title.update' | translate }}" ></i>
              </button>
              &nbsp;
              <button mat-mini-fab class="bg_red" *ngIf="commonservice.isDelete" (click)="deleteModal.show()">
                  <i [ngClass]="commonservice.icon.trash" title="{{ 'common.title.delete' | translate }}"></i>
              </button>
              <app-confirm-dialog  #deleteModal
              [title]="'fa fa-exclamation-triangle'"
              [content]="'common.msg.delete'"
              [state]="'bg_header bg_warn_header'"
                [isReset]="'true'"
                (resetMethod)="resetMethod($event, element.id)">
              </app-confirm-dialog>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <div *ngIf="showNoData" class="row text-align-Center padding-20">{{ 'common.msg.nodata' | translate }} </div>

    </div>

    <div class="float-right paddingTop-15">
      <mat-form-field class="table_footer_pagecount">
        <mat-select class="font-size-s text-align-Center" [(ngModel)]="commonservice.defaultPageSize" (change)="pageChange($event, commonservice.recordTable?.totalPages)">
          <mat-option *ngFor="let pgcount of commonservice.pageSize" [value]="pgcount.size">{{pgcount.size}}</mat-option>
          <!-- <mat-option value="10">10</mat-option>
          <mat-option value="25">25</mat-option>
          <mat-option value="50">50</mat-option> -->
        </mat-select>
      </mat-form-field>
      <span class="float-right">
        <span class="table_footer_pagination">{{ 'table.pages' | translate }}
          <strong>{{recordTable?.pageNumber}}</strong> {{ 'table.of' | translate }}
          <strong>{{recordTable?.totalPages}}</strong> {{ 'table.in' |translate }}
          <strong>{{recordTable?.totalElements}}</strong> {{ 'admin.tablebottom.users' | translate }}</span>
        <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(recordTable?.pageNumber)">
          <i [ngClass]="commonservice.icon.arrLeft" aria-hidden="true"></i>
        </button>
        <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(recordTable?.pageNumber, recordTable?.totalPages)">
          <i [ngClass]="commonservice.icon.arrRight" aria-hidden="true"></i>
        </button>
      </span>
    </div>
</div>


</div>



<!--
<app-confirm-dialog  #deleteModal
  [title]="'common.icon.warn'"
  [content]="'common.msg.delete'"
  [state]="'common.state.warn'"
  [isReset]="'true'"
  (resetMethod)="resetMethod($event, data.messageId)">
</app-confirm-dialog> -->
