<div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

    <div class="curdHeader">
        <div class="col-md-10 curdHeadingLeft">
            <h3>{{ 'feedbackvisitortbl.header' | translate }}</h3>
        </div>
    </div>

    <div *ngIf="!commonservice.isRead" class="alert alert-danger">
        {{'common.msg.unauthorized' | translate}}
    </div>

    <div *ngIf="commonservice.isRead">    
        <div class="example-container mat-elevation-z8">

            <div class="row">
                <div class="col-md-3 paddingTop-10 pdg_L_30px">
                    <mat-form-field class="example-full-width">
                        <mat-select  placeholder="{{ 'common.filterby.all' | translate }}" (change)="filterType($event)">
                            <mat-option [value]="1">{{ 'common.filterby.all' | translate }}</mat-option>
                            <mat-option [value]="2">{{ 'common.filterby.email' | translate }}</mat-option>
                            <mat-option [value]="3">{{ 'common.placeholder.keywords' | translate }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-9 paddingTop-10" *ngIf="filterTypeVal != 1">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="value" placeholder="{{ 'common.placeholder.keywords' | translate }}">
                        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''; resetSearch()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>      
            </div>

            <mat-table #table [dataSource]="dataSource">           
            
                <!-- num Column -->
                <ng-container matColumnDef="num">
                    <mat-header-cell class="text-align-left noColumn" *matHeaderCellDef> {{ 'common.tableHeader.num' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-left noColumn" *matCellDef="let element; let i = index;">
                        {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
                    </mat-cell>
                </ng-container>
            
                <!-- type Column -->
                <ng-container matColumnDef="type">
                    <mat-header-cell class="text-align-Left" *matHeaderCellDef> {{ 'feedbackvisitortbl.tableHeader.feedbacktype' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Left" *matCellDef="let element">
                        {{element.feedbackType.feedbackTypeDescription}} 
                    </mat-cell>
                </ng-container>

                <!-- name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell class="text-align-Left" *matHeaderCellDef> {{ 'feedbackvisitortbl.tableHeader.name' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Left" *matCellDef="let element">
                        {{element.feedbackName}}
                    </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell class="text-align-Left" *matHeaderCellDef> {{ 'feedbackvisitortbl.tableHeader.email' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Left" *matCellDef="let element">
                        {{element.feedbackEmail}}
                    </mat-cell>
                </ng-container>
            
                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell class="text-align-Center" class="statusColumn" *matHeaderCellDef> {{ 'feedbackvisitortbl.tableHeader.draftstatus' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Center" class="statusColumn" *matCellDef="let element">
                        <i *ngIf="element.feedbackDraftFlag == true" [ngClass]="commonservice.icon.check" class="color_green"></i>
                        <i *ngIf="element.feedbackDraftFlag == false" [ngClass]="commonservice.icon.times" class="color_red"></i>
                    </mat-cell>
                </ng-container>

                <!-- action Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell class="text-align-Center" class="actionColumn" *matHeaderCellDef> {{ 'common.tableHeader.action' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Center" class="actionColumn" *matCellDef="let element">
                        <button mat-mini-fab class="bg_orange" *ngIf="commonservice.isUpdate" (click)="updateRow(element.feedbackId)">
                            <i *ngIf="commonservice.isRead" [ngClass]="commonservice.icon.view" title="View {{ element.feedbackId }}"></i></button>
                        <!-- &nbsp;
                        <button mat-mini-fab style="background: red" (click)="deleteRow(element.feedbackTypeId)"> 
                        <i class="fa fa-trash" title="Delete {{ element.feedbackTypeCode }}"></i></button> -->
                    </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <div *ngIf="showNoData" class="row text-align-Center padding-20">{{ 'common.msg.nodata' | translate }} </div>
            
        </div>

        <div class="float-right paddingTop-15">
            <mat-form-field class="table_footer_pagecount">
                <mat-select class="font-size-s text-align-Center" [(ngModel)]="commonservice.defaultPageSize" (change)="pageChange($event, commonservice.recordTable?.totalPages)">
                <mat-option *ngFor="let pgcount of commonservice.pageSize" [value]="pgcount.size">{{pgcount.size}}</mat-option>
                <!-- <mat-option value="10">10</mat-option>
                <mat-option value="25">25</mat-option>
                <mat-option value="50">50</mat-option> -->
                </mat-select>
            </mat-form-field>
            <span class="float-right">
                <span class="table_footer_pagination">{{ 'common.tableBottom.page' | translate }}
                    <strong>{{commonservice.recordTable?.pageNumber}}</strong> {{ 'common.tableBottom.of' | translate }}
                    <strong>{{commonservice.recordTable?.totalPages}}</strong> {{ 'common.tableBottom.in' | translate }}
                    <strong>{{commonservice.recordTable?.totalElements}}</strong> {{ 'feedbackvisitortbl.tablebottom.feedback' | translate }}
                </span>
                <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(commonservice.recordTable?.pageNumber)">
                    <i [ngClass]="commonservice.icon.arrLeft" aria-hidden="true"></i>
                </button>
                <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(commonservice.recordTable?.pageNumber, commonservice.recordTable?.totalPages)">
                    <i [ngClass]="commonservice.icon.arrRight" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
</div>

<!-- <app-confirm-dialog  #resetModal 
[title]="'common.icon.warn'" 
[content]="'common.msg.reset'"
[state]="'common.state.warn'" 
[isReset]="'true'"
(resetMethod)="resetMethod($event)">
</app-confirm-dialog>

<app-confirm-dialog  #infoModal 
[title]="'common.icon.success'" 
[content]="'register.popupmsg.success_content1'"
[email] = "getEmail"
[content2] = "'register.popupmsg.success_content2'" 
[state]="'common.state.success'" 
[isRegister]="'index'">
</app-confirm-dialog> -->