<div class="container-fluid">

    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
    <div class="curdHeader">
        <div class="col-md-10 curdHeadingLeft">
            <h3>{{commonservice.pageMode}} {{ 'pollquestiontbl.name' | translate }}</h3>
        </div>
        
        <div class="col-md-2 curdHeadingRight">
            <span class="pull-right">
                <button type="button" mat-fab color="accent" (click)="back()" >
                <i [ngClass]="commonservice.icon.arrLeft" class="font-size-l"></i></button>
            </span>
        </div> 
    </div>

    <div *ngIf="!commonservice.isWrite && !commonservice.isUpdate && !commonservice.isRead" class="alert alert-danger">
        {{'common.msg.unauthorized' | translate}}
    </div>

    <form [formGroup]="updateForm" autocomplete="off" role="form" novalidate *ngIf="commonservice.isRead || commonservice.isWrite || commonservice.isUpdate">    

        <div class="example-container mat-elevation-z8 paddingBottom-10">
            <div class="bg-form-header col-md-12">
                <div class="row">
                    <label class="col-md-6">English</label>
                    <label class="col-md-6">Bahasa Malaysia</label>
                </div>
            </div><br>

            <div class="example-header">
                <div class="col-md-6 text-align-Center font-size-m"> Poll Question</div>
                <div class="col-md-6 text-align-Center font-size-m"> Soalan Soal Selidik</div>
            </div>

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <textarea matInput placeholder="Poll Question" formControlName="pollEng" #pollEng maxlength="200" 
                        (keyup)="checkReqValues()" required tabindex="1"></textarea>
                        <mat-error *ngIf="updateForm.controls.pollEng.hasError('required')">
                            Poll Question is required
                        </mat-error>
                        <mat-hint align="end">{{pollEng.value?.length || 0}}/200</mat-hint>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <textarea matInput placeholder="Soalan Soal Selidik" formControlName="pollMalay" #pollMalay maxlength="200" 
                        (keyup)="checkReqValues()" required tabindex="2"></textarea>
                        <mat-error *ngIf="updateForm.controls.pollMalay.hasError('required')">
                            Soalan Soal Selidik diperlukan
                        </mat-error>
                        <mat-hint align="end">{{pollMalay.value?.length || 0}}/200</mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="example-header">
                <div class="col-md-6 text-align-Center font-size-m"> Options</div>
                <div class="col-md-6 text-align-Center font-size-m"> Pilihan</div>
            </div>

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Option 1" formControlName="opt1En" (keyup)="checkReqValues()"
                        required tabindex="3">
                        <mat-error *ngIf="updateForm.controls.opt1En.hasError('required')">
                            Option 1 is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Pilihan 1" formControlName="opt1Bm" (keyup)="checkReqValues()"
                        required tabindex="4">
                        <mat-error *ngIf="updateForm.controls.opt1Bm.hasError('required')">
                            Pilihan 1 diperlukan
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Option 2" formControlName="opt2En" (keyup)="checkReqValues()"
                        required tabindex="5">
                        <mat-error *ngIf="updateForm.controls.opt2En.hasError('required')">
                            Option 2 is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Pilihan 2" formControlName="opt2Bm" (keyup)="checkReqValues()" 
                        required tabindex="6">
                        <mat-error *ngIf="updateForm.controls.opt2Bm.hasError('required')">
                            Pilihan 2 diperlukan
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Option 3" formControlName="opt3En" tabindex="7">
                        <mat-error *ngIf="updateForm.controls.opt3En.hasError('required')">
                            Option 3 is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Pilihan 3" formControlName="opt3Bm" tabindex="8">
                        <mat-error *ngIf="updateForm.controls.opt3Bm.hasError('required')">
                            Pilihan 3 diperlukan
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Option 4" formControlName="opt4En" tabindex="9">
                        <mat-error *ngIf="updateForm.controls.opt4En.hasError('required')">
                            Option 4 is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Pilihan 4" formControlName="opt4Bm" tabindex="10">
                        <mat-error *ngIf="updateForm.controls.opt4Bm.hasError('required')">
                            Pilihan 4 diperlukan
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Option 5" formControlName="opt5En" tabindex="11">
                        <mat-error *ngIf="updateForm.controls.opt5En.hasError('required')">
                            Option 5 is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Pilihan 5" formControlName="opt5Bm" tabindex="12">
                        <mat-error *ngIf="updateForm.controls.opt5Bm.hasError('required')">
                            Pilihan 5 diperlukan
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="example-header">
                <div class="col-md-12">
                    <mat-checkbox class="example-full-width" formControlName="active" tabindex="13">{{ 'common.buttons.active' | translate }}</mat-checkbox>
                </div>
            </div>
        </div>
        <div class="form-group paddingTop-20" *ngIf="commonservice.isUpdate || commonservice.isWrite">            
            <button mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success pull-right width_100px mgn_L_5px"
            (click)="submit(updateForm.value)" [disabled]="!complete">
            <i *ngIf="complete" [ngClass]="commonservice.icon.check"></i>
            <i *ngIf="!complete" [ngClass]="commonservice.icon.times"></i> {{commonservice.pageMode}} </button>
            <button tabindex="6" mat-raised-button color="warn" type="button" id="btnreset" class="form-control btn btn-md btn-warning pull-right width_100px" (click)="resetModal.show()">
            <i [ngClass]="commonservice.icon.refresh"></i> Reset</button>
        </div>      
    </form>
</div>

<app-confirm-dialog  #resetModal 
[title]="'common.icon.warn'" 
[content]="'common.msg.reset'"
[state]="'bg_header bg_warn_header'"
[isReset]="'true'"
(resetMethod)="myFunction()">
</app-confirm-dialog>