<!-- VIEW: ADD/EDIT ERROR -->
<div class="container right-content">

  <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

  <div class="curdHeader">
      <div class="col-md-10 curdHeadingLeft">
          <h3>{{ pageMode }} {{ 'errormsg.component.header' | translate }}</h3>
      </div>
      
      <div class="col-md-2 curdHeadingRight">
          <span class="pull-right">
              <button type="button" mat-fab color="accent" (click)="back()" >
              <i [ngClass]="commonservice.icon.arrLeft" class="font-size-l"></i></button>
          </span>
      </div> 
  </div>
  
  <div *ngIf="!commonservice.isWrite && !commonservice.isUpdate && !commonservice.isRead" class="alert alert-danger">
      {{'common.msg.unauthorized' | translate}}
  </div>

  <form [formGroup]="updateForm" *ngIf="commonservice.isRead || commonservice.isWrite || commonservice.isUpdate" autocomplete="off" role="form" novalidate>
  
      <div class="example-container mat-elevation-z8 col-md-12">
        <div class="row">
          <div class="bg-form-header col-md-6">
            <label class="staticLabel font-size-s boldText">English</label>
          </div>
          <div class="bg-form-header col-md-6">
            <label class="staticLabel font-size-s boldText">Bahasa Malaysia</label>
          </div>
        </div>
  
        <div *ngIf="urlEdit == 'add'" class="row">
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width font-size-s">
              <input matInput placeholder="Message Code" formControlName="msgCodeEn" #msgCodeEn (keyup)="copyValue(1)" (change)="checkReqValues()"
                required>
              <mat-error *ngIf="updateForm.controls.msgCodeEn.hasError('required')">
                Message code required
              </mat-error>
              <mat-hint align="end">Format: xxxx.xxxx.xxxx</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width font-size-s">
              <input matInput placeholder="Kod Mesej" formControlName="msgCodeBm" #msgCodeBm (keyup)="copyValue(2)" value="" (change)="checkReqValues()"
                required>
              <mat-error *ngIf="updateForm.controls.msgCodeBm.hasError('required')">
                  Kod Mesej diperlukan
              </mat-error>
              <mat-hint align="end">Format: xxxx.xxxx.xxxx</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="urlEdit != 'add'" class="row">
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width font-size-s">
              <input matInput placeholder="Message Code" formControlName="msgCodeEn" #msgCodeEn (keyup)="copyValue(1)" (change)="checkReqValues()"
                required [attr.disabled]="complete">
              <mat-error *ngIf="updateForm.controls.msgCodeEn.hasError('required')">
                Message code required
              </mat-error>
              <mat-hint align="end">Format: xxxx.xxxx.xxxx</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width font-size-s">
              <input matInput placeholder="Kod Mesej" formControlName="msgCodeBm" #msgCodeBm (keyup)="copyValue(2)" value="" (change)="checkReqValues()"
                required [attr.disabled]="complete">
              <mat-error *ngIf="updateForm.controls.msgCodeBm.hasError('required')">
                  Kod Mesej diperlukan
              </mat-error>
              <mat-hint align="end">Format: xxxx.xxxx.xxxx</mat-hint>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width font-size-s">
              <textarea matInput placeholder="Description" formControlName="descEn" #descEn maxLength="10000" (keyup)="checkReqValues()"
                required></textarea>
              <mat-error *ngIf="updateForm.controls.descEn.hasError('required')">
                Description is required
              </mat-error>
              <mat-hint align="end">{{descEn.value?.length || 0}}/10000</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width font-size-s">
              <textarea matInput placeholder="Keterangan" formControlName="descBm" #descBm maxLength="10000" (keyup)="checkReqValues()"
                required></textarea>
              <mat-error *ngIf="updateForm.controls.descBm.hasError('required')">
                Keterangan diperlukan
              </mat-error>
              <mat-hint align="end">{{descBm.value?.length || 0}}/10000</mat-hint>
              <!-- <mat-error *ngIf="!validateCtrlChk(feedback_message) && feedbackFormgrp.controls.feedback_message.errors.required">{{'feedback.err.drop' | translate }}</mat-error> -->
            </mat-form-field>
          </div>
          <div class="col-md-12">&nbsp;</div>
        </div>

        <!-- <div class="col-md-12">&nbsp;</div> -->
      </div>
  
      <!-- <div class="container"> -->
      <div class="col-md-12">&nbsp;</div>
        <div class="form-group" *ngIf="commonservice.isUpdate || commonservice.isWrite">
          <button mat-raised-button type="button" color="primary" id="btnsubmit" class="btn btn-md btn-success font-size-s pull-right mgn_L_5px"
            (click)="updateErrorMsg(updateForm.value)" [disabled]="!complete">
            <i *ngIf="complete" [ngClass]="commonservice.icon.check"></i>
            <i *ngIf="!complete" [ngClass]="commonservice.icon.times"></i>&nbsp;{{ pageMode }}</button>
          <button mat-raised-button color="warn" type="button" id="btnreset" class="btn btn-md btn-warning font-size-s pull-right"
            (click)="resetModal.show()">
            <i [ngClass]="commonservice.icon.refresh"></i>&nbsp;Reset</button>
        </div>
      <div class="col-md-12">&nbsp;</div>
    <!-- </div> -->
  </form>
</div>
<app-confirm-dialog  #resetModal 
[title]="'common.icon.warn'" 
[content]="'common.msg.reset'"
[state]="'bg_header bg_warn_header'"
[isReset]="'true'"
(resetMethod)="myFunction()">
</app-confirm-dialog>