<div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true}"></ngx-loading>

    <div class="curdHeader">
        <div class="col-md-10 curdHeadingLeft">
            <h3>{{ 'feedbacktbl.header' | translate }}</h3>
        </div>
        
    </div>

    <div *ngIf="!commonservice.isRead" [innerHTML]="commonservice.messageSuccess">
   
    </div>

    <div *ngIf="commonservice.isRead">
        <div class="example-container mat-elevation-z8">
            
            <div class="row">
                <div class="col-md-3 paddingTop-10 pdg_L_30px">
                    <mat-form-field class="example-full-width">
                        <mat-select  placeholder="{{ 'common.filterby.all' | translate }}" (change)="filterType($event)">
                            <mat-option [value]="1">{{ 'common.filterby.all' | translate }}</mat-option>
                            <mat-option [value]="2">{{ 'common.filterby.email' | translate }}</mat-option>
                            <mat-option [value]="3">{{ 'common.placeholder.keywords' | translate }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-9 paddingTop-10" *ngIf="filterTypeVal != 1 && filterTypeVal != 0">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="value" placeholder="{{ 'common.placeholder.keywords' | translate }}">
                        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''; resetSearch()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>

            <mat-table #table [dataSource]="dataSource">           
            
                <!-- num Column -->
                <ng-container matColumnDef="num">
                    <mat-header-cell class="text-align-left noColumn" *matHeaderCellDef> {{ 'common.tableHeader.num' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-left noColumn" *matCellDef="let element; let i = index;">
                        {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
                    </mat-cell>
                </ng-container>
            
                <!-- question en Column -->
                <ng-container matColumnDef="feedbackEng">
                    <mat-header-cell class="text-align-Left" *matHeaderCellDef> {{ 'feedbacktbl.tableHeader.feedbacktype' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Left" *matCellDef="let element">
                        {{element.feedbackType.feedbackTypeDescription}} 
                    </mat-cell>
                </ng-container>

                <!-- question bm Column -->
                <ng-container matColumnDef="feedbackMalay">
                    <mat-header-cell class="text-align-Left" *matHeaderCellDef> {{ 'feedbacktbl.tableHeader.name' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Left" *matCellDef="let element">
                        {{element.feedbackName}}
                    </mat-cell>
                </ng-container>

                <!-- Email bm Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell class="text-align-Left" *matHeaderCellDef> {{ 'feedbacktbl.tableHeader.email' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Left" *matCellDef="let element">
                        {{element.feedbackEmail}} <br>
                        <i class="fa fa-share" style="color: blue;"></i> {{element.feedbackEmail}} 
                    </mat-cell>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <mat-header-cell class="text-align-Center dateColumn" *matHeaderCellDef> {{ 'common.tableHeader.date' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Center dateColumn" *matCellDef="let element">
                        {{submitDate(element.createdDate)}}
                        {{replyDate(element.modifiedDate)}}
                    </mat-cell>
                </ng-container>
            
                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell class="text-align-Center" class="statusColumn" *matHeaderCellDef> {{ 'common.tableHeader.activestatus' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Center" class="statusColumn" *matCellDef="let element">
                        <i *ngIf="element.feedbackReplyFlag == true" [ngClass]="commonservice.icon.check" class="color_green"></i>
                        <i *ngIf="element.feedbackReplyFlag == false" [ngClass]="commonservice.icon.times" class="color_red"></i>
                    </mat-cell>
                </ng-container>

                <!-- action Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell class="text-align-Center" class="actionColumn" *matHeaderCellDef> {{ 'common.tableHeader.action' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Center" class="actionColumn" *matCellDef="let element">
                        <button mat-mini-fab class="bg_orange" *ngIf="commonservice.isRead" (click)="updateRow(element.feedbackId)">
                        <i *ngIf="commonservice.isRead" [ngClass]="commonservice.icon.view" title="{{ 'common.title.view' | translate }}"></i></button>
                        &nbsp;
                        <button mat-mini-fab class="bg_red" *ngIf="commonservice.isDelete" (click)="deleteModal.show()"> 
                            <i [ngClass]="commonservice.icon.trash" title="{{ 'common.title.delete' | translate }}"></i></button>
                        <app-confirm-dialog  #deleteModal 
                        [title]="'fa fa-exclamation-triangle'" 
                        [content]="'common.msg.delete'"
                        [state]="'bg_header bg_warn_header'"
                        [isReset]="'true'"
                        (resetMethod)="deleteRow(element.feedbackId)">
                        </app-confirm-dialog>
                    </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <div *ngIf="showNoData" class="row text-align-Center padding-20">{{ 'common.msg.nodata' | translate }} </div>
            
        </div>

        <div class="float-right paddingTop-15">
            <mat-form-field class="table_footer_pagecount">
                <mat-select class="font-size-s text-align-Center" [(ngModel)]="commonservice.defaultPageSize" (change)="pageChange($event, commonservice.recordTable?.totalPages)">
                    <mat-option *ngFor="let pgcount of commonservice.pageSize" [value]="pgcount.size">{{pgcount.size}}</mat-option>
                <!-- <mat-option value="10">10</mat-option>
                <mat-option value="25">25</mat-option>
                <mat-option value="50">50</mat-option> -->
                </mat-select>
            </mat-form-field>
            <span class="float-right">
                <span class="table_footer_pagination">{{ 'common.tableBottom.page' | translate }}
                    <strong>{{recordTable?.pageNumber}}</strong> {{ 'common.tableBottom.of' | translate }}
                    <strong>{{recordTable?.totalPages}}</strong> {{ 'common.tableBottom.in' | translate }}
                    <strong>{{recordTable?.totalElements}}</strong> {{ 'feedbacktbl.tablebottom.feedback' | translate }}
                </span>
                <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(recordTable?.pageNumber)">
                    <i [ngClass]="commonservice.icon.arrLeft" aria-hidden="true"></i>
                </button>
                <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(recordTable?.pageNumber, recordTable?.totalPages)">
                    <i [ngClass]="commonservice.icon.arrRight" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
</div>