<div class="container-fluid">
    

  <div class="curdHeader">
    <div class="col-md-10 curdHeadingLeft">
      <h3>{{ commonservice.pageMode }} {{ 'religiontbl.header' | translate }}</h3>
    </div>
    <div class="col-md-2 curdHeadingRight">
      <span class="pull-right">
        <button type="button" mat-fab color="accent" (click)="back()">
          <i [ngClass]="commonservice.icon.arrLeft" class="font-size-l"></i>
        </button>
      </span>
    </div>
  </div>
  <div *ngIf="!commonservice.isWrite && !commonservice.isUpdate && !commonservice.isRead" class="alert alert-danger">
      {{'common.msg.unauthorized' | translate}}
  </div>

  <form [formGroup]="updateForm" autocomplete="off" role="form" novalidate *ngIf="commonservice.isWrite || commonservice.isUpdate || commonservice.isRead">
    <div class="example-container mat-elevation-z8 paddingBottom-10">

      <div class="bg-form-header col-md-12">
        <div class="row">
          <label class="col-md-6">English</label>
          <label class="col-md-6">Bahasa Malaysia</label>
        </div>
      </div>
      <br>

      <!-- <div class="example-header" style="margin-top: 10px;">
                        <div class="col-md-6 text-align-Center font-size-m"> 
                            <label class="staticLabel font-size-s boldText">Religion (English)</label>
                        </div>
                        <div class="col-md-6 text-align-Center font-size-m"> 
                            <label class="staticLabel font-size-s boldText">Religion (Malay)</label>
                        </div>
                    </div> -->

      <div class="example-header">
        <div class="col-md-6">
          <mat-form-field class="example-full-width font-size-s">
            <input matInput placeholder="Religion" formControlName="religionEng" #religionEng maxlength="100" (keyup)="checkReqValues()"
              required>
            <mat-error *ngIf="updateForm.controls.religionEng.hasError('required')">
              Religion is required
            </mat-error>
            <mat-hint align="end">{{religionEng.value?.length || 0}}/100</mat-hint>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="example-full-width font-size-s">
            <input matInput placeholder="Agama" formControlName="religionMy" #religionMy maxlength="100" (keyup)="checkReqValues()" required>
            <mat-error *ngIf="updateForm.controls.religionMy.hasError('required')">
              Agama diperlukan
            </mat-error>
            <mat-hint align="end">{{religionMy.value?.length || 0}}/100</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group paddingTop-10" *ngIf="commonservice.isUpdate || commonservice.isWrite">
      <button mat-raised-button type="button" color="primary" id="btnsubmit" class="btn btn-md btn-success font-size-s pull-right mgn_L_5px" (click)="submit(updateForm.value)" [disabled]="!complete">
        <i *ngIf="complete" [ngClass]="commonservice.icon.check"></i>
        <i *ngIf="!complete" [ngClass]="commonservice.icon.times"></i> {{commonservice.pageMode}} </button>
      <button tabindex="6" mat-raised-button color="warn" type="button" id="btnreset" class="btn btn-md btn-warning font-size-s pull-right" (click)="resetModal.show()">
        <i [ngClass]="commonservice.icon.refresh"></i> Reset</button>
    </div>
  </form>
</div>

<app-confirm-dialog #resetModal [title]="'common.icon.warn'" [content]="'common.msg.reset'" [state]="'bg_header bg_warn_header'"
  [isReset]="'true'" (resetMethod)="myFunction()">
</app-confirm-dialog>