<!--The content below is only a placeholder and can be replaced.-->
<!-- <div [ngStyle]="{'min-height': clientHeight + 'px', 'margin-bottom': '0px'}">
<div [ngClass]="{'cascadeBtn':!side,'expandBtn':side}">
    <button mat-button mat-icon-button (click)="side=!side">
        <mat-icon>list</mat-icon>
    </button>
</div>  [ngClass]="{'rightsdE':!side,'rightsdC':side}"-->

<app-nav [state]='getUserName' [getMail]='getEmail' [superStatus]='superAdmin'></app-nav>
<app-leftmenu [state]='getUserName' [getMail]='getEmail' [superStatus]='superAdmin' class="leftsdE"></app-leftmenu>
<div class="alnmt">
    <div class="rightsdC">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="app-invalid" *ngIf="invalidAdmin?.statusCode == 'ERROR'">
    <div style="width: 35%; height: auto; background: #212121;">
        <h3 style="text-align: center; line-height: 35px; color: white;">
            {{invalidAdmin?.statusDesc}}
        </h3>
        <!-- <h3 style="text-align: center; line-height: 35px">nnnn</h3>
        <div  style="text-align: center;"><h4>mmmmm</h4></div>-->
        <p style="text-align: center; color: white;">{{'common.seconds1' | translate }} {{countDown | async}} {{'common.seconds2' | translate }}</p> 
    </div>
</div>

<!-- <div class="app-invalid" *ngIf="(accountStatusId == 3 || accountStatusId == 5) || nonValidUser && !isFirstLogin">
    <div style="width: 35%; height: auto; background: #212121;">
        <h3 style="text-align: center; line-height: 35px" *ngIf="accountStatusId == 3 || accountStatusId == 5">
            {{'common.inactiveMsg' | translate }}
        </h3>
        <h3  *ngIf="accountStatusId != 3 || accountStatusId != 5" style="text-align: center; line-height: 35px">{{msgInvalidUser}}</h3>
        <div  style="text-align: center;"><h4>{{config.adminEmail}}</h4></div>
        <p style="text-align: center;">{{'common.seconds1' | translate }} {{countDown | async}} {{'common.seconds2' | translate }} </p>
    </div>
</div> -->



