<!--The content below is only a placeholder and can be replaced.-->
<!-- <div [ngStyle]="{'min-height': clientHeight + 'px', 'margin-bottom': '0px'}">
<div [ngClass]="{'cascadeBtn':!side,'expandBtn':side}">
    <button mat-button mat-icon-button (click)="side=!side">
        <mat-icon>list</mat-icon>
    </button>
</div>  [ngClass]="{'rightsdE':!side,'rightsdC':side}"-->

<app-nav [state]='getUserName' [getMail]='getEmail' [superStatus]='superAdmin'></app-nav>
<app-leftmenu [state]='getUserName' [getMail]='getEmail' [superStatus]='superAdmin' class="leftsdE"></app-leftmenu>
<div class="alnmt">
    <div class="rightsdC">
        <router-outlet></router-outlet>
    </div>
</div>


