@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto/Roboto-Light.ttf');
   }
   
   
   body{
	 font-family: 'Roboto', sans-serif !important;
   }

   h1, h2, h3{
	font-weight: 200;
  }
  
.top-nav-style{
    width: 100% !important;
    height:270px;   
    position: fixed  !important;
    z-index: 10000;
    -webkit-transition-property: height; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: height;
    transition-duration: 1s;
    top: 0px;
    left: 0px;
}
.nav-bar-style{
    z-index: 10000;
    position: fixed;
    width: 100%;
    top: 30px;
    -webkit-transition-property: top; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: top;
    transition-duration: 1s;
}


@media only screen and (max-width: 500px) {
    .nav-bar-style{
        top: 41px !important;
    }
}

.leftsdE{
    margin-left: 5%;
	width: 15%;
	float: left;
    padding: 10px 0px 0px 10px;
    left: 0;
    transition: 0.1s;
}

.leftsdC{
    position: absolute;
	width: 22%;
	float: left;
    padding: 10px 0px 0px 10px;
    margin-left: -25%;
    /* left: -400px; */
    transition: 0.1s;
}

.expandBtn {
    margin-left: -1%;
	padding-top: 10px;
    border: 0px solid #000;
    float: left;
    /* left: -400px; */
}

.cascadeBtn {
    margin-left: 3.5%;
	padding-top: 18px;
	padding-right: 0px;
    border: 0px solid #000;
    float: left;
    left: -400px;
}

.rightsdC{
    margin-top: -0.5%;
    border: 0px solid #000;
	width: 80%; 
    float: right;
    left: 0;
    transition: 0.1s;
}

.rightsdE {
    border: 0px solid #000;
    width: 93%;
	float: right;
    left: -400px;
    transition: 0.1s;
}

.alnmt{
    /* border: 1px solid #000; */
    margin-left: 2%;
    margin-bottom: -10px;
	padding-right: 5%;
}

.rtCompall{
	float: right;
    width: 75%;
    padding-right: 0%;
    height: 900px;
}
.right-content {
    width: 100%;
}