<!--<p>-->
<!--country works!-->
<!--</p>-->


<div class="container right-content">
  <!-- <div class="col-md-12" style="padding: 10px 10px 10px 0px; border: 0px solid #000">
    <h2 class="staticLabel">View City</h2>
  </div> -->

  <div class="curdHeader">
      <div class="col-md-10 curdHeadingLeft">
          <h3>City</h3>
      </div>
  </div>

  <div class="example-container mat-elevation-z8">
    <!-- <div class="example-header">
      <mat-form-field class="font-size-s" style="margin: 5px 0 0 10px;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div> -->

    <mat-table #table [dataSource]="dataSource">

      <!-- No Column -->
      <ng-container matColumnDef="no">
          <mat-header-cell class="text-align-left" style="flex: 0 0 10%;" *matHeaderCellDef> No </mat-header-cell>
          <mat-cell class="text-align-left" style="flex: 0 0 10%;" *matCellDef="let element; let i = index;">
            {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
          </mat-cell>
        </ng-container>

      <!-- City Name Column -->
      <ng-container matColumnDef="cityName">
        <mat-header-cell class="text-align-left" style="flex: 0 0 18%;" *matHeaderCellDef> City Name </mat-header-cell>
        <mat-cell class="text-align-left" style="flex: 0 0 18%;" *matCellDef="let element">
          {{element.cityName}}
        </mat-cell>
      </ng-container>

      <!-- City Id 1 Column -->
      <ng-container matColumnDef="cityId">
        <mat-header-cell class="text-align-Left centerColumn" style="flex: 0 0 18%;" *matHeaderCellDef> City Id </mat-header-cell>
        <mat-cell class="text-align-Left centerColumn" style="flex: 0 0 18%;" *matCellDef="let element">
          {{element.cityId}}
        </mat-cell>
      </ng-container>

      <!-- City Code 1 Column -->
      <ng-container matColumnDef="cityCode">
        <mat-header-cell class="text-align-Left centerColumn" style="flex: 0 0 18%;" *matHeaderCellDef> City Code </mat-header-cell>
        <mat-cell class="text-align-Left centerColumn" style="flex: 0 0 18%;" *matCellDef="let element">
          {{element.cityCode}}
        </mat-cell>
      </ng-container>

      <!-- State Name 1 Column -->
      <ng-container matColumnDef="stateName">
        <mat-header-cell class="text-align-Left" style="flex: 0 0 18%;" *matHeaderCellDef> State Name </mat-header-cell>
        <mat-cell class="text-align-Left" style="flex: 0 0 18%;" *matCellDef="let element">
          {{element.state.stateName}}
        </mat-cell>
      </ng-container>

      <!-- State Id 1 Column -->
      <ng-container matColumnDef="stateId">
        <mat-header-cell class="text-align-Left centerColumn" style="flex: 0 0 18%;" *matHeaderCellDef> State Id </mat-header-cell>
        <mat-cell class="text-align-Left centerColumn" style="flex: 0 0 18%;" *matCellDef="let element">
          {{element.state.stateId}}
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

  <div class="float-right paddingTop-15">
    <mat-form-field style="width:50px; margin-top: -10px">
      <mat-select class="font-size-s" value="10" style="text-align: center;" (change)="pageChange($event, commonservice.recordTable?.totalPages)">
        <mat-option value="5">5</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="25">25</mat-option>
        <mat-option value="50">50</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="float-right">
            <span style="color:#000; padding-left:20px; padding-right:20px;">Pages
                <strong>{{commonservice.recordTable?.pageNumber}}</strong> of
                <strong>{{commonservice.recordTable?.totalPages}}</strong> in
                <strong>{{commonservice.recordTable?.totalElements}}</strong> city list
            </span>
            <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(commonservice.recordTable?.pageNumber)">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            </button>
            <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(commonservice.recordTable?.pageNumber, commonservice.recordTable?.totalPages)">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
        </span>
  </div>
</div>
