<div class="container right-content">
  

  <div class="curdHeader">
      <div class="col-md-10 curdHeadingLeft">
          <h3>{{commonservice.pageMode}}  {{ 'city.header' | translate}}</h3>
      </div>

      <div class="col-md-2 curdHeadingRight">
          <span class="pull-right">
              <button type="button" mat-fab color="accent" (click)="back()" >
              <i [ngClass]="commonservice.icon.arrLeft" class="font-size-l"></i></button>
          </span>
      </div>
  </div>

  <div *ngIf="!commonservice.isWrite && !commonservice.isUpdate && !commonservice.isRead" [innerHTML]="commonservice.messageSuccess">
   
  </div>

  <form [formGroup]="updateForm" autocomplete="off" role="form" novalidate *ngIf="commonservice.isRead || commonservice.isWrite || commonservice.isUpdate">

      <div class="example-container mat-elevation-z8 paddingBottom-10">

        <div>&nbsp;</div>
        <div class="example-header">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-select (change)="checkReqValues()" formControlName="state" placeholder="{{ 'state.header' | translate }}" required tabindex="1">
                <mat-option [value]="state?.stateId" *ngFor="let state of getStateData" >{{ state?.stateName }}</mat-option>
              </mat-select>
              <mat-error *ngIf="updateForm.controls.state.hasError('required')">
                  {{ 'state.err.state' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        
        <div class="example-header">
          <div class="col-md-12">
            <mat-form-field class="example-full-width" >
              <input matInput placeholder="{{ 'city.header' | translate }}" formControlName="city" (keyup)="checkReqValues()" 
              required tabindex="2">
              <mat-error *ngIf="updateForm.controls.city.hasError('required')">
                  {{ 'city.err.city' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="form-group paddingTop-20" *ngIf="commonservice.isUpdate">
          <button mat-raised-button type="button" color="primary" id="btnsubmit" class="btn btn-md btn-success font-size-s pull-right mgn_L_5px"
          (click)="submit(updateForm.value)" [disabled]="!complete">
          <i *ngIf="complete" [ngClass]="commonservice.icon.check"></i>
          <i *ngIf="!complete" [ngClass]="commonservice.icon.times"></i> {{commonservice.pageMode}} </button>
          <button tabindex="6" mat-raised-button color="warn" type="button" id="btnreset" class="btn btn-md btn-warning font-size-s pull-right" (click)="resetModal.show()">
          <i [ngClass]="commonservice.icon.refresh"></i> Reset</button>
      </div>
  </form>
  
</div>

<app-confirm-dialog  #resetModal 
    [title]="'common.icon.warn'" 
    [content]="'common.msg.reset'"
    [state]="'bg_header bg_warn_header'"
    [isReset]="'true'"
    (resetMethod)="myFunction()">
</app-confirm-dialog>
