<!-- VIEW: ADD/EDIT SLIDER -->
<div class="container right-content">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

  <div class="curdHeader">
      <div class="col-md-10 curdHeadingLeft">
          <h3>{{commonservice.pageMode}} {{ 'publisher.header2' | translate }}</h3>
      </div>
      
      <div class="col-md-2 curdHeadingRight">
          <span class="pull-right">
              <button type="button" mat-fab color="accent" (click)="back()" >
              <i [ngClass]="commonservice.icon.arrLeft" class="font-size-l"></i></button>
          </span>
      </div> 
  </div>
  
  <div *ngIf="!commonservice.isWrite && !commonservice.isUpdate && !commonservice.isRead" class="alert alert-danger">
      {{'common.msg.unauthorized' | translate}}
  </div>

  <form [formGroup]="updateForm" *ngIf="commonservice.isRead || commonservice.isUpdate || commonservice.isWrite" autocomplete="off" role="form" novalidate>
  
      <!-- EN -->
      <div class="example-container mat-elevation-z8 col-md-12">
        <div class="row">
            <div class="bg-form-header col-md-12">
              <label class="">{{ 'publisher.tableHeader.userInfo' | translate }}</label>
            </div>
        </div>

        <div class="row">
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-1">
              <span class="bold">Email</span>
          </div>
          <div class="col-md-11">
              <span>>> {{email}} ({{fullName}})</span>
          </div>
          <div class="col-md-1">
              <span class="bold">Category</span>
          </div>
          <div class="col-md-11">
              <span>>> {{categoryName}} </span>
          </div>
        </div>

        <div class="row">
            <div class="bg-form-header col-md-12">&nbsp;</div>
        </div>

        <div class="row">
          <div class="bg-form-header col-md-6">
            <label class="">English</label>
          </div>
          <div class="bg-form-header col-md-6">
            <label class="">Bahasa Malaysia</label>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Title" formControlName="titleEn" (change)="checkReqValues()"
                required>
              <mat-error *ngIf="updateForm.controls.titleEn.hasError('required')">
                Title is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Tajuk" formControlName="titleBm" value="" (change)="checkReqValues()"
                required>
              <mat-error *ngIf="updateForm.controls.titleBm.hasError('required')">
                Tajuk diperlukan
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Description" formControlName="descEn" #descEn maxLength="10000" (change)="checkReqValues()" required></textarea>
              <mat-error *ngIf="updateForm.controls.descEn.hasError('required')">
                Description is required
              </mat-error>
              <mat-hint align="end">{{descEn.value?.length || 0}}/10000</mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Keterangan" formControlName="descBm" #descBm maxLength="10000" (change)="checkReqValues()"
                required></textarea>
              <mat-error *ngIf="updateForm.controls.descBm.hasError('required')">
                Keterangan diperlukan
              </mat-error>
              <mat-hint align="end">{{descBm.value?.length || 0}}/10000</mat-hint>
            </mat-form-field>
          </div>
        </div>  
     
        <!-- Start Only for Slider -->   
        <div class="row" *ngIf="categoryCode == 4">
          <div class="col-md-6">
              <mat-form-field class="example-full-width">
                  <input matInput type="url" placeholder="URL" formControlName="urlEng" maxlength="100">                  
              </mat-form-field>
          </div>
          <div class="col-md-6">
              <mat-form-field class="example-full-width" >
                  <input matInput type="url" placeholder="URL" formControlName="urlMy" maxlength="100">
              </mat-form-field>
          </div>
          <div class="col-md-12">&nbsp;</div>
        </div>
        <!-- End Only for Slider --> 


        <!-- Start Only for Gallery --> 
        <div class="row" *ngIf="categoryCode == 39">    
          <div class="col-md-6">
              <label class="font-size-s">{{ 'gallerytbl.publishDt' | translate }}</label>
              <mat-form-field class="example-full-width">
                <div [ngClass]="{ 'datetimeMask':isEdit, 'datetimeMaskWithValue':!isEdit }">{{publishdt | date:'dd/MM/yyyy h:m a' }}</div>
                <input placeholder="" [owlDateTime]="publish" style="display: none;" matInput formControlName="publish" #publish (dateTimeInput)="publishEvent('input', $event)" (dateTimeChange)="publishEvent('change', $event)" [min]="minDate" required />
                <span [owlDateTimeTrigger]="publish"><i class="fa fa-calendar pull-right"></i></span>
                <owl-date-time #publish></owl-date-time>
                <mat-error *ngIf="updateForm.controls.publish.hasError('required')">
                  {{ 'gallerytbl.errorStartDate' | translate }}
                </mat-error>
              </mat-form-field>
          </div>

          <div class="col-md-6">
              <label class="font-size-s">{{ 'gallerytbl.endDt' | translate }}</label>
              <mat-form-field class="example-full-width">
                <div [ngClass]="{ 'datetimeMask':isEdit, 'datetimeMaskWithValue':!isEdit }">{{enddt | date:'dd/MM/yyyy h:m a' }}</div>
                <input placeholder="" [owlDateTime]="endD" style="display: none;" matInput formControlName="endD" #endD (dateTimeInput)="endEvent('input', $event)" (dateTimeChange)="endEvent('change', $event)" [min]="minDate" required />
                <span [owlDateTimeTrigger]="endD"><i class="fa fa-calendar pull-right"></i></span>
                <owl-date-time #endD></owl-date-time>
                <mat-error *ngIf="updateForm.controls.endD.hasError('required')">
                  {{ 'gallerytbl.errorEndDate' | translate }}
                </mat-error>
              </mat-form-field>
          </div>
        </div>
        <!-- End Only for Gallery --> 

        <!-- Start Only for Gallery -->        
        <div class="row" *ngIf="categoryCode == 39">
          <div class="col-md-12">
              <label class="font-size-s">Media Type</label>
              <mat-form-field class="example-full-width">
                  <mat-select formControlName="mtype" placeholder="Select Media" (change)="selectedmType($event)" required>
                    <mat-option [value]=null>Select Media Type</mat-option>
                    <mat-option *ngFor="let mtype of mediaTypes" [value]="mtype?.mediaTypeId">{{ mtype?.mediaTypeName }}</mat-option>                      
                  </mat-select>
                  <mat-error *ngIf="updateForm.get('mtype').hasError('required')">
                    Please select a Media Type
                  </mat-error>
              </mat-form-field>
          </div>
        </div>
        <!-- End Only for Gallery -->

        <!-- Start Only for Slider & Gallery --> 
        <div class="row" *ngIf="categoryCode == 4 || categoryCode == 39"> 
            <div class="col-md-6">
              <mat-form-field  class="example-full-width">
                  <mat-select formControlName="imgEn" placeholder="Select File" (change)="selectedImg($event, 1)" required>
                    <mat-option [value]=null>Select File</mat-option>
                    <mat-option *ngFor="let imageEng of fileData" [value]="imageEng.list[0].mediaId">{{ imageEng.list[0].mediaFile }}</mat-option>                      
                  </mat-select>
                  <mat-error *ngIf="updateForm.get('imgEn').hasError('required')">
                    Please select a file
                  </mat-error>                            
              </mat-form-field>

              <!-- <mat-form-field class="example-full-width" *ngIf="fileData.length==0">
                <mat-select formControlName="imgEn" placeholder="Select File" (change)="selectedImg($event, 1)" required>
                  <mat-option [value]=null>No File</mat-option>   
                  <mat-option *ngFor="let imageEng of fileData" [value]="imageEng.list[0].mediaId">{{ imageEng.list[0].mediaFile }}</mat-option>                      
                </mat-select>
                <mat-error *ngIf="updateForm.get('imgEn').hasError('required')">
                  Please select a file
                </mat-error>                            
              </mat-form-field>
             -->
              <div *ngIf="imgEn.value != null && mediaPath == 'images'">
                <img [src]="appConfig.externalMediaURL +'/'+ mediaPath +'/'+ selectedFileEn" style="width:200px">
              </div> 
              <br>
            </div>

            <div class="col-md-6">
              <mat-form-field  class="example-full-width">
                <mat-select formControlName="imgBm" placeholder="Pilih Fail" (change)="selectedImg($event, 2)" required>
                  <mat-option [value]=null>Pilih Fail</mat-option>
                  <mat-option *ngFor="let imageMy of fileData" [value]="imageMy.list[1].mediaId">{{ imageMy.list[1].mediaFile }}</mat-option>
                </mat-select>
                <mat-error *ngIf="updateForm.get('imgBm').hasError('required')">
                  Sila Pilih Fail
                </mat-error>            
              </mat-form-field>

              <!-- <mat-form-field *ngIf="fileData.length==0" class="example-full-width">
                <mat-select formControlName="imgBm" placeholder="Pilih Fail" (change)="selectedImg($event, 2)" required>
                  <mat-option [value]=null>Tiada fail</mat-option>   
                  <mat-option *ngFor="let imageMy of fileData" [value]="imageMy.list[1].mediaId">{{ imageMy.list[1].mediaFile }}</mat-option>
                </mat-select>
                <mat-error *ngIf="updateForm.get('imgBm').hasError('required')">
                  Sila Pilih Fail
                </mat-error>            
              </mat-form-field> -->

              <div *ngIf="imgEn.value != null && mediaPath == 'images'"> 
                <img [src]="appConfig.externalMediaURL +'/'+ mediaPath +'/'+ selectedFileMy" style="width:200px">
              </div>
              <br>
            </div>              
        </div>
        <!-- End Only for Slider & Gallery --> 

        <div class="row">
          <div class="col-md-6">
              <mat-form-field class="example-full-width" >
                  <input matInput type="number" placeholder="Sequence Number" formControlName="seqEng" #seqEng (keyup)="copyValue(1)" maxlength="100">
              </mat-form-field>
          </div>
          <div class="col-md-6">
              <mat-form-field class="example-full-width" >
                  <input matInput type="number" placeholder="Nombor Urutan" formControlName="seqMy" #seqMy (keyup)="copyValue(2)" maxlength="100">
              </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="example-full-width editor block">
              <label for="htmlContentEn">English Content</label>
              <div [froalaEditor] formControlName="htmlContentEn" (keyup)="parseChkEn($event)" [(ngModel)]="editor.enVal" 
              (ngModelChange)="onChangeEn($event)"  #htmlContentEn class="article_content">
        
              </div>
              <!-- <app-ngx-editor [config]="editorConfig" [placeholder]="'Enter text here...'" formControlName="htmlContentEn" #htmlContentEn></app-ngx-editor> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button [disabled]="parseEnBtn" mat-raised-button type="button" color="primary" 
            class="btn btn-md pull-right paddingTop-10" (click)="previewEn()" ><i [ngClass]="commonservice.icon.view"></i></button>
          </div>
        </div>
          
        <div class="row">
          <div class="col-md-12">            
              <div class="example-full-width editor block">
                <label for="htmlContentMy">Malay Content</label>
                <div [froalaEditor] formControlName="htmlContentMy" (keyup)="parseChkMy($event)" [(ngModel)]="editor.bmVal" 
                (ngModelChange)="onChangeBm($event)" #htmlContentMy  class="article_content"></div>
                <!-- <app-ngx-editor [config]="editorConfig" [placeholder]="'Enter text here...'" formControlName="htmlContentMy" #htmlContentMy></app-ngx-editor> -->
              </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col-md-12"> 
            <button [disabled]="parseMyBtn" mat-raised-button type="button" color="primary" 
            class="btn btn-md pull-right paddingTop-10" (click)="previewMy()" ><i [ngClass]="commonservice.icon.view"></i></button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-12">
            <mat-checkbox formControlName="active"></mat-checkbox><span class="">&nbsp;{{ 'common.buttons.active' | translate }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <mat-checkbox class="example-full-width" formControlName="citizenflag" tabindex="10">{{ 'lifeeventtbl.citizenflag' | translate }}</mat-checkbox>
          </div>
        </div>
    
        <div class="row">
          <div class="col-md-12">
            <mat-checkbox class="example-full-width" formControlName="noncitizenflag" tabindex="11">{{ 'lifeeventtbl.noncitizenflag' | translate }}</mat-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-12">
            <mat-checkbox formControlName="approve" (change)="approvePublisher()" [disabled]="disableApprove"></mat-checkbox><span class="">&nbsp;{{ 'common.buttons.approve' | translate }}</span>
          </div>
        </div>

        <div class="col-md-12">&nbsp;</div>
      </div>
  
      <!-- <div class="container"> -->
      <div class="col-md-12">&nbsp;</div>
        <div class="form-group" *ngIf="commonservice.isUpdate || commonservice.isWrite" style="padding-bottom:20px;">
          <button mat-raised-button type="button" color="primary" id="btnsubmit" class="btn btn-md btn-success pull-right mgn_L_5px" 
          (click)="sliderSubmit(updateForm.value)" [disabled]="!complete || !appPublisher || !parseMyBtn || !parseEnBtn ">
            <i *ngIf="complete" [ngClass]="commonservice.icon.check"></i>
            <i *ngIf="!complete" [ngClass]="commonservice.icon.times"></i>&nbsp;{{'common.buttons.submit' | translate}}</button>
          <button mat-raised-button type="button" color="primary" id="btnsubmit" class="btn btn-md btn-success pull-right mgn_L_5px" 
          (click)="sliderDraft(updateForm.value)" [disabled]="!complete || appPublisher || !parseMyBtn || !parseEnBtn ">
            <i *ngIf="complete" [ngClass]="commonservice.icon.check"></i>
            <i *ngIf="!complete" [ngClass]="commonservice.icon.times"></i>&nbsp;{{'common.buttons.darft' | translate}}</button>
          <button mat-raised-button color="warn" type="button" id="btnreset" class=" btn btn-md btn-warning pull-right" (click)="resetModal.show()">
            <i [ngClass]="commonservice.icon.refresh"></i>&nbsp;Reset</button>
        </div>
      <!-- <div class="col-md-12">&nbsp;</div> -->
    <!-- </div> -->
  </form>
</div>
<app-confirm-dialog  #resetModal 
[title]="'common.icon.warn'" 
[content]="'common.msg.reset'"
[state]="'bg_header bg_warn_header'"
[isReset]="'true'"
(resetMethod)="myFunction()">
</app-confirm-dialog>