.right-content {
    width: 100%;
    }
    
    .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    }
    
    .bg-form-header {
    padding: 10px;
    background: transparent;
    border-bottom: 1px solid #ccc;
    }
    
    .example-full-width {
    width: 100%;
    }
    
    .backTitle {
    margin-left: -2%;
    cursor: pointer;
    }
    
    .backTitle:hover {
    margin-left: -2%;
    color: #ff4081;
    cursor: pointer;
    }
    
    .editBtn{
    position: absolute;
    right: 10px;
    top: 65%;
    }
    
    .editBtn:hover {
    position: absolute;
    background-color: rgb(109, 185, 38);
    color: #FFF;
    right: 10px;
    top: 65%;
    }
    
    .editBtn-active {
    position: absolute;
    background-color: rgb(109, 185, 38);
    color: #FFF;
    right: 10px;
    top: 65%;
    }
    
    .backBtn a {
    position: absolute;
    right: 10px;
    top: 40%;
    cursor: pointer;
    text-decoration: none
    }
    
    .backBtn:hover a {
    position: absolute;
    right: 10px;
    top: 40%;
    cursor: pointer;
    text-decoration: none
    }
    
    .user_list_container{
        background:#eee;
        height:500px; 
        width:auto;
        float:left;
        padding: 0px;
        overflow: auto;
        box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
        z-index: 9999;
    }
    
    .user_list_container > li{
        color: #333;
        /* border-bottom: 1px solid #d0d0d0; */
        background: #e2e2e2;
        font-size: 14px;
    }
    
    .user_list_container > li > button {
        height: 30px;
        width:180px;
        border: 0px;
        border-bottom: 1px solid #eee;
        text-align: left
    }
    
    .user_list_container > li > button:hover {
        background: #fff;
        color: #000;
    }
    
    .user_list_container > li:hover {
        cursor: pointer;
        color: #fff;
        background: #666;
    }
    
    