<!-- VIEW: ADD/EDIT AGENCY APP  -->
<div class="container right-content">
  <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
  <div class="curdHeader">
      <div class="col-md-10 curdHeadingLeft">
          <h3>{{ pageMode }} Agency Application </h3>
      </div>
      
      <div class="col-md-2 curdHeadingRight">
          <span class="pull-right">
              <button type="button" mat-fab color="accent" (click)="back()" >
              <i class="fa fa-arrow-left font-size-l"></i></button>
          </span>
      </div> 
  </div>
  
  <div *ngIf="!commonservice.isWrite && !commonservice.isUpdate && !commonservice.isRead" class="alert alert-danger">
    {{'common.msg.unauthorized' | translate}}
  </div>
  
  <form [formGroup]="updateForm" *ngIf="commonservice.isRead || commonservice.isWrite ||  commonservice.isUpdate" autocomplete="off" role="form" novalidate>
  
      <div class="example-container mat-elevation-z8 col-md-12">
        <div class="row">
          <div class="bg-form-header col-md-6">
            <label>English</label>
          </div>
          <div class="bg-form-header col-md-6">
            <label>Bahasa Malaysia</label>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width ">
              <input matInput tabindex="1" placeholder="Agency Application Name" formControlName="agencyAppNameEn" (change)="checkReqValues()"
                required>
              <mat-error *ngIf="updateForm.controls.agencyAppNameEn.hasError('required')">
                Agency Application Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width ">
              <input matInput tabindex="2" placeholder="Agency Application Name" formControlName="agencyAppNameBm" value="" (change)="checkReqValues()"
                required>
              <mat-error *ngIf="updateForm.controls.agencyAppNameBm.hasError('required')">
                Agency Application Name is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width ">
              <textarea matInput tabindex="3" placeholder="Description" formControlName="descEn" #descEn maxLength="10000" (change)="checkReqValues()"
                required></textarea>
              <mat-error *ngIf="updateForm.controls.descEn.hasError('required')">
                Description is required
              </mat-error>
              <mat-hint align="end">{{descEn.value?.length || 0}}/10000</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width ">
              <textarea matInput tabindex="4" placeholder="Description" formControlName="descBm" #descBm maxLength="10000" (change)="checkReqValues()"
                required></textarea>
              <mat-error *ngIf="updateForm.controls.descBm.hasError('required')">
                Description is required
              </mat-error>
              <mat-hint align="end">{{descBm.value?.length || 0}}/10000</mat-hint>
              <!-- <mat-error *ngIf="!validateCtrlChk(feedback_message) && feedbackFormgrp.controls.feedback_message.errors.required">{{'feedback.err.drop' | translate }}</mat-error> -->
            </mat-form-field>
          </div>
          <div class="col-md-12">&nbsp;</div>
        </div>
        
        <div class="row">
          <div class="col-md-6" style="border: 0px solid #000; text-align: left">
            <mat-form-field class="example-full-width">
              <input matInput tabindex="5" placeholder="Agency" formControlName="agencyEn" #agencyEn (keyup)="getSearchData(agencyEn.value, 1)" (change)="checkReqValues()" required>
              <mat-error *ngIf="updateForm.controls.agencyEn.hasError('required')">
                Agency is required
              </mat-error>
            </mat-form-field>

            <div *ngIf="isActiveListEn" style="position:absolute; left: 60%; top:70%; z-index: 9999;">
              <ul class="user_list_container" style="width: 180px; text-align: left; min-height:10px; height: auto; overflow: auto;">
                <li *ngFor="let data of searchAgencyResultEn">
                  <button (click)="getValue(data?.agencyId,data?.agencyName,data?.agencyMinistry.ministryName, data?.agencyCode,1)">{{data?.agencyName}}</button>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6" style="border: 0px solid #000; text-align: left">
            <mat-form-field class="example-full-width">
              <input matInput tabindex="5" placeholder="Agency" formControlName="agencyBm" #agencyBm (keyup)="getSearchData(agencyBm.value, 2)" (change)="checkReqValues()" required>
              <mat-error *ngIf="updateForm.controls.agencyBm.hasError('required')">
                Agency is required
              </mat-error>
            </mat-form-field>

            <div *ngIf="isActiveListBm" style="position:absolute; left: 60%; top:70%; z-index: 9999;">
              <ul class="user_list_container" style="width: 180px; text-align: left; min-height:10px; height: auto; overflow: auto;">
                <li *ngFor="let data of searchAgencyResultBm">
                  <button (click)="getValue(data?.agencyId, data?.agencyName, data?.agencyMinistry.ministryName, data?.agencyCode, 2)">{{data?.agencyName}}</button>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6" style="margin-top: -0.5%">
            <label style="font-size: 0.7em; font-weight: 400; color: rgba(0,0,0,.40); margin-top: -1%; margin-bottom: -1%">Ministry</label>
            <br />
            <span>{{ ministryNameEn }}</span>
          </div>
          <div class="col-md-6" style="margin-top: -0.5%">
            <label style="font-size: 0.7em; font-weight: 400; color: rgba(0,0,0,.40); margin-top: -1%; margin-bottom: -1%">Ministry</label>
            <br />
            <span>{{ ministryNameBm }}</span>
          </div>

          <div class="col-md-12">&nbsp;</div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <mat-form-field class="example-full-width">
              <input matInput tabindex="6" placeholder="Website URL" formControlName="websiteUrl" (keyup)="checkReqValues()" required>
              <mat-error *ngIf="updateForm.controls.websiteUrl.hasError('required')">
                Website URL is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-2 paddingTop-20">
            <mat-checkbox tabindex="7" formControlName="isDoc" [checked]="false" [value]="false"></mat-checkbox>
            <span>&nbsp;is Document</span>
          </div>
          <div class="col-md-12">&nbsp;</div>
        </div>
      </div>
        
      <!-- <div class="container"> -->
      <div class="col-md-12">&nbsp;</div>
        <div class="form-group" *ngIf="commonservice.isUpdate">
          <button mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success  pull-right"
            (click)="updateAgencyApp(updateForm.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;" [disabled]="!complete">
            <i *ngIf="complete" class="fa fa-check"></i>
            <i *ngIf="!complete" class="fa fa-times"></i>&nbsp;{{ pageMode }}</button>
          <button mat-raised-button color="warn" type="button" id="btnreset" class="form-control btn btn-md btn-warning  pull-right"
            style="width: 100px; font-family: Roboto" (click)="myFunction()">
            <i class="fa fa-refresh"></i>&nbsp;Reset</button>
        </div>
      <div class="col-md-12">&nbsp;</div>
    <!-- </div> -->
  </form>
</div>
