<h1>User List </h1>

<!-- <table class="mat-table">
  <tr class="mat-header-row" style="height:45px">
    <td width="3%" class="mat-header-cell text-center"></td>
    <td width="5%" class="mat-header-cell">User Name</td>
    <td width="5%" class="mat-header-cell">Email Address</td>
    <td width="5%" class="mat-header-cell">First Name</td>
    <td width="5%" class="mat-header-cell text-center">Last Name</td>
    <td width="5%" class="mat-header-cell text-center">Active</td>
    <td width="5%" class="mat-header-cell text-center">Staff status</td>
    <td width="5%" class="mat-header-cell text-center">Superuser status</td>
    <td width="5%" class="mat-header-cell text-center">Date Joined</td>
    <td width="5%" class="mat-header-cell text-center">Last login</td>
    <td width="5%" class="mat-header-cell text-center">Send Message</td>
  </tr>
  <tr class="mat-row table_row table_row_height" *ngFor='let user of userList?.userList' [style.font-weight]='bold'>
    <td class="mat-cell text-center"><mat-checkbox></mat-checkbox></td>
    <td class="mat-cell">{{user.fullName}}</td>
    <td class="mat-cell">{{user.email}}</td>
    <td class="mat-cell">{{user.firstName}}</td>
    <td class="mat-cell">{{user.lastName}}</td>
    <td class="mat-cell">{{user.accountStatusId}}</td>
    <td class="mat-cell">{{user.isStaff}}</td>
    <td class="mat-cell">{{user.isMyIdentityVerified}}</td>
    <td class="mat-cell">{{user.dateOfBirth}}</td>
    <td class="mat-cell">--</td>
    <td class="mat-cell"><button mat-raised-button color="primary">Send Message</button></td>   
  </tr>
</table> -->

<div class="example-container mat-elevation-z8">
  <!-- <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div> -->

  <mat-table #table [dataSource]="dataSource">

    <!-- fullName Column -->
    <ng-container matColumnDef="userId">
      <mat-header-cell *matHeaderCellDef> User Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
    </ng-container>

    <!-- fullName Column -->
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef> Full Name </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="getRow(element)"> {{element.fullName}} </mat-cell>
    </ng-container>

    <!-- User Type Column -->
    <ng-container matColumnDef="userTypeId">
      <mat-header-cell *matHeaderCellDef> User Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userTypeId}} </mat-cell>
    </ng-container>

    <!-- Account Status Column -->
    <ng-container matColumnDef="accountStatusId">
      <mat-header-cell *matHeaderCellDef> Acc Status </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.accountStatusId}} </mat-cell>
    </ng-container>

    <!-- Staff Status Column -->
    <ng-container matColumnDef="isStaff">
      <mat-header-cell *matHeaderCellDef> Staff </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.isStaff}} </mat-cell>
    </ng-container>



    <!-- fullName Column -->
    <!-- <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef> Full Name </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="getRow(element)"> {{element.fullName}} </mat-cell>
    </ng-container> -->

    <!-- lastName Column -->
    <!-- <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container> -->

    <!-- dateOfBirth Column -->
    <!-- <ng-container matColumnDef="dateOfBirth">
      <mat-header-cell *matHeaderCellDef> DOB </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div style="float:right; margin-top: 10px;">
    <mat-form-field style="width:50px;">         
        <mat-select class="font-size-s" value="10" style="text-align: center;" (change)="pageChange($event, commonservice.userTable?.totalPages)">
            <mat-option value="5">5</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="25">25</mat-option>
            <mat-option value="50">50</mat-option>
        </mat-select>
    </mat-form-field>   
    <span style="padding-right:20px; float:right; width:100%">
      <span style="color:#000; padding-right:20px;">Pages <strong>{{commonservice.userTable?.pageNumber}}</strong> of <strong>{{commonservice.userTable?.totalPages}}</strong> in <strong>{{commonservice.userTable?.totalElements}}</strong> users</span>
      <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(commonservice.userTable?.pageNumber)"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
      <button mat-mini-fab color="basic" [disabled]="noNextData"  (click)="paginatorR(commonservice.userTable?.pageNumber, commonservice.userTable?.totalPages)"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
    </span>
  </div>  

</div>
