<div class="container right-content">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

    <div class="curdHeader">
      <div class="col-md-10 curdHeadingLeft">
        <h3>{{ 'postcode.header' | translate }}</h3>
      </div>

    </div>
    <div *ngIf="!commonservice.isRead" class="alert alert-danger">
      {{'common.msg.unauthorized' | translate}}
    </div>

    <div *ngIf="commonservice.isRead">

        <div class="example-container mat-elevation-z8 paddingBottom-10">

          <div class="example-header">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <mat-select (change)="getCitiesByState($event)" placeholder="State">
                  <mat-option *ngFor="let state of getStateData" [value]="state">{{ state?.stateName }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <mat-select (change)="getPostcodeByCity($event)" placeholder="City">
                  <mat-option *ngFor="let city of getCityData" [value]="city">{{ city?.cityName }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="example-header">
            <h3 class="pdg_L_15px">
              <span *ngIf="selStateInfo">
                {{selStateInfo?.value.stateName}} ({{ 'postcode.stateid' | translate }}: {{selStateInfo?.value.stateId}})
              </span>
              <span *ngIf="getPostData">
                ,{{selCityInfo?.value.cityName}} ({{ 'postcode.citycode' | translate }}: {{selCityInfo?.value.cityCode}})
              </span>
            </h3>
          </div>

          <div *ngIf="getPostData" class="example-header pdg_L_15px">

            <mat-grid-list cols="6" rowHeight="30px">
              <mat-grid-tile *ngFor="let postcode of getPostData" style="border:#e2e2e2 solid 1px;">
                {{postcode.postCode}}
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
    </div>
</div>