<div class="container-fluid">

  <div class="curdHeader">
      <div class="col-md-10 curdHeadingLeft">
          <h3>{{ 'module.groupList' | translate }}</h3>
      </div>

      <div class="col-md-2 curdHeadingRight">
          <span class="pull-right">
              <button type="button" *ngIf="commonservice.isWrite" mat-fab color="warn" (click)="add()" >
                <i [ngClass]="commonservice.icon.plus" class="font-size-m"></i></button>
          </span>
      </div>
  </div>

  <div *ngIf="!commonservice.isRead" [innerHTML]="commonservice.messageSuccess">

  </div>

  <div *ngIf="commonservice.isRead">
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- Number Column -->
      <!-- <ng-container matColumnDef="No">
          <mat-header-cell *matHeaderCellDef > No. </mat-header-cell>
          <mat-cell *matCellDef="let element" > {{element.groupName}} </mat-cell>
        </ng-container>   -->
      <!-- groupName Column -->
      <ng-container matColumnDef="moduleGroupName">
        <mat-header-cell *matHeaderCellDef mat-sort-header [style.flex]="'0 0 30%'"> {{ 'table.group.moduleGroupName' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element" [style.flex]="'0 0 30%'"> {{element.moduleGroupName}} </mat-cell>
      </ng-container>
      <!-- User Type Column -->
      <ng-container matColumnDef="moduleName" >
        <mat-header-cell *matHeaderCellDef mat-sort-header [style.flex]="'0 0 40%'"> {{ 'table.group.moduleName' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element" class="padding5" [style.flex]="'0 0 40%'">
          <span class="tag-style"*ngFor="let ele of (element.modules.length > 3 ? element.modules.slice(0,3):  element.modules)">
            {{ele.moduleName}}
          </span>
          <span *ngIf="element.modules.length > 3">
              +{{element.modules.length - 3}}
          </span>
<!--
          <mat-chip-list >
                  <mat-chip color="primary" selected="true" *ngFor="let ele of (element.modules.length > 3 ? element.modules.slice(0,3):  element.modules)">{{ele.moduleName}}</mat-chip>
                  <mat-chip color="default" *ngIf="element.modules.length > 3">+{{element.modules.length - 3}}</mat-chip>
              </mat-chip-list>   -->


        </mat-cell>
      </ng-container>
      <!-- isActive Column -->
      <ng-container matColumnDef="isActive" >
          <mat-header-cell mat-sort-header *matHeaderCellDef class="statusColumn"> Status </mat-header-cell>
          <mat-cell *matCellDef="let element" class="statusColumn">
            <i *ngIf="element.active == true" [ngClass]="commonservice.icon.check" class="color_green"></i>
            <i *ngIf="element.active == false" [ngClass]="commonservice.icon.times" class="color_red"></i>
          </mat-cell>
        </ng-container>
      <!-- action Column -->
      <ng-container matColumnDef="action" >
        <mat-header-cell mat-sort-header class="text-align-Center" *matHeaderCellDef class="actionColumn"> {{ 'table.action' | translate }} </mat-header-cell>
        <mat-cell class="text-align-Center padding5" *matCellDef="let element" class="actionColumn">
            <button mat-mini-fab class="bg_orange" *ngIf="commonservice.isUpdate" (click)="editGroup(element.moduleGroupId)" title="Update {{ element.moduleGroupId }}">
              <i *ngIf="commonservice.isUpdate" [ngClass]="commonservice.icon.update" title="{{ 'common.title.update' | translate }}"></i></button>&nbsp;
            <button mat-mini-fab class="bg_red" *ngIf="commonservice.isDelete" (click)="deleteModal.show()">
              <i [ngClass]="commonservice.icon.trash" title="{{ 'common.title.delete' | translate }}"  title="Delete {{ element.moduleGroupId }}"></i></button>

            <app-confirm-dialog  #deleteModal
              [title]="'common.icon.warn'"
              [content]="'common.msg.delete'"
              [state]="'bg_header bg_warn_header'"
              [isReset]="'true'"
              (resetMethod)="resetMethod($event, element.moduleGroupId)">
            </app-confirm-dialog>
        </mat-cell>
    </ng-container>
      <!-- Account Status Column -->
      <!-- <ng-container matColumnDef="accountStatusId">
        <mat-header-cell *matHeaderCellDef> Acc Status </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.accountStatusId}} </mat-cell>
      </ng-container>   -->
      <!-- Staff Status Column -->
      <!-- <ng-container matColumnDef="isStaff">
        <mat-header-cell *matHeaderCellDef> Staff </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.isStaff}} </mat-cell>
      </ng-container>   -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

  <div class="float-right paddingTop-15">
      <mat-form-field class="table_footer_pagecount">
        <mat-select class="font-size-s" [(ngModel)]="commonservice.defaultPageSize" class="text-align-Center" (change)="pageChange($event, groupList?.totalPages)">
          <mat-option *ngFor="let pgcount of commonservice.pageSize" [value]="pgcount.size">{{pgcount.size}}</mat-option>
          <!-- <mat-option value="10">10</mat-option>
          <mat-option value="25">25</mat-option>
          <mat-option value="50">50</mat-option> -->
        </mat-select>
      </mat-form-field>
      <span class="float-right">
        <span class="table_footer_pagination">{{ 'table.pages' | translate }}
          <strong>{{groupList?.pageNumber}}</strong> {{ 'table.of' | translate }}
          <strong>{{groupList?.totalPages}}</strong> {{ 'table.in' |translate }}
          <strong>{{groupList?.totalElements}}</strong> {{ 'table.user.users' |translate }}</span>
        <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(groupList?.pageNumber)">
          <i [ngClass]="commonservice.icon.arrLeft" aria-hidden="true"></i>
        </button>
        <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(groupList?.pageNumber, groupList?.totalPages)">
          <i [ngClass]="commonservice.icon.arrRight" aria-hidden="true"></i>
        </button>
      </span>
    </div>
  </div>

  </div>

