<div class="container-fluid">
  <div class="curdHeader">
      <div class="col-md-10 curdHeadingLeft">
          <h3>Groups List</h3>
      </div>
      
      <div class="col-md-2 curdHeadingRight">
          <span class="pull-right">
              <button type="button" mat-fab color="warn" (click)="add()" >
              <i class="fa fa-plus font-size-l"></i></button>
          </span>
      </div> 
  </div>
  

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- Number Column -->
      <!-- <ng-container matColumnDef="No">
          <mat-header-cell *matHeaderCellDef > No. </mat-header-cell>
          <mat-cell *matCellDef="let element" > {{element.groupName}} </mat-cell>
        </ng-container>   -->
      <!-- groupName Column -->
      <ng-container matColumnDef="moduleGroupName">
        <mat-header-cell *matHeaderCellDef mat-sort-header [style.flex]="'0 0 30%'"> Group Name </mat-header-cell>
        <mat-cell *matCellDef="let element" [style.flex]="'0 0 30%'"> {{element.moduleGroupName}} </mat-cell>
      </ng-container>  
      <!-- User Type Column -->
      <ng-container matColumnDef="moduleName" >
        <mat-header-cell *matHeaderCellDef mat-sort-header [style.flex]="'0 0 50%'"> Modules </mat-header-cell>
        <mat-cell *matCellDef="let element" class="padding5" [style.flex]="'0 0 50%'">          
              <mat-chip-list >
                  <mat-chip color="primary" selected="true" *ngFor="let ele of (element.subModuleGroups ? element.subModuleGroups.slice(0,3): [])">{{ele.moduleName}}</mat-chip>  
              </mat-chip-list>  
            <p style="text-align: right;" *ngIf="element.subModuleGroups.length > 3">{{element.subModuleGroups.length - 3}}</p>   
        </mat-cell>
      </ng-container> 
      <!-- isActive Column -->
      <ng-container matColumnDef="isActive" >
          <mat-header-cell mat-sort-header *matHeaderCellDef [style.flex]="'0 0 10%'"> Status </mat-header-cell>
          <mat-cell *matCellDef="let element" [style.flex]="'0 0 10%'">
            <i [ngClass]="[element.isActive ? 'fa fa-check activeFontColor' : 'fa fa-times inactiveFontColor']"></i>
          </mat-cell>
        </ng-container>
      <!-- action Column -->
      <ng-container matColumnDef="action" >
        <mat-header-cell mat-sort-header class="text-align-Center" *matHeaderCellDef [style.flex]="'0 0 10%'"> Action </mat-header-cell>
        <mat-cell class="text-align-Center padding5" *matCellDef="let element" [style.flex]="'0 0 10%'">
            <button mat-mini-fab style="background: orange" (click)="editGroup(element.moduleGroupId)" title="Update {{ element.moduleGroupId }}">
            <i class="fa fa-edit" ></i></button>&nbsp;
            <button mat-mini-fab style="background: red" (click)="deleteRow(element.moduleGroupId)">
            <i class="fa fa-trash"  title="Delete {{ element.moduleGroupId }}"></i></button>
        </mat-cell>
    </ng-container> 
      <!-- Account Status Column -->
      <!-- <ng-container matColumnDef="accountStatusId">
        <mat-header-cell *matHeaderCellDef> Acc Status </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.accountStatusId}} </mat-cell>
      </ng-container>   -->
      <!-- Staff Status Column -->
      <!-- <ng-container matColumnDef="isStaff">
        <mat-header-cell *matHeaderCellDef> Staff </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.isStaff}} </mat-cell>
      </ng-container>   -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  </div>

  <div class="float-right paddingTop-15">
      <mat-form-field style="width:50px;">
        <mat-select class="font-size-s" value="10" style="text-align: center;" (change)="pageChange($event, groupList?.totalPages)">
          <mat-option value="5">5</mat-option>
          <mat-option value="10">10</mat-option>
          <mat-option value="25">25</mat-option>
          <mat-option value="50">50</mat-option>
        </mat-select>
      </mat-form-field>
      <span class="float-right">
        <span style="color:#000; padding-left:20px; padding-right:20px;">Pages
          <strong>{{groupList?.pageNumber}}</strong> of
          <strong>{{groupList?.totalPages}}</strong> in
          <strong>{{groupList?.totalElements}}</strong> users</span>
        <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(groupList?.pageNumber)">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(groupList?.pageNumber, groupList?.totalPages)">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
      </span>
    </div>
    

  </div>

