<div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

    <div class="curdHeader">
        <div class="col-md-10 curdHeadingLeft">
            <h3>{{ 'feedbackmsg.header' | translate }}</h3>
        </div>
        
        <div class="col-md-2 curdHeadingRight">
            <span class="pull-right">
                <button type="button" mat-fab color="accent" (click)="back()" >
                <i [ngClass]="commonservice.icon.arrLeft" class="font-size-l"></i></button>
            </span>
        </div> 
    </div>

    <div *ngIf="!commonservice.isWrite && !commonservice.isUpdate && !commonservice.isRead" class="alert alert-danger">
        {{'common.msg.unauthorized' | translate}}
    </div>

    <form [formGroup]="updateForm" autocomplete="off" role="form" novalidate *ngIf="commonservice.isRead || commonservice.isWrite || commonservice.isUpdate">
                    
        <div class="example-container mat-elevation-z8 paddingBottom-10">

            <div class="bg-form-header col-md-12">
                <div class="row">
                    <label class="col-md-12">{{ 'feedbackmsg.feedbackinfo' | translate }}</label>
                </div>
            </div><br>

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-1"><span class="label-name">{{ 'feedbackmsg.name' | translate }}</span></div>
                <div class="col-md-11"><span style="font-size: 17px;">>> &nbsp;{{name}} ({{email}})</span></div>
            </div>

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-1"><span class="label-name">{{ 'feedbackmsg.type' | translate }}</span></div>
                <div class="col-md-11"><span style="font-size: 17px;">>> &nbsp;{{type}}</span></div>
            </div>

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-1"><span class="label-name">{{ 'feedbackmsg.subject' | translate }}</span></div>
                <div class="col-md-11"><span style="font-size: 17px;">>> &nbsp;{{subject}}</span></div>
            </div>

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-1"><span class="label-name">{{ 'feedbackmsg.msg' | translate }}</span></div>
                <div class="col-md-11"><span style="font-size: 17px;">>> &nbsp;</span></div>
            </div>

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-1"><span class="label-name">&nbsp;</span></div>
                <div class="col-md-10"><span style="font-size: 17px; text-align:justify;">{{messages}}</span></div>
            </div>

            <div class="bg-form-header col-md-12">
                <div class="row">
                    <label class="col-md-12">{{ 'feedbackmsg.replysection' | translate }}</label>
                </div>
            </div><br>

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-1"><span class="label-name">{{ 'feedbackmsg.reply' | translate }}</span></div>
                <div class="col-md-11"><span style="font-size: 17px;">>> &nbsp;</span></div>
            </div>

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-1"><span class="label-name">&nbsp;</span></div>
                <div class="col-md-10">
                    <span style="font-size: 17px; text-align:justify;">
                        <pre>{{replyMessage}}</pre>
                    </span>
                </div>
            </div>

            <!-- <div class="example-header">
                <div class="col-md-12">
                    <mat-form-field class="example-full-width" >
                        <textarea matInput formControlName="reply" 
                        rows="20" [attr.disabled]="true"></textarea>
                    </mat-form-field>
                </div>
            </div> -->
        
        </div>

        <div class="form-group paddingTop-20" *ngIf="commonservice.isUpdate || commonservice.isWrite">
            <button mat-raised-button type="button" color="primary" id="btnsubmit"
            class="btn btn-md btn-success font-size-s pull-right width_100px mgn_L_5px"
            (click)="deleteModal.show()" >
            <i [ngClass]="commonservice.icon.times"></i> {{ 'common.buttons.delete' | translate }} </button>
            <!-- <button tabindex="6" mat-raised-button color="warn" type="button" id="btnreset" class="btn btn-md btn-warning font-size-s pull-right"
            style="width: 100px; font-family: Roboto" (click)="myFunction()">
            <i class="fa fa-refresh"></i> Reset</button> -->
        </div>      
    </form>
</div>

<app-confirm-dialog  #deleteModal 
[title]="'common.icon.warn'" 
[content]="'common.msg.delete'"
[state]="'bg_header bg_warn_header'"
[isReset]="'true'"
(resetMethod)="delete(getId)">
</app-confirm-dialog>