<div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

    <div class="curdHeader">
        <div class="col-md-10 curdHeadingLeft">
            <h3>{{ 'fonttbl.header' | translate }}</h3>
        </div>
        
        <div class="col-md-2 curdHeadingRight">
            <span class="pull-right">
                <button type="button" *ngIf="commonservice.isWrite" mat-fab color="warn" (click)="add()" >
                <i [ngClass]="commonservice.icon.plus" class="font-size-m"></i></button>
            </span>
        </div> 
    </div>

    <div *ngIf="!commonservice.isRead" [innerHTML]="commonservice.messageSuccess">
      
    </div>

    <div *ngIf="commonservice.isRead">
        <div class="example-container mat-elevation-z8">
            
            <!-- <div class="col-md-12 paddingTop-10">
                <mat-form-field class="font-size-s">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div> -->

            <mat-table #table [dataSource]="dataSource">           
            
                <!-- num Column -->
                <ng-container matColumnDef="num">
                    <mat-header-cell class="text-align-left noColumn" *matHeaderCellDef> {{ 'common.tableHeader.num' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-left noColumn" *matCellDef="let element; let i = index;">
                        {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
                    </mat-cell>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell class="text-align-Left" style="flex: 0 0 14%;" *matHeaderCellDef> {{ 'fonttbl.tableHeader.name' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Left" style="flex: 0 0 14%;" *matCellDef="let element">
                        {{element.fontName}} 
                    </mat-cell>
                </ng-container>

                <!-- Url Column -->
                <ng-container matColumnDef="url">
                    <mat-header-cell class="text-align-Left" *matHeaderCellDef> {{ 'fonttbl.tableHeader.url' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Left" *matCellDef="let element">
                        {{element.fontUrl}}
                    </mat-cell>
                </ng-container>

                <!-- Default Column -->
                <ng-container matColumnDef="default_status">
                    <mat-header-cell class="text-align-Center" class="statusColumn" *matHeaderCellDef> {{ 'fonttbl.tableHeader.defaultstatus' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Center" class="statusColumn" *matCellDef="let element">
                        <i *ngIf="element.defaultFont == true" [ngClass]="commonservice.icon.check" class="color_green"></i>
                        <i *ngIf="element.defaultFont == false" [ngClass]="commonservice.icon.times" class="color_red"></i>
                    </mat-cell>
                </ng-container>
            
                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell class="text-align-Center" class="statusColumn" *matHeaderCellDef> {{ 'common.tableHeader.activestatus' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Center" class="statusColumn" *matCellDef="let element">
                        <i *ngIf="element.enabled == true" [ngClass]="commonservice.icon.check" class="color_green"></i>
                        <i *ngIf="element.enabled == false" [ngClass]="commonservice.icon.times" class="color_red"></i>
                    </mat-cell>
                </ng-container>

                <!-- action Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell class="text-align-Center" class="actionColumn" *matHeaderCellDef> {{ 'common.tableHeader.action' | translate }} </mat-header-cell>
                    <mat-cell class="text-align-Center" class="actionColumn" *matCellDef="let element">
                        <button mat-mini-fab class="bg_orange" (click)="updateRow(element.fontId)">
                        <i *ngIf="commonservice.isUpdate" [ngClass]="commonservice.icon.update" title="{{ 'common.title.update' | translate }}"></i>
                        <!-- <i [ngClass]="{ 'fa fa-eye': !commonservice.isUpdate}" title="View {{ element.fontId }}"></i>
                        &nbsp; --></button>
                        <button mat-mini-fab class="bg_red" *ngIf="commonservice.isDelete" (click)="deleteModal.show()">
                        <i [ngClass]="commonservice.icon.trash" title="{{ 'common.title.delete' | translate }}"></i></button>
                        <app-confirm-dialog  #deleteModal 
                        [title]="'fa fa-exclamation-triangle'" 
                        [content]="'common.msg.delete'"
                        [state]="'bg_header bg_warn_header'"
                        [isReset]="'true'"
                        (resetMethod)="deleteRow(element.fontId)">
                        </app-confirm-dialog>
                    </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            
        </div>
        
        <div class="float-right paddingTop-15">
            <mat-form-field class="table_footer_pagecount">
                <mat-select class="font-size-s text-align-Center" [(ngModel)]="commonservice.defaultPageSize" (change)="pageChange($event, commonservice.recordTable?.totalPages)">
                <mat-option *ngFor="let pgcount of commonservice.pageSize" [value]="pgcount.size">{{pgcount.size}}</mat-option>
                <!-- <mat-option value="10">10</mat-option>
                <mat-option value="25">25</mat-option>
                <mat-option value="50">50</mat-option> -->
                </mat-select>
            </mat-form-field>
            <span class="float-right">
                <span class="table_footer_pagination">{{ 'common.tableBottom.page' | translate }}
                    <strong>{{recordTable?.pageNumber}}</strong> {{ 'common.tableBottom.of' | translate }}
                    <strong>{{recordTable?.totalPages}}</strong> {{ 'common.tableBottom.in' | translate }}
                    <strong>{{recordTable?.totalElements}}</strong> {{ 'fonttbl.tablebottom.font' | translate }}
                </span>
                <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(recordTable?.pageNumber)">
                <i [ngClass]="commonservice.icon.arrLeft" aria-hidden="true"></i>
                </button>
                <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(recordTable?.pageNumber, recordTable?.totalPages)">
                <i [ngClass]="commonservice.icon.arrRight" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
</div>

<!-- <app-confirm-dialog  #resetModal 
[title]="'common.icon.warn'" 
[content]="'common.msg.reset'"
[state]="'common.state.warn'" 
[isReset]="'true'"
(resetMethod)="resetMethod($event)">
</app-confirm-dialog>

<app-confirm-dialog  #infoModal 
[title]="'common.icon.success'" 
[content]="'register.popupmsg.success_content1'"
[email] = "getEmail"
[content2] = "'register.popupmsg.success_content2'" 
[state]="'common.state.success'" 
[isRegister]="'index'">
</app-confirm-dialog> -->