<div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

    <div class="curdHeader">
        <div class="col-md-10 curdHeadingLeft">
            <h3>{{commonservice.pageMode}} Feedback Type</h3>
        </div>
        
        <div class="col-md-2 curdHeadingRight">
            <span class="pull-right">
                <button type="button" mat-fab color="accent" (click)="back()" >
                <i class="fa fa-arrow-left font-size-l"></i></button>
            </span>
        </div> 
    </div>

    <div *ngIf="!commonservice.isWrite && !commonservice.isUpdate" class="alert alert-danger">
        {{'common.msg.unauthorized' | translate}}
    </div>

    <form [formGroup]="updateForm" autocomplete="off" role="form" novalidate *ngIf="commonservice.isWrite || commonservice.isUpdate">
                         
        <div class="example-container mat-elevation-z8 paddingBottom-10">
            <div class="bg-form-header col-md-12">
                <div class="row">
                    <label class="col-md-6">English</label>
                    <label class="col-md-6">Bahasa Malaysia</label>
                </div>
            </div><br>

            <div class="example-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Type" formControlName="typeEn" (keyup)="checkReqValues()"
                        required tabindex="1">
                        <mat-error *ngIf="updateForm.controls.typeEn.hasError('required')">
                            Type is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Jenis" formControlName="typeBm" (keyup)="checkReqValues()"
                        required tabindex="2">
                        <mat-error *ngIf="updateForm.controls.typeBm.hasError('required')">
                            Type is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        
        </div>
    
        <div class="form-group paddingTop-20">
            <button mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success font-size-s pull-right"
            (click)="submit(updateForm.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;" [disabled]="!complete">
            <i *ngIf="complete" class="fa fa-check"></i>
            <i *ngIf="!complete" class="fa fa-times"></i> {{commonservice.pageMode}} </button>
            <button tabindex="6" mat-raised-button color="warn" type="button" id="btnreset" class="form-control btn btn-md btn-warning font-size-s pull-right"
            style="width: 100px; font-family: Roboto" (click)="resetModal.show()">
            <i class="fa fa-refresh"></i> Reset</button>
        </div>      
   
    </form>
</div> 
  
<app-confirm-dialog  #resetModal 
[title]="'common.icon.warn'" 
[content]="'common.msg.reset'"
[state]="'bg_header bg_warn_header'"
[isReset]="'true'"
(resetMethod)="myFunction()">
</app-confirm-dialog>