<div *ngIf="viewSeq == 1" class="container right-content">
  <div class="col-md-12" style="padding: 10px 10px 10px 0px; border: 0px solid #000">
    <h1 class="paddingTop-15 staticLabel">Slider Management</h1>
    <span class="pull-right editBtn">
      <button type="button" mat-fab color="warn" (click)="add()" [ngClass]="{ 'editBtn-active': isActive, 'editBtn': !isActive  }">&nbsp;
        <i class="fa fa-plus font-size-l"></i>
      </button>
    </span>
  </div>

  <div class="example-container mat-elevation-z8">
    <!-- <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div> -->

    <mat-table #table [dataSource]="dataSource">

      <!-- slideId Column -->
      <ng-container matColumnDef="slideId">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 5%;">No.</mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 0 0 5%;"> {{element.slideId}} </mat-cell>
      </ng-container>

      <!-- slideTitle Column -->
      <ng-container matColumnDef="slideTitle">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 20%;"> Title </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="getRow(element)" style="flex: 0 0 20%;"> {{element.slideTitle}} </mat-cell>
      </ng-container>

      <!-- slideDescription Column -->
      <ng-container matColumnDef="slideDescription">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 30%;"> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.slideDescription}} </mat-cell>
      </ng-container>

      <!-- slideImage Column -->
      <ng-container matColumnDef="slideImage">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 20%;">Image Source</mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 0 0 20%;"> {{element.slideImage}} </mat-cell>
      </ng-container>

      <!-- slideActiveFlag Column -->
      <ng-container matColumnDef="slideActiveFlag">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 10%; text-align: center"> Status </mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 0 0 10%; text-align: center; vertical-align: top;">
          <i [ngClass]="{'fa fa-check-circle font-size-xxl activeFontColor':element.slideActiveFlag,'fa fa-times-circle font-size-xxl inactiveFontColor':!element.slideActiveFlag}"></i>
        </mat-cell>
      </ng-container>
      
      <!-- Action Column -->
      <ng-container matColumnDef="slideAction">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 15%;"> Action </mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 0 0 15%;">
          <button mat-mini-fab style="background: orange" title="Update {{ element.slideId }}">
            <i class="fa fa-edit" (click)="updateRow(element.slideId)"></i>
          </button>&nbsp;
          <button mat-mini-fab style="background: red">
            <i class="fa fa-trash" (click)="deleteRow(element.slideId)" title="Delete {{ element.slideId }}"></i>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

  <!-- <div class="float-right paddingTop-15">
    <mat-form-field style="width:50px; margin-top: -10px">
      <mat-select class="font-size-s" value="10" style="text-align: center;" (change)="pageChange($event, commonservice.userTable?.totalPages)">
        <mat-option value="5">5</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="25">25</mat-option>
        <mat-option value="50">50</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="float-right">
      <span style="color:#000; padding-left:20px; padding-right:20px;">Pages
        <strong>{{commonservice.userTable?.pageNumber}}</strong> of
        <strong>{{commonservice.userTable?.totalPages}}</strong> in
        <strong>{{commonservice.userTable?.totalElements}}</strong> users</span>
      <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(commonservice.userTable?.pageNumber)">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
      <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(commonservice.userTable?.pageNumber, commonservice.userTable?.totalPages)">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
    </span>
  </div> -->

</div>

<!-- VIEW: ADD/EDIT SLIDER -->
<div *ngIf="viewSeq == 2" class="container right-content">
  <div class="col-md-12" style="padding: 10px 10px 10px 0px; border: 0px solid #000">
    <h1 class="paddingTop-15 staticLabel">Add Slider</h1>
    <!-- <span class="pull-right editBtn">
      <button type="button" mat-fab color="warn" (click)="add()" [ngClass]="{ 'editBtn-active': isActive, 'editBtn': !isActive  }">&nbsp;
        <i class="fa fa-plus font-size-l"></i>
      </button>
    </span> -->
  </div>

  <form [formGroup]="updateForm" autocomplete="off" role="form" novalidate>
    <div class="right-content">
  
      <!-- EN -->
      <div class="mat-elevation-z8 marginTop-10 col-md-6">
        <div class="container row">
          <div class="form-header col-md-12 ">
            <label class="staticLabel font-size-s boldText">English</label>
          </div>
        </div>
  
        <div class="container row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width font-size-s paddingTop-10">
              <input matInput placeholder="Title" formControlName="titleEn" value="" (change)="checkReqValues()"
                required>
              <mat-error *ngIf="updateForm.controls.titleEn.hasError('required')">
                Title is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="container row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width font-size-s paddingTop-10">
              <textarea matInput placeholder="Description" formControlName="descEn" value="" (change)="checkReqValues()"
                required></textarea>
              <mat-error *ngIf="updateForm.controls.descEn.hasError('required')">
                Description is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="container row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width font-size-s paddingTop-10">
              <input matInput placeholder="First Name" formControlName="firstname" value="" (change)="checkReqValues()"
                required>
              <mat-error *ngIf="updateForm.controls.firstname.hasError('required')">
                First Name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
                <app-input-file formControlName="requiredfile" placeholder="Required input" valuePlaceholder="No file selected" required></app-input-file>
                <mat-icon matSuffix>folder</mat-icon>
                <mat-error *ngIf="formDoc.get('requiredfile').hasError('required')">
                  Please select a file
                </mat-error>
                <mat-error *ngIf="formDoc.get('requiredfile').hasError('maxContentSize')">
                  The total size must not exceed {{formDoc.get('requiredfile')?.getError('maxContentSize').maxSize | byteFormat}}
                  ({{formDoc.get('requiredfile')?.getError('maxContentSize').actualSize | byteFormat}}).
                </mat-error>
              </mat-form-field>
          </div>
        <!--   <div class="col-md-4 paddingTop-10">
            <mat-form-field class="example-full-width font-size-s paddingTop-10">
              <input matInput placeholder="Last Name" formControlName="lastname" value="" (change)="checkReqValues()"
                required>
              <mat-error *ngIf="updateForm.controls.lastname.hasError('required')">
                Last Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4 paddingTop-10">
            <label class="font-size-x-s thinText">Email Address</label>
            <div class="font-size-m close-top" style="font-weight: 250;"></div>
          </div>
        </div> -->
        <div class="col-md-12">&nbsp;</div>
      </div>
  
      <!-- <div class="container"> -->
      <div class="col-md-12">&nbsp;</div>
      <div class="container form-group" style="margin-right: -1%">
        <button mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success font-size-s pull-right"
          (click)="updateUser(updateForm.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;" [disabled]="!complete">
          <i *ngIf="complete" class="fa fa-check"></i>
          <i *ngIf="!complete" class="fa fa-times"></i> Update</button>
      </div>
      <div class="col-md-12">&nbsp;</div>
    <!-- </div> -->
  </div>
  </form>
</div>
