html {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: inherit;
}

.formbg {    
    border: 1px solid #dedede;
    border-radius: 5px;
    background: #fff;
    background-color: #eeeeee;	
    color: #000;
    /* padding: 13px 10px; */
    margin-top: 15px;
    margin-bottom: 1%;
    padding-top: 10px;
    /* padding-bottom: 15px; */
    box-shadow: #eeeeee 0px 0px 10px 0px;
}

.formbg label {
    color : rgb(0, 0, 0);
    /* rgb(179, 179, 179); */
    margin-bottom: 0px;
}

.thinText {
    font-weight: 400;
}

.semiBoldText {
    font-weight: 500;
}

.boldText {
    font-weight: bold;
}

.staticLabel{
    text-transform: capitalize;
}

.form-header {
    background: #dbdbdb;
    padding: 5px 10px 4px;
    text-shadow: 0 1px 0 #f5f5f5;
    border-bottom: 1px solid #ccc;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: -1%;
    margin-bottom: 1%;
}

/* .form-group {
    padding: 10px;
} */

.example-full-width {
    width: 100%;
}

.close-top {
    margin-bottom: -1%; margin-top: -8%;
}

.font-size-s {
    font-size: small
}

.font-size-m {
    font-size: medium
}

.font-size-l {
    font-size: large
}

.mat-form-field-placeholder-wrapper {
    position: absolute;
    left: 0;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    /* font-weight: 500; */
}

/* .mat-error {
    display: block;
    margin-top: -2%;
} */