<form [formGroup]="updateForm" *ngIf='userInfo' autocomplete="off" role="form" novalidate>
  <div class="container right-content">
    <!-- {{userInfo.fullName}} -->
    <div class="col-md-12">
      <h4 class="staticLabel marginTop-10">
        <i class="fa fa-chevron-left font-size-xl paddingTop-15 backTitle" style="cursor: pointer;" (click)="navigateBack()" title="Go Back"></i> Change User</h4>
    </div>

    <!-- Personal Info -->
    <div class="mat-elevation-z8 marginTop-10">
      <div class="form-header">
        <label class="staticLabel font-size-s boldText">Personal Info</label>
      </div>

      <div class="container row">
        <div class="col-md-4">
          <!-- <label class="font-size-s semiBoldText">Username</label> -->
          <mat-form-field class="example-full-width font-size-s paddingTop-10">
            <input matInput placeholder="Username" formControlName="username" value="{{ userInfo.fullName }}" (change)="checkReqValues()"
              required>
            <mat-error *ngIf="updateForm.controls.username.hasError('required')">
              Username is required
            </mat-error>
          </mat-form-field>
          <!-- <div style="font-size: small">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</div> -->
        </div>
        <div class="col-md-4">
          <label class="staticLabel font-size-x-s thinText">Last Login</label>
          <!-- <div class=" font-size-m close-top" style="font-weight: 250;">12/01/2018</div> -->
          <div class=" font-size-m close-top">{{ datelastlogin | date:'dd/MM/yyyy' }}</div>
        </div>
        <div class="col-md-4">
          <label class="staticLabel font-size-x-s thinText">Date Joined</label>
          <!-- <div class=" font-size-m close-top" style="font-weight: 250;">12/01/2018</div> -->
          <div class=" font-size-m close-top">{{ datejoined | date:'dd/MM/yyyy' }}</div>
        </div>
      </div>
      <div class="container row">
        <div class="col-md-12">
          <label class="font-size-x-s thinText">Password</label>
          <div class="staticLabel font-size-s">algorithm: pbkdf2_sha256 iterations: 36000 salt: Byd9f5****** hash: rpRY8w**************************************</div>
          <div class="font-size-x-s thinText">Raw passwords are not stored, so there is no way to see this user's password, but you can change the password using
            this form.</div>
        </div>
      </div>
      <div class="container row">
        <div class="col-md-4 paddingTop-10">
          <!-- <label class="font-size-s semiBoldText" for="username">First Name</label> -->
          <mat-form-field class="example-full-width font-size-s paddingTop-10">
            <input matInput placeholder="First Name" formControlName="firstname" value="{{ userInfo.firstName }}" (change)="checkReqValues()"
              required>
            <mat-error *ngIf="updateForm.controls.firstname.hasError('required')">
              First Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 paddingTop-10">
          <!-- <label class="font-size-s semiBoldText" for="username">Last Name</label> -->
          <mat-form-field class="example-full-width font-size-s paddingTop-10">
            <input matInput placeholder="Last Name" formControlName="lastname" value="{{ userInfo.lastName }}" (change)="checkReqValues()"
              required>
            <mat-error *ngIf="updateForm.controls.lastname.hasError('required')">
              Last Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 paddingTop-10">
          <label class="font-size-x-s thinText">Email Address</label>
          <div class="font-size-m close-top" style="font-weight: 250;">{{ userInfo.email }}</div>
          <!-- <mat-form-field class="example-full-width font-size-s"> -->
          <!-- <input matInput placeholder="Email Address" formControlName="email" value="{{ userInfo.email }}" (change)="checkReqValues()" required>
            <mat-error *ngIf="updateForm.controls.email.hasError('pattern')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="updateForm.controls.email.hasError('required')">
              Email is required
            </mat-error> -->
          <!-- </mat-form-field> -->
        </div>
      </div>
      <div class="col-md-12">&nbsp;</div>
    </div>

    <!-- Permission -->
    <div class="formbg">
      <div class="form-header-dark">
        <label class="staticLabel font-size-s boldText">Permissions</label>
      </div>
      <div class="col-md-12">&nbsp;</div>
      <div class="container row">
        <div class="col-md-6">
          <mat-checkbox formControlName="active">Active</mat-checkbox>
          <div class="font-size-s thinText">Designates whether this user should be treated as active. Unselect this instead of deleting accounts.</div>
        </div>
        <div class="col-md-6">
          <mat-checkbox formControlName="staffstatus">Staff Status</mat-checkbox>
          <div class="font-size-s thinText">Designates whether the user can log into this admin site.</div>
        </div>
        <!-- <div class="col-md-4"> -->
        <!-- <mat-checkbox formControlName="superuserstatus">Superuser Status</mat-checkbox>
            <div class="font-size-s thinText">Designates that this user has all permissions without explicitly assigning them.</div> -->
        <!-- </div> -->
      </div>
      <div class="container row">
        <div class="col-md-12">&nbsp;</div>
      </div>
      <!-- </div> -->
      <div class="container row">
        <div class="col-md-12">
          <label class="staticLabel font-size-m seBoldText">Groups</label>
        </div>
      </div>
      <div class="container row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width font-size-s">
            <mat-select placeholder="Roles" [formControl]="usergroup" (change)="checkReqValues()" multiple required>
              <mat-option *ngFor="let group of groupsTemp" [value]="group">{{group}}</mat-option>
              <!-- <mat-option *ngFor="let group of groupsData" [(value)]="group.groupId">{{group.groupName}}</mat-option> -->
            </mat-select>
            <mat-error *ngIf="updateForm.controls.usergroup.hasError('required')">
              Roles is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-12">&nbsp;</div>
    </div>

    <!-- <div class="container"> -->
    <div class="container form-group" style="margin-right: -1%">
      <button mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success font-size-s pull-right"
        (click)="updateUser(updateForm.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;" [disabled]="!complete">
        <i *ngIf="complete" class="fa fa-check"></i>
        <i *ngIf="!complete" class="fa fa-times"></i> Update</button>
    </div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
  <!-- </div> -->
</div>
</form>