<h5>Change Roles</h5>

<div class="container animated flipInX">
    <div class="row ">
        <div class="col-md-12 formbg">
          <mat-form-field class="example-full-width font-size-s">
            <input matInput placeholder="Role Name"
              required>
            <!-- <mat-hint align="end">{{name.value?.length || 0}}/60</mat-hint> -->
            <!-- <mat-error *ngIf="!validateCtrlChk(nama_penuh) && citizenFormGrp.controls.nama_penuh.errors.required">
              {{'register.err.name' | translate }}
            </mat-error> -->
            <!-- <mat-error *ngIf="!validateCtrlChk(nama_penuh) && citizenFormGrp.controls.nama_penuh.errors.pattern">
              {{'register.pattern.name' | translate }}
            </mat-error> -->
            <!-- <mat-error *ngIf="updateForm.controls.rolesname.hasError('required')">
              Role Name is required
            </mat-error> -->
          </mat-form-field>

          <mat-form-field class="example-full-width font-size-s" style="width:100%">
            <mat-select placeholder="Permission" [formControl]="permission"
                required multiple>
                <mat-option *ngFor="let roles of rolespermission" [value]="roles">{{roles}}</mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="!validateCtrlChk(feedbacktype) && feedbackFormgrp.controls.feedbacktype.errors.required">{{'feedback.err.drop' | translate }}
            </mat-error> -->
            <!-- <mat-error *ngIf="updateForm.controls.rolespermission.hasError('required')">
              Permissions is required
            </mat-error> -->
          </mat-form-field>

    </div>
  </div>
</div>

<div class="form-group" style="margin-right: 1%">
  <button mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success font-size-s pull-right"
  (click)="updateUser(updateForm.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;" [disabled]="!complete">
  <i class="fa fa-check"></i> Submit</button>
</div>




<!-- <app-confirm-dialog  #resetModal 
[title]="'common.icon.warn'" 
[content]="'common.msg.reset'"
[state]="'common.state.warn'" 
[isReset]="'true'"
(resetMethod)="resetMethod($event)">
</app-confirm-dialog>

<app-confirm-dialog  #infoModal 
[title]="'common.icon.success'" 
[content]="'register.popupmsg.success_content1'"
[email] = "getEmail"
[content2] = "'register.popupmsg.success_content2'" 
[state]="'common.state.success'" 
[isRegister]="'index'">
</app-confirm-dialog> -->