<!-- VIEW: ADD/EDIT Category -->
<div class="container right-content">

    <div class="curdHeader">
      <div class="col-md-10 curdHeadingLeft">
        <h3>{{ pageMode }} Media Type</h3>
      </div>
  
      <div class="col-md-2 curdHeadingRight">
        <span class="pull-right">
          <button type="button" mat-fab color="accent" (click)="back()">
            <i class="fa fa-arrow-left font-size-l"></i>
          </button>
        </span>
      </div>
    </div>
  
    <form [formGroup]="mediaTypeForm" autocomplete="off" role="form" novalidate>
      <!-- EN -->
      <div class="example-container mat-elevation-z8 col-md-12">
  
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width font-size-s paddingTop-10">
              <input matInput placeholder="Media Type" formControlName="mediatype" (change)="checkReqValues()" readonly>              
            </mat-form-field>
          </div>
          <div class="col-md-6">
              <mat-form-field class="example-full-width font-size-s paddingTop-10" style="width:30%">
                <input matInput placeholder="Max File Size" type="number" formControlName="filesize" (change)="checkReqValues()" maxlength="5" required/>
                <mat-error *ngIf="mediaTypeForm.get('filesize').hasError('required')">
                    Max File Size is required
                  </mat-error>
              </mat-form-field>             
         
          <mat-form-field class="example-full-width font-size-s paddingTop-10" style="width:30%">              
              <mat-select placeholder="File Unit" formControlName="fileunit" (change)="checkReqValues()" required>
                  <mat-option *ngFor="let obj of objUnit" [value]="obj">{{obj}}</mat-option>
                </mat-select>
              <mat-error *ngIf="mediaTypeForm.get('fileunit').hasError('required')">
                  File Unit is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <mat-form-field class="example-full-width font-size-s paddingTop-10">
              <mat-select placeholder="File Type" formControlName="filetype" (change)="checkReqValues()" multiple required>
                <mat-option *ngFor="let obj of objFileExtn" [value]="obj">{{obj}}</mat-option>
              </mat-select>
              <mat-error *ngIf="mediaTypeForm.get('filetype').hasError('required')">
                  File Type is required
              </mat-error>
            </mat-form-field>  
            </div>       
        </div>
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-12">
            <mat-checkbox formControlName="active"></mat-checkbox>
            <span class="font-size-s">&nbsp;Active</span>
          </div>
        </div>
        <div class="col-md-12">&nbsp;</div>
      </div>
  
      <div class="col-md-12 form-group paddingTop-10 paddingBottom-10" style="padding-right: 0px;">
        <button mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success font-size-s pull-right"
          (click)="updateMediaType(mediaTypeForm.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;" [disabled]="!complete">
          <i *ngIf="complete" class="fa fa-check"></i> 
          <i *ngIf="!complete" class="fa fa-times"></i> {{ pageMode }}</button>
        <!-- <button mat-raised-button color="warn" type="button" id="btnreset" class="form-control btn btn-md btn-warning font-size-s pull-right"
          style="width: 100px; font-family: Roboto" (click)="myFunction()">
          <i class="fa fa-refresh"> </i> Reset</button> -->
      </div>
    </form>
  </div>