.right-content {
	width: 100%;
	}
	
	.example-container {
	display: flex;
	flex-direction: column;
	min-width: 300px;
	}
	
	.bg-form-header {
	padding: 10px;
	background: transparent;
	border-bottom: 1px solid #ccc;
	}
	
	.example-full-width {
	width: 100%;
	}
	
	.backTitle {
	margin-left: -2%;
	cursor: pointer;
	}
	
	.backTitle:hover {
	margin-left: -2%;
	color: #ff4081;
	cursor: pointer;
	}
	
	.editBtn{
	position: absolute;
	right: 10px;
	top: 65%;
	}
	
	.editBtn:hover {
	position: absolute;
	background-color: rgb(109, 185, 38);
	color: #FFF;
	right: 10px;
	top: 65%;
	}
	
	.editBtn-active {
	position: absolute;
	background-color: rgb(109, 185, 38);
	color: #FFF;
	right: 10px;
	top: 65%;
	}
	
	.backBtn a {
	position: absolute;
	right: 10px;
	top: 40%;
	cursor: pointer;
	text-decoration: none
	}
	
	.backBtn:hover a {
	position: absolute;
	right: 10px;
	top: 40%;
	cursor: pointer;
	text-decoration: none
	}
	
	
input[type='range'] {
  width: 210px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
    outline: none;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
    background: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #003D7C;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
  background: none;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  margin-top: -7px;
  background: #fff;
  border: 1px solid #003D7C;
  border-radius: 25px;
  z-index: 1;
}


input[type='range']:nth-child(1)::-webkit-slider-thumb{
  z-index: 2;
}

.rangeslider{
    position: relative;
    height: 60px;
    width: 210px;
    display: inline-block;
    margin-top: -5px;
    margin-left: 20px;
}
.rangeslider input{
    position: absolute;
}
.rangeslider{
    position: absolute;
}

.rangeslider span{
    position: absolute;
    margin-top: 30px;
    left: 0;
}

.rangeslider .right{
   position: relative;
   float: right;
   margin-right: -5px;
}