/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-header-cell{
    font-weight: 800 !important;
}

.mat-row {
    min-height: 50px !important;
}

.mat-dialog-container{
    padding: 0 0 10px 0 !important;
  }

  .mat-dialog-container app-confirm-dialog p:nth-child(1){
    padding:10px;
  }
  .mat-dialog-container app-confirm-dialog p:nth-child(2){
    padding:10px;
  }

  .mat-dialog-container app-confirm-dialog button:nth-child(1){
    padding-left:10px;
  }

  .mat-dialog-container app-confirm-dialog button:nth-child(2){
    padding-right:10px;
  }

  .modal-dialog{
    margin-top: 10%;
  }

  .tag-style{
    background: #666666;
    color: #fff;
    padding: 5px 5px;
    margin: 0px;
    border-radius: 3px;
    margin-right: 5px;
  }

  .bg_header{
    height: 55px;
    border: none;
    border-radius: 0;
    padding: 6px;
    width: 100%;
  }

  /* custom content styles */

.custom_list{
  list-style: square;
}


.custom_list_number{
  list-style:decimal;
}

.custom_list li{
  padding:5px 0;
}

p.font-size-s > strong {
  text-decoration: underline;
}

/* custom content styles */

  .bg_success_header{
    color: #155724;
    background-color: #d4edda;
  }

  .bg_success_header .close, .bg_error_header .close, .bg_info_header .close, bg_warning_header .close {
    margin-top: -2px;
    color: #000;
  }

  .bg_error_header{
    color: #721c24;
    background-color: #f8d7da;
  }

  .bg_info_header{
    color: #0c5460;
    background-color: #d1ecf1;
  }

  .bg_warn_header{
    color: #721c24;
    background-color: #f8d7da;
  }

  .modal-body{
    background: #fff;
    color: #000;
    text-align: center;
    font-size: 17px;
  }



.activeFontColor {
    color: green;
}

.inactiveFontColor {
    color:red;
}


.float-right{
    float: right;
}

.paddingBottom-10 {
    padding-bottom: 10px !important;
}

.paddingTop-10 {
    padding-top: 10px !important;
}

.paddingTop-15 {
    padding-top: 15px !important;
}

.paddingTop-20 {
    padding-top: 20px !important;
}

.paddingTop-25 {
    padding-top: 25px !important;
}

.padding-10 {
    padding:  10px !important;
}

.padding-20 {
    padding:  20px !important;
}

.paddingRight-0 {
    padding-right: 0;
}

.paddingLeft-0 {
    padding-left: 0;
}

.marginRight-less10 {
    margin-right: -10px;
}

.marginLeft-less10 {
    margin-left: -10px;
}

.right-content {
    width: 100% !important;
}

.mat-table {
    /* min-height: 312px; */
    min-height: auto;
}

.tableInfo{
    width: 97% !important;
    margin-left: 15px !important;
}

.actionColumn {
    display:flex;
    justify-content:center;
    flex: 0 0 15% !important;
}

.statusColumn {
    flex: 0 0 10%  !important;
    display:flex;
    justify-content:center;
}

.dateColumn {
    display:flex;
    justify-content:center;
    flex: 0 0 10% !important;
}

.draftColumn {
    display:flex;
    justify-content:center;
    flex: 0 0 7% !important;
}

.noColumn {
    flex: 0 0 5%  !important;
    display:flex;
    justify-content:left;
}

.cbox {
    flex: 0 0 3%  !important;
    display:flex;
    justify-content:left;
}

.padding5 {
    padding:5px;
}

.centerColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* below style added by sri */
.font-size-l, .font-size-m, .font-size-s, .font-size-xl, .font-size-xxl {
    font-weight: 500 !important; }

  .font-size-s {
    font-size: 14px !important; }

  .font-size-m {
    font-size: 18px !important; }

  .font-size-l {
    font-size: 24px !important; }

  .font-size-xl {
    font-size: 38px !important; }

  .font-size-xxl {
    font-size: 52px !important; }


    /* Reusable classes */

    .curdHeader{
        padding-bottom:10px;
        display: flex;
    }

    .curdHeadingLeft{
        text-align: left;
        padding-left:0px !important;
    }

    .curdHeadingRight{
        text-align: right;
        padding-right: 0px !important;
    }

    .align_right{
        text-align: right;
    }


    .color_green{
        color: green !important;
    }

    .color_red{
        color: red !important;
    }

    .bg_green{
        background: green !important;
    }

    .bg_orange{
        background: orange !important;
    }

    .bg_gray{
        background: gray !important;
    }

    .bg_red{
        background: red !important;
    }

    .bg_blue{
        background: #0c5460 !important;
    }

    .bg_coral{
        background: darkred !important;
    }

    .table_footer_pagecount{
        width:50px !important;
        margin-top: -10px !important;
    }

    .table_footer_pagination{
        color:#000 !important;
        padding-left:20px !important;
        padding-right:20px !important;
    }

    .text-align-Left {
        text-align: left !important;
    }

    .text-align-Right {
        text-align: right !important;
    }

    .text-align-Center {
        text-align: center !important;
    }

    .width_100px {
        min-width: 100px !important;
    }

    .mgn_L_5px {
        margin-left: 5px !important;
    }

    .pdg_L_25px {
        padding-left:25px !important;
    }

    .pdg_R_25px {
        padding-right:25px !important;
    }

    .pdg_L_30px {
        padding-left:30px !important;
    }

    .pdg_R_30px {
        padding-right:30px !important;
    }

    .pdg_L_15px {
        padding-left:15px !important;
    }

    .pdg_R_15px {
        padding-right:15px !important;
    }

    .datetimeMask {
        color:#333;
        margin-bottom: 0%
    }

    

    .owl-dt-popup {
        margin-top: 8%;
        margin-left: 50%;
    }

    .tiny{
        height: 20px !important;
        width: 20px !important;
        margin: 10px !important;
    }


.mat-dialog-container{
    padding: 24px !important;
}

.mat-expansion-panel-header{
    padding: 0 5px !important;
}

.mat-expansion-panel-body {
    padding: 0 0px 16px !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.mat-mini-fab {
    min-width: 0;
    border-radius: 0% !important;
    width: 30px !important;
    height: 30px !important;
    padding: 0;
    flex-shrink: 0;
  }

.mat-mini-fab .mat-button-wrapper {
    padding: 0px 0px !important;
    display: inline-block;
    line-height: 10px !important;
    top: -2px;
    position: relative;
}

.borderOn {
    border: 1px solid #000;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.iconBtn {
    min-width: 5px;
}

@media only screen and (min-width: 1655px) {
    /* .largeScreen {
        display: block;
    } */
}

@media only screen and (max-width: 1650px) {
    .largeScreen {
        display: none;
    }

}

@media screen and (max-width: 1360px) and (min-width: 760px){
    .datetimeMaskWithValue {
        color:#333;
        margin-bottom: -4%
    }

    .datetimeMaskNoValue{
        color:#333;
        margin-bottom: -7%
    }
  
  }

@media screen and (min-width: 1361px) {
    .datetimeMaskWithValue {
        color:#333;
        margin-bottom: -2%
    }

    .datetimeMaskNoValue{
        color:#333;
        margin-bottom: -5%
    }
  
}

.tableHistory{
    background: #0c5460 !important;
    color: white !important;

  }
