/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-header-cell{
    font-weight: 800 !important;
}

.mat-row {
    min-height: 50px !important;
}

.mat-dialog-container{
    padding: 0 0 10px 0 !important;
  }

  .mat-dialog-container app-confirm-dialog p:nth-child(1){
    padding:10px;
  }
  .mat-dialog-container app-confirm-dialog p:nth-child(2){
    padding:10px;
  }

  .mat-dialog-container app-confirm-dialog button:nth-child(1){
    padding-left:10px;
  }
  
  .mat-dialog-container app-confirm-dialog button:nth-child(2){
    padding-right:10px;
  }

  .modal-dialog{
    margin-top: 10%;
  }

  .bg_header{
    height: 55px;
    border: none;
    border-radius: 0;
    padding: 6px;
    width: 100%;
  }

  .bg_success_header{
    color: #155724;
    background-color: #d4edda;
  }

  .bg_success_header .close, .bg_error_header .close, .bg_info_header .close, bg_warning_header .close {
    margin-top: -2px;
    color: #000;
  }

  .bg_error_header{
    color: #721c24;
    background-color: #f8d7da;
  }

  .bg_info_header{
    color: #0c5460;
    background-color: #d1ecf1;
  }

  .bg_warn_header{
    color: #721c24;
    background-color: #f8d7da;
  }

  .modal-body{
    background: #fff;
    color: #000;
    text-align: center;
    font-size: 17px;
  }



.activeFontColor {
    color: green;
}

.inactiveFontColor {
    color:red;
}


.float-right{
    float: right;
}

.paddingBottom-10 {
    padding-bottom: 10px;
}

.paddingTop-10 {
    padding-top: 10px;
}

.paddingTop-15 {
    padding-top: 15px;
}

.paddingTop-20 {
    padding-top: 20px;
}

.paddingTop-25 {
    padding-top: 25px;
}

.padding-10 {
    padding:  10px;
}

.right-content {
    width: 100% !important;
}

.mat-table {
    /* min-height: 312px; */
    min-height: auto;
}
.actionColumn {
    display:flex;
    justify-content:center;
    flex: 0 0 20% !important;
}

.statusColumn {
    flex: 0 0 10%  !important;
    display:flex;
    justify-content:center;
}
.padding5 {
    padding:5px;
}

.centerColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* below style added by sri */
.font-size-l, .font-size-m, .font-size-s, .font-size-xl, .font-size-xxl {
    font-weight: 500; }
  
  .font-size-s {
    font-size: 14px; }
  
  .font-size-m {
    font-size: 18px; }
  
  .font-size-l {
    font-size: 24px; }
  
  .font-size-xl {
    font-size: 38px; }
  
  .font-size-xxl {
    font-size: 52px; }


    /* Reusable classes */

    .curdHeader{
        padding-bottom:10px;
        display: flex;
    }
    
    .curdHeadingLeft{
        text-align: left;
        padding-left:0px !important;
    }
    
    .curdHeadingRight{
        text-align: right;
        padding-right: 0px !important;
    }
    
    .align_right{
        text-align: right;
    }


    .color_green{
        color: green !important;
    }

    .color_red{
        color: red !important;
    }

    .bg_green{
        background: green !important;
    }

    .bg_orange{
        background: orange !important;
    }

    .bg_red{
        background: red !important;
    }

    .table_footer_pagecount{
        width:50px !important; 
        margin-top: -10px !important;
    }

    .table_footer_pagination{
        color:#000 !important;
        padding-left:20px !important;
        padding-right:20px !important;
    }

    .text-align-Left {
        text-align: left !important;
    }

    .text-align-Center {
        text-align: center !important;
    }

    .width_100px {
        width: 100px !important;
    }

    .mgn_L_5px {
        margin-left: 5px !important;
    }