<!-- VIEW: ADD/EDIT gallery -->
<div class="container right-content">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true}"></ngx-loading>

    <div class="curdHeader">
        <div class="col-md-10 curdHeadingLeft">
            <h3>{{ pageMode }} {{ 'participation.header' | translate }}</h3>
        </div>

        <div class="col-md-2 curdHeadingRight">
            <span class="pull-right">
                <button type="button" mat-fab color="accent" (click)="back()" >
                <i [ngClass]="commonservice.icon.arrLeft" class="font-size-l"></i></button>
            </span>
        </div>
    </div>

    <div *ngIf="!commonservice.isWrite && !commonservice.isUpdate && !commonservice.isRead" [innerHTML]="commonservice.messageSuccess">

    </div>

    <form [formGroup]="updateForm" *ngIf="commonservice.isWrite || commonservice.isUpdate || commonservice.isRead" autocomplete="off" role="form" novalidate>
        <!-- EN -->
        <div class="example-container mat-elevation-z8 col-md-12">

          <div class="row">
            <div class="bg-form-header col-md-12">
              <label class="">{{ 'publisher.tableHeader.userInfo' | translate }}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-1">
                <span class="bold">Email</span>
            </div>
            <div class="col-md-11">
                <span>>> {{email}} </span>
            </div>
            <div class="col-md-1">
                <span class="bold">Name</span>
            </div>
            <div class="col-md-11">
                <span>>> {{fullName}} </span>
            </div>
          </div>

          <div class="row">
              <div class="bg-form-header col-md-12">&nbsp;</div>
          </div>

          <div class="row">
            <div class="bg-form-header col-md-6">
              <label class="staticLabel">English</label>
            </div>
            <div class="bg-form-header col-md-6">
              <label class="staticLabel">Bahasa Malaysia</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Title" formControlName="titleEn" (keyup)="checkReqValues()"
                  required>
                <mat-error *ngIf="updateForm.controls.titleEn.hasError('required')">
                  Title is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Tajuk" formControlName="titleBm" value="" (keyup)="checkReqValues()"
                  required>
                <mat-error *ngIf="updateForm.controls.titleBm.hasError('required')">
                  Tajuk diperlukan
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Description" formControlName="descEn" #descEn maxLength="10000" (keyup)="checkReqValues()"
                  required></textarea>
                <mat-error *ngIf="updateForm.controls.descEn.hasError('required')">
                  Description is required
                </mat-error>
                <mat-hint align="end">{{descEn.value?.length || 0}}/10000</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Keterangan" formControlName="descBm" #descBm maxLength="10000" (keyup)="checkReqValues()"
                  required></textarea>
                <mat-error *ngIf="updateForm.controls.descBm.hasError('required')">
                  Keterangan diperlukan
                </mat-error>
                <mat-hint align="end">{{descBm.value?.length || 0}}/10000</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-12">&nbsp;</div>
          </div>

          <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput type="url" placeholder="URL" formControlName="urlEng" maxlength="100" required>
                    <mat-error *ngIf="updateForm.controls.urlEng.hasError('required')">
                      URL is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" >
                    <input matInput type="url" placeholder="URL" formControlName="urlMy" maxlength="100" required>
                    <mat-error *ngIf="updateForm.controls.urlMy.hasError('required')">
                      URL diperlukan
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12">&nbsp;</div>
          </div>

          <div class="row">
            <div class="col-md-6">
                <label class="font-size-s">{{ 'gallerytbl.publishDt' | translate }} *</label>
                <mat-form-field class="example-full-width">
                  <div [ngClass]="{ 'datetimeMask':isEdit, 'datetimeMaskWithValue':!isEdit }">{{publishdt | date:'dd/MM/yyyy' }}</div>
                  <input placeholder="" [owlDateTime]="publish" style="display: none;" matInput
                    formControlName="publish" #publish (dateTimeInput)="publishEvent('input', $event)"
                    (dateTimeChange)="publishEvent('change', $event)" [min]="sMinDate" required />
                  <span [owlDateTimeTrigger]="publish"><i class="fa fa-calendar pull-right"></i></span>
                  <owl-date-time [pickerType]="'calendar'" #publish></owl-date-time>
                  <mat-error *ngIf="updateForm.controls.publish.hasError('required')">
                    {{ 'gallerytbl.errorStartDate' | translate }}
                  </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <label class="font-size-s">{{ 'gallerytbl.endDt' | translate }} *</label>
                <mat-form-field class="example-full-width">
                  <div [ngClass]="{ 'datetimeMask':isEdit, 'datetimeMaskWithValue':!isEdit }">{{enddt | date:'dd/MM/yyyy' }}</div>
                  <input placeholder="" [owlDateTime]="endD" style="display: none;" matInput
                    formControlName="endD" #endD (dateTimeInput)="endEvent('input', $event)"
                    (dateTimeChange)="endEvent('change', $event)" [min]="eMinDate" required />
                  <span [owlDateTimeTrigger]="endD"><i class="fa fa-calendar pull-right"></i></span>
                  <owl-date-time [pickerType]="'calendar'" #endD></owl-date-time>
                  <mat-error *ngIf="updateForm.controls.endD.hasError('required')">
                    {{ 'gallerytbl.errorEndDate' | translate }}
                  </mat-error>
                </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="5" placeholder="Agency" formControlName="agencyEn" #agencyEn (click)="getSearchData(agencyEn.value, 1)"
                (keyup)="getSearchData(agencyEn.value, 1)" required>
                <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="agencyEn.value=''; resetSearch()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <div *ngIf="isActiveListEn" style="position:absolute; left: 3%; top:70%; z-index: 9999;"
              [ngClass]="{'listParent':searchAgencyResultEn.length < 10,'listParent-w-scroll':searchAgencyResultEn.length >= 10}" (scroll)="onScroll($event,1)">
                <ul class="list-group pmd-z-depth pmd-list pmd-card-list pmd-list">
                  <li class="list-group-item" *ngFor="let data of searchAgencyResultEn">
                    <a class="list-link" (click)="getValue(data?.agencyId,data?.agencyName,data?.agencyMinistry.ministryName, data?.agencyCode,1)">{{data?.agencyName}}</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput tabindex="5" placeholder="Agensi" formControlName="agencyBm" #agencyBm (click)="getSearchData(agencyBm.value, 2)"
                (keyup)="getSearchData(agencyBm.value, 2)" required>
                <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="agencyBm.value=''; resetSearch()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <div *ngIf="isActiveListBm" style="position:absolute; left: 3%; top:70%; z-index: 9999;"
              [ngClass]="{'listParent':searchAgencyResultBm.length < 10,'listParent-w-scroll':searchAgencyResultBm.length >= 10}" (scroll)="onScroll($event,2)">
                <ul class="list-group pmd-z-depth pmd-list pmd-card-list pmd-list">
                  <li class="list-group-item" *ngFor="let data of searchAgencyResultBm">
                    <a class="list-link" (click)="getValue(data?.agencyId, data?.agencyName, data?.agencyMinistry.ministryName, data?.agencyCode, 2)">{{data?.agencyName}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label style="font-size: 0.7em; font-weight: 400; color: rgba(0,0,0,.40); margin-top: -1%; margin-bottom: -1%">Ministry</label>
              <br />
              <span>{{ ministryNameEn }}</span>
            </div>
            <div class="col-md-6">
              <label style="font-size: 0.7em; font-weight: 400; color: rgba(0,0,0,.40); margin-top: -1%; margin-bottom: -1%">Kementerian</label>
              <br />
              <span>{{ ministryNameBm }}</span>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-12">
              <div class="example-full-width editor block">
                <label for="htmlContentEn">English Content</label>
                <div [froalaEditor]="htmlContentEnEditor" formControlName="htmlContentEn" [(ngModel)]="editor.enVal" (ngModelChange)="onChangeEn($event)"
                (keyup)="parseChkEn($event)" #htmlContentEn class="article_content"></div>
                <!-- <app-ngx-editor [config]="editorConfig" [placeholder]="'Enter text here...'" formControlName="htmlContentEn" #htmlContentEn></app-ngx-editor> -->
              </div>
            </div>
          </div>
          <div class="row" *ngIf="disableApprove == false">
            <div class="col-md-12">
              <div class="col-md-10"><label class="fontRed pull-right" *ngIf="parseEnBtn == false">{{ 'common.title.lblpreview' | translate }}</label></div>
              <div class="col-md-2 paddingR0">
                <button [disabled]="parseEnBtn" mat-raised-button type="button" color="primary"
                class="btn btn-md pull-right" (click)="previewEn()" >
                <i [ngClass]="commonservice.icon.view" title="{{ 'common.title.view' | translate }}"></i> {{ 'common.title.preview' | translate }}</button>
              </div>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-12">
                <div class="example-full-width editor block">
                  <label for="htmlContentMy">Malay Content</label>
                  <div [froalaEditor]="htmlContentMyEditor" formControlName="htmlContentMy" [(ngModel)]="editor.bmVal" (ngModelChange)="onChangeBm($event)"
                  (keyup)="parseChkMy($event)" #htmlContentMy  class="article_content"></div>
                  <!-- <app-ngx-editor [config]="editorConfig" [placeholder]="'Enter text here...'" formControlName="htmlContentMy" #htmlContentMy></app-ngx-editor> -->
                </div>
            </div>
          </div>

          <div class="row" *ngIf="disableApprove == false">
            <div class="col-md-12">
              <div class="col-md-10"><label class="fontRed pull-right" *ngIf="parseMyBtn == false">{{ 'common.title.lblpreview' | translate }}</label></div>
              <div class="col-md-2 paddingR0">
                <button [disabled]="parseMyBtn" mat-raised-button type="button" color="primary"
                class="btn btn-md pull-right" (click)="previewMy()" >
                <i [ngClass]="commonservice.icon.view" title="{{ 'common.title.view' | translate }}"></i> {{ 'common.title.preview' | translate }}</button>
              </div>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width" >
                    <input matInput (keypress)="commonservice.numberOnly($event)" type="text" placeholder="Sequence Number" formControlName="seqEng" #seqEng (keyup)="copyValue(1)">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" >
                    <input matInput (keypress)="commonservice.numberOnly($event)" type="text" placeholder="Nombor Urutan" formControlName="seqMy" #seqMy (keyup)="copyValue(2)">
                </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12">
              <mat-checkbox formControlName="active"></mat-checkbox><span class="">&nbsp;{{ 'common.buttons.active' | translate }}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-checkbox formControlName="approve" (change)="approvePublisher()" ></mat-checkbox><span class="">&nbsp;{{ 'common.buttons.approve' | translate }}</span>
            </div>
          </div>
          <div class="col-md-12">&nbsp;</div>
        </div>

        <!-- <div class="container"> -->
        <div class="col-md-12">&nbsp;</div>
          <div class="form-group" *ngIf="commonservice.isUpdate || commonservice.isWrite" style="padding-bottom:20px;">
            <button mat-raised-button type="button" color="primary" id="btnsubmit" class="btn btn-md btn-success pull-right mgn_L_5px"
            (click)="participationSubmit(updateForm.value)" [disabled]="!complete || !appPublisher  || !parseMyBtn || !parseEnBtn">
              <i *ngIf="complete" [ngClass]="commonservice.icon.check"></i>
              <i *ngIf="!complete" [ngClass]="commonservice.icon.times"></i>&nbsp;{{'common.buttons.submit' | translate}}</button>

            <button mat-raised-button type="button" color="primary" id="btnsubmit" class="btn btn-md btn-success pull-right mgn_L_5px"
            (click)="participationDraft(updateForm.value)" [disabled]="!complete || appPublisher  || !parseMyBtn || !parseEnBtn || disableApprove">
              <i *ngIf="complete" [ngClass]="commonservice.icon.check"></i>
              <i *ngIf="!complete" [ngClass]="commonservice.icon.times"></i>&nbsp;{{'common.buttons.darft' | translate}}</button>

            <button mat-raised-button color="warn" type="button" id="btnSendDraft" class=" btn btn-md btn-warning pull-right mgn_L_5px"
            (click)="sendDraft.show()" [disabled]="!disableApprove">
              <i [ngClass]="commonservice.icon.refresh"></i>&nbsp;{{'common.buttons.sendDraft' | translate}}</button>

            <button mat-raised-button color="warn" type="button" id="btnreset" class=" btn btn-md btn-warning pull-right"
            (click)="resetModal.show()" [disabled]="disableApprove">
              <i [ngClass]="commonservice.icon.refresh"></i>&nbsp;Reset</button>
          </div>
        <!-- <div class="col-md-12">&nbsp;</div> -->
      <!-- </div> -->
    </form>
  </div>
  <app-confirm-dialog  #resetModal
  [title]="'common.icon.warn'"
  [content]="'common.msg.reset'"
  [state]="'bg_header bg_warn_header'"
  [isReset]="'true'"
  (resetMethod)="myFunction()">
  </app-confirm-dialog>

  <app-confirm-dialog  #sendDraft
  [title]="'common.icon.warn'"
  [content]="'common.msg.isSendDraft'"
  [state]="'bg_header bg_warn_header'"
  [isReset]="'true'"
  (resetMethod)="mySendDraft()">
  </app-confirm-dialog>
