<!-- VIEW: ADD/EDIT AGENCY APP  -->
<div class="container right-content">

  <div class="curdHeader">
      <div class="col-md-10 curdHeadingLeft">
          <h3>{{ pageMode }} Calendar Event </h3>
      </div>
      
      <div class="col-md-2 curdHeadingRight">
          <span class="pull-right">
              <button type="button" mat-fab color="accent" (click)="back()" >
              <i class="fa fa-arrow-left font-size-l"></i></button>
          </span>
      </div> 
  </div>

  <form [formGroup]="calendarForm" autocomplete="off" role="form" novalidate>
  
      <div class="example-container mat-elevation-z8 col-md-12">
        <!-- <div class="row">
          <div class="bg-form-header col-md-6">
            <label>English</label>
          </div>
          <div class="bg-form-header col-md-6">
            <label>Bahasa Malaysia</label>
          </div>
        </div> -->
  
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width ">
              <input matInput tabindex="1" placeholder="Event Name" formControlName="calendarEventName" (change)="checkReqValues()"
                required>
              <mat-error *ngIf="calendarForm.controls.calendarNameEn.hasError('required')">
                Event Name is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width ">
              <textarea matInput tabindex="3" placeholder="Description" formControlName="eventDesc" #eventDesc maxLength="10000" (change)="checkReqValues()"
                required></textarea>
              <mat-error *ngIf="calendarForm.controls.eventDesc.hasError('required')">
                Description is required
              </mat-error>
              <mat-hint align="end">{{eventDesc.value?.length || 0}}/10000</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-12">&nbsp;</div>
        </div>
        
        <div class="row">
          <div class="col-md-6" style="margin-top: -0.5%">
            <label style="font-size: 0.7em; font-weight: 400; color: rgba(0,0,0,.40); margin-top: -1%; margin-bottom: -1%">Ministry</label>
            <br />
            <span>{{ ministryNameEn }}</span>
          </div>
          <div class="col-md-6" style="margin-top: -0.5%">
            <label style="font-size: 0.7em; font-weight: 400; color: rgba(0,0,0,.40); margin-top: -1%; margin-bottom: -1%">Ministry</label>
            <br />
            <span>{{ ministryNameBm }}</span>
          </div>

          <div class="col-md-12">&nbsp;</div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <mat-form-field class="example-full-width">
              <input matInput tabindex="6" placeholder="Website URL" formControlName="websiteUrl" (keyup)="checkReqValues()" required>
              <mat-error *ngIf="calendarForm.controls.websiteUrl.hasError('required')">
                Website URL is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-2 paddingTop-20">
            <mat-checkbox tabindex="7" formControlName="isDoc" [checked]="false" [value]="false"></mat-checkbox>
            <span>&nbsp;is Document</span>
          </div>
          <div class="col-md-12">&nbsp;</div>
        </div>
      </div>
        
      <!-- <div class="container"> -->
      <div class="col-md-12">&nbsp;</div>
        <div class="form-group">
          <button mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success  pull-right"
            (click)="updatecalendar(calendarForm.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;" [disabled]="!complete">
            <i *ngIf="complete" class="fa fa-check"></i>
            <i *ngIf="!complete" class="fa fa-times"></i>&nbsp;{{ pageMode }}</button>
          <button mat-raised-button color="warn" type="button" id="btnreset" class="form-control btn btn-md btn-warning  pull-right"
            style="width: 100px; font-family: Roboto" (click)="myFunction()">
            <i class="fa fa-refresh"></i>&nbsp;Reset</button>
        </div>
      <div class="col-md-12">&nbsp;</div>
    <!-- </div> -->
  </form>
</div>
