<!-- VIEW: ADD/EDIT AGENCY APP  -->
<div class="container right-content">

  <div class="curdHeader">
      <div class="col-md-10 curdHeadingLeft">
          <h3>{{ pageMode }} Calendar Event </h3>
      </div>
      
      <div class="col-md-2 curdHeadingRight">
          <span class="pull-right">
              <button type="button" mat-fab color="accent" (click)="back()" >
              <i class="fa fa-arrow-left font-size-l"></i></button>
          </span>
      </div> 
  </div>

  <form [formGroup]="calendarForm" autocomplete="off" role="form" novalidate>
  
      <div class="example-container mat-elevation-z8 col-md-12">
        <!-- <div class="row">
          <div class="bg-form-header col-md-6">
            <label>English</label>
          </div>
          <div class="bg-form-header col-md-6">
            <label>Bahasa Malaysia</label>
          </div>
        </div> -->
  
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-12">
            <mat-form-field class="example-full-width ">
              <input matInput tabindex="1" placeholder="Event Name" formControlName="eventName" (change)="checkReqValues()"
                required>
              <mat-error *ngIf="calendarForm.controls.eventName.hasError('required')">
                Event Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="example-full-width ">
              <textarea matInput tabindex="2" placeholder="Description" formControlName="eventDesc" #eventDesc maxLength="10000" (change)="checkReqValues()"
                required></textarea>
              <mat-error *ngIf="calendarForm.controls.eventDesc.hasError('required')">
                Description is required
              </mat-error>
              <mat-hint align="end">{{eventDesc.value?.length || 0}}/10000</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-6">
            <label for="eventStartTime">Start Date</label>
              <mat-form-field class="example-full-width">
                <div style="color:#333;">{{dt | date:'dd/MM/yyyy' }}</div>
                <input placeholder="" style="display: none" matInput formControlName="eventStartTime" #eventStartTime [matDatepicker]="eventStartTime" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" [max]="maxDate"  />
                <mat-datepicker-toggle matSuffix [for]="eventStartTime" style="color:#333;"></mat-datepicker-toggle>
                <mat-datepicker [disabled]="initial" #eventStartTime></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="col-md-6">
            <label for="eventStartTime">End Date</label>
              <mat-form-field class="example-full-width">
                <div style="color:#333;">{{dt | date:'dd/MM/yyyy' }}</div>
                <input placeholder="" style="display: none" matInput formControlName="eventEndTime" #eventEndTime [matDatepicker]="eventEndTime" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" [max]="maxDate"  />
                <mat-datepicker-toggle matSuffix [for]="eventEndTime" style="color:#333;"></mat-datepicker-toggle>
                <mat-datepicker [disabled]="initial" #eventEndTime></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="col-md-12">&nbsp;</div>
        </div>
        
        <div class="row">
          <div class="bg-form-header col-md-12">
            <label>Location</label>
          </div>
          <div class="col-md-12 paddingTop-10">
            <mat-form-field class="example-full-width">
              <input matInput tabindex="3" placeholder="Event Location" formControlName="eventLocation" (keyup)="checkReqValues()" required>
              <mat-error *ngIf="calendarForm.controls.eventLocation.hasError('required')">
                Event Location is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput tabindex="4" placeholder="Event Country" formControlName="eventCountry" (keyup)="checkReqValues()" required>
              <mat-error *ngIf="calendarForm.controls.eventCountry.hasError('required')">
                Event Country is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput tabindex="5" placeholder="Event City" formControlName="eventCity" (keyup)="checkReqValues()" required>
              <mat-error *ngIf="calendarForm.controls.eventCity.hasError('required')">
                Event City is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput tabindex="6" placeholder="Event Latitude" formControlName="eventLatitude" >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput tabindex="7" placeholder="Event Longitude" formControlName="eventLongitude" >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput tabindex="8" placeholder="Event Zipcode" formControlName="eventZip" (keyup)="checkReqValues()" required>
              <mat-error *ngIf="calendarForm.controls.eventZip.hasError('required')">
                Event Zipcode is required
              </mat-error>
            </mat-form-field>
          </div>
      </div>
        
      <div class="row">
        <div class="bg-form-header col-md-12">
          <label>Details</label>
        </div>
        <div class="col-md-6 paddingTop-10">
          <mat-form-field class="example-full-width">
            <input matInput tabindex="9" placeholder="Event Privacy" formControlName="eventPrivacy" (keyup)="checkReqValues()" required>
            <mat-error *ngIf="calendarForm.controls.eventPrivacy.hasError('required')">
              Event Privacy is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput tabindex="10" placeholder="Event Privacy" formControlName="eventPrivacy" (keyup)="checkReqValues()" required>
            <mat-error *ngIf="calendarForm.controls.eventPrivacy.hasError('required')">
              Event Privacy is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-checkbox tabindex="11" formControlName="eventIsDateOnly" [checked]="false" [value]="false" ></mat-checkbox>
          <span>&nbsp;Date Only</span>
        </div>
      </div>
      
      <div class="row">
          <div class="col-md-12 paddingTop-20">
            <mat-checkbox tabindex="21" formControlName="eventStatus" [checked]="false" [value]="false" ></mat-checkbox>
            <span>&nbsp;Active</span>
          </div>
          <div class="col-md-12">&nbsp;</div>
        </div>
      </div>
        
      <!-- <div class="container"> -->
      <div class="col-md-12">&nbsp;</div>
        <div class="form-group">
          <button mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success  pull-right"
            (click)="updateCalendarEvent(calendarForm.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;" [disabled]="!complete">
            <i *ngIf="complete" class="fa fa-check"></i>
            <i *ngIf="!complete" class="fa fa-times"></i>&nbsp;{{ pageMode }}</button>
          <button mat-raised-button color="warn" type="button" id="btnreset" class="form-control btn btn-md btn-warning  pull-right"
            style="width: 100px; font-family: Roboto" (click)="myFunction()">
            <i class="fa fa-refresh"></i>&nbsp;Reset</button>
        </div>
      <div class="col-md-12">&nbsp;</div>
    <!-- </div> -->
  </form>
</div>
