<div class="container right-content">
  

  <div class="curdHeader">
    <div class="col-md-10 curdHeadingLeft">
        <h3>{{ 'scheduler.header' | translate }}</h3>
    </div>
    
    <!-- <div class="col-md-2 curdHeadingRight">
        <span class="pull-right">
            <button type="button" mat-fab color="warn" *ngIf="commonservice.isWrite" (click)="addBtn()" [ngClass]="{ 'addBtn-active': isActive, 'addBtn': !isActive  }">
              <i [ngClass]="commonservice.icon.plus" class="font-size-m"></i></button>
        </span>
    </div>  -->
</div>


<div *ngIf="!commonservice.isRead" class="alert alert-danger">
  {{'common.msg.unauthorized' | translate}}
</div>

<div *ngIf="commonservice.isRead">
  <div class="example-container mat-elevation-z8">
            
    <mat-table #table [dataSource]="dataSource">

      <!-- No Column -->
      <ng-container matColumnDef="no">
        <mat-header-cell class="text-align-left noColumn" *matHeaderCellDef> {{ 'common.tableHeader.num' | translate }} </mat-header-cell>
        <mat-cell class="text-align-left noColumn" *matCellDef="let element; let i = index;">
          {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
        </mat-cell>
      </ng-container>

      <!-- moduleName Column -->
      <ng-container matColumnDef="moduleName">
        <mat-header-cell *matHeaderCellDef> {{ 'scheduler.tableHeader.moduleName' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.moduleName}} </mat-cell>
      </ng-container>

      <!-- executionStatus Column -->
      <ng-container matColumnDef="executionStatus">
        <mat-header-cell *matHeaderCellDef class="actionColumn"> {{ 'scheduler.tableHeader.exeStatus' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element" class="actionColumn"> {{element.executionStatus}} </mat-cell>
      </ng-container>

      <!-- enabled Column -->
      <ng-container matColumnDef="enabled">
        <mat-header-cell *matHeaderCellDef class="statusColumn"> {{ 'scheduler.tableHeader.status' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element" class="statusColumn">
            <i *ngIf="element.enabled == true" [ngClass]="commonservice.icon.check" class="color_green"></i>
            <i *ngIf="element.enabled == false" [ngClass]="commonservice.icon.times" class="color_red"></i>
        </mat-cell>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="actionColumn"> {{ 'common.tableHeader.action' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element" class="actionColumn">
            <button mat-mini-fab class="bg_orange" (click)="updateRow(element.scheduleId)" title="Update {{ element.scheduleId }}">
              <i *ngIf="commonservice.isUpdate" [ngClass]="commonservice.icon.update" title="Update {{ element.scheduleId }}" ></i>
              <i *ngIf="!commonservice.isUpdate" [ngClass]="commonservice.icon.view" title="View {{ element.scheduleId }}" ></i>
            </button>
            <!-- &nbsp;
            <button mat-mini-fab class="bg_red" *ngIf="commonservice.isDelete" (click)="deleteRow.show()" title="Delete {{ element.refCode }}">
              <i [ngClass]="commonservice.icon.trash" title="Delete {{ element.refCode }}"></i>
            </button>
            <app-confirm-dialog  #deleteRow 
            [title]="'common.icon.warn'" 
            [content]="'common.msg.delete'"
            [state]="'common.state.warn'"
            [isReset]="'true'"
            (resetMethod)="deleteItem(element.refCode)">
            </app-confirm-dialog>  -->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div *ngIf="showNoData" class="row text-align-Center padding-20">{{ 'common.msg.nodata' | translate }} </div>
  </div>
  </div>

</div>