
<div class="container-fluid">

    <div class="curdHeader">
        <div class="col-md-10 curdHeadingLeft">
            <h3>{{statusTitle}} Grouping Management</h3>
        </div>
        
        <div class="col-md-2 curdHeadingRight">
            <span class="pull-right">
                <button type="button" mat-fab color="accent" (click)="back()" >
                <i class="fa fa-arrow-left font-size-l"></i></button>
            </span>
        </div> 
    </div>


    <form [formGroup]="groupModule" autocomplete="off" (ngSubmit)="updateGroup(groupModule.value)" role="form" novalidate>
        <div class="row">
            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                <mat-form-field class="example-full-width font-size-s">
                    <input matInput formControlName="groupmodulename" type="text" maxlength="30" placeholder="Grouping Name"/>
                </mat-form-field>
            </div>

            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                <mat-form-field class="example-full-width font-size-s">
                    <input matInput formControlName="groupmoduledesc" type="text" maxlength="100" placeholder="Grouping Description"/>
                </mat-form-field>
            </div>
        </div>

  
        <ul  class="dragdrop_container">
            <li *ngFor='let group of moduleList?.items' (click)="moveItem(group)">
                 {{group.moduleName}}
            </li>
        </ul>
        
        <div class="middle_icon"><img src="assets/images/switch.png" alt=""></div>
        <ul class="dragdrop_container">
            <li *ngFor='let group of selectedItems?.items' (click)="moveItemR(group)">
                {{group.moduleName }}
            </li>
        </ul>

        <div class="row">
            <div class="col-md-12">
                <mat-checkbox formControlName="active"></mat-checkbox><span class="font-size-s">&nbsp;Active</span>
            </div>
        </div>
        <div class="row"></div>
        
        <div class="form-group" style="float: right;">
            <button *ngIf="!isUpdate" mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success font-size-s"
            (click)="addModuleData();false">
            <i class="fa fa-check"></i> Submit</button>

            <button *ngIf="isUpdate" mat-raised-button type="button" color="primary" id="btnupdate" class="form-control btn btn-md btn-success font-size-s" (click)="updateModuleData();false"  type="button"><i class="fa fa-check"></i> Update</button>
        </div>
       
    </form>

</div>
  
