<div class="container right-content">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
  <!-- <div class="col-md-12">
    <h2 class="staticLabel"></h2>
    <span class="pull-right editBtn">
      <button type="button" mat-fab color="warn" (click)="addBtn()" [ngClass]="{ 'editBtn-active': isActive, 'editBtn': !isActive  }">
        <i class="fa fa-plus font-size-l"></i>
      </button>
    </span>
  </div> -->

  <div class="curdHeader">
    <div class="col-md-10 curdHeadingLeft">
        <h3>{{ 'agencyapp.header' | translate }}</h3>
    </div>
    
    <div class="col-md-2 curdHeadingRight">
        <span class="pull-right">
            <button type="button" mat-fab color="warn" *ngIf="commonservice.isWrite" (click)="addBtn()" [ngClass]="{ 'addBtn-active': isActive, 'addBtn': !isActive  }">
              <i [ngClass]="commonservice.icon.plus" class="font-size-m"></i></button>
        </span>
    </div> 
</div>

<div *ngIf="!commonservice.isRead" class="alert alert-danger">
  {{'common.msg.unauthorized' | translate}}
</div>

<div *ngIf="commonservice.isRead">
  <div class="example-container mat-elevation-z8">
            
    <div class="row">
        
        <div class="col-md-9 paddingTop-10" style="padding-left:30px;" *ngIf="filterTypeVal != 1">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="value" placeholder="Keywords">
              <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''; resetSearch()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
        </div>
    </div>

    <mat-table #table [dataSource]="dataSource">
    
      <!-- No Column -->
      <ng-container matColumnDef="no">
        <mat-header-cell class="text-align-left" style="flex: 0 0 10%;" *matHeaderCellDef> {{ 'agencyapp.tableHeader.num' | translate }} </mat-header-cell>
        <mat-cell class="text-align-left" style="flex: 0 0 10%;" *matCellDef="let element; let i = index;">
          {{(seqPageNum == 1) ? (i + 1) : ((seqPageNum * seqPageSize) - seqPageSize) + (i + 1) }}
        </mat-cell>
      </ng-container>

      <!-- agencyTypeNameEn Column -->
      <ng-container matColumnDef="agencyAppNameEn">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 35%;"> {{ 'agencyapp.tableHeader.appnameEn' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 0 0 35%;"> {{element.list[0].agencyApplicationName}} </mat-cell>
      </ng-container>

      <!-- agencyTypeNameBm Column -->
      <ng-container matColumnDef="agencyAppNameBm">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 35%;"> {{ 'agencyapp.tableHeader.appnameBm' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 0 0 35%;"> {{element.list[1].agencyApplicationName}} </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="agencyAppAction">
        <mat-header-cell *matHeaderCellDef class="actionColumn"> {{ 'agencyapp.tableHeader.action' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element" class="actionColumn">
            <button mat-mini-fab class="bg_orange" (click)="updateRow(element.refCode)" title="Update {{ element.refCode }}">
              <i *ngIf="commonservice.isUpdate" [ngClass]="commonservice.icon.update" title="Update {{ element.refCode }}" ></i>
              <i *ngIf="!commonservice.isUpdate" [ngClass]="commonservice.icon.view" title="View {{ element.refCode }}" ></i>
            </button>
            &nbsp;
            <button mat-mini-fab class="bg_red" *ngIf="commonservice.isDelete" (click)="deleteRow.show()" title="Delete {{ element.refCode }}">
              <i [ngClass]="commonservice.icon.trash" title="Delete {{ element.refCode }}"></i>
            </button>
            <app-confirm-dialog  #deleteRow 
            [title]="'common.icon.warn'" 
            [content]="'common.msg.delete'"
            [state]="'common.state.warn'"
            [isReset]="'true'"
            (resetMethod)="deleteItem(element.refCode)">
            </app-confirm-dialog> 
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div *ngIf="showNoData" class="row text-align-Center padding-20">{{ 'mediauploadtbl.nodata' | translate }} </div>
  </div>

  <div class="float-right paddingTop-15">
    <mat-form-field class="table_footer_pagecount">
      <mat-select class="font-size-s" [(ngModel)]="commonservice.defaultPageSize" class="text-align-Center" (change)="pageChange($event, commonservice.recordTable?.totalPages)">
        <mat-option *ngFor="let pgcount of commonservice.pageSize" [value]="pgcount.size">{{pgcount.size}}</mat-option>
        <!-- <mat-option value="10">10</mat-option>
        <mat-option value="25">25</mat-option>
        <mat-option value="50">50</mat-option> -->
      </mat-select>
    </mat-form-field>
    <span class="float-right">
      <span class="table_footer_pagination">{{ 'agencyapp.tablebottom.page' | translate }}
        <strong>{{commonservice.recordTable?.pageNumber}}</strong> {{ 'agencyapp.tablebottom.of' | translate }}
        <strong>{{commonservice.recordTable?.totalPages}}</strong> {{ 'agencyapp.tablebottom.in' | translate }}
        <strong>{{commonservice.recordTable?.totalElements}}</strong> {{commonservice.recordTable?.totalElements > 1 ? 'Applications' : 'Application'}}</span>
      <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(commonservice.recordTable?.pageNumber)">
        <i [ngClass]="commonservice.icon.arrLeft" aria-hidden="true"></i>
      </button>
      <button mat-mini-fab color="basic" [disabled]="noNextData" (click)="paginatorR(commonservice.recordTable?.pageNumber, commonservice.recordTable?.totalPages)">
        <i [ngClass]="commonservice.icon.arrRight" aria-hidden="true"></i>
      </button>
    </span>
  </div>
  </div>

</div>